{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block content %}
	<div id="todo" class="todo quizzes">
		<table>
			<thead>
				<tr>
					<th>QUIZ</th>
					<th>SUBMITTED</th>
					<th>CORECT</th>
					<th>INCORRECT</th>
					<th>SKIPPED</th>
					<th>POSITION</th>
					<th>TAKE</th>
				</tr>
			</thead>
			<tbody id="quizzes-body">
				{% for quiz in quizzes %}
					<tr>
						<td>{{ quiz.0 }}</td>
						{% if quiz.1 %}
						<td><i class="fa fa-check fa-lg"></i></td>
						{% else %}
						<td><i class="fa fa-close fa-lg"></i></td>
						{% endif %}
						<td>{{ quiz.2|floatformat }} %</td>
						<td>{{ quiz.3|floatformat }} %</td>
						<td>{{ quiz.4|floatformat }} %</td>
						<td><select name="position" class="unit-form form-sm" id="position-select-{{quiz.5}}">
							<optgroup>
								{% for position_group in position_groups %}
									<option value="{{position_group.abbreviation}}">{{position_group.abbreviation}}</option>
								{% endfor %}
							</optgroup>
						</select></td>
						{% if quiz.1 %}
						<td><button onclick="takeQuiz(this)" data-quizid="{{ quiz.5 }}">Retake {{ quiz.0 }}</button></td>
						{% else %}
						<td><button onclick="takeQuiz(this)" data-quizid="{{ quiz.5 }}">Take {{ quiz.0 }}</button></td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block javascript %}
	<script src="{% static 'dashboard/js/sidebarSetActive.js' %}"></script>
	<script type="text/javascript">
		function takeQuiz(buttonClicked){
			var quizID = buttonClicked.dataset["quizid"];
			var selectID = "position-select-" + quizID;
			var positionSelect = document.getElementById(selectID)
			var path = "/quizzes/take/" + quizID + "/" + positionSelect.value;
			window.location.href = path;
		}
	</script>
{% endblock %}
