{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block content %}
	<!-- Overlay Div -->
	<div id="overlay" class="transparent"></div>
	{% include "dashboard/theme_setting.html" %}

	<div id="wrapper" class="preload">
		{% include "dashboard/top_nav_bar.html" %}
		{% include "dashboard/sidebar.html" %}


		<div id="main-container">
			{% include "dashboard/breadcrumb.html" %}
			{% include "dashboard/main_header.html" %}
			{% include "dashboard/grey_container.html" %}

			<div class="padding-md">
				<div class="row dash-row">
					<div class="col-lg-7 dash-col">
						<div class="dash-header text-center">
							<span><h4>PLAYER ANALYTICS</h4></span>
						</div>
						<div class="col-lg-6">
							<div class="panel-stat3 bg-danger">
								<h2 class="m-top-none" id="userCount">362</h2>
								<h5>Registered users</h5>
								<i class="fa fa-arrow-circle-o-up fa-lg"></i><span class="m-left-xs">5% Higher than last week</span>
								<div class="stat-icon">
									<i class="fa fa-user fa-3x"></i>
								</div>
								<div class="refresh-button">
									<i class="fa fa-refresh"></i>
								</div>
								<div class="loading-overlay">
									<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
								</div>
							</div>
						</div><!-- /.col -->
						<div class="col-lg-6">
							<div class="panel-stat3 bg-info">
								<h2 class="m-top-none"><span id="serverloadCount">15</span>%</h2>
								<h5>Server Load</h5>
								<i class="fa fa-arrow-circle-o-up fa-lg"></i><span class="m-left-xs">1% Higher than last week</span>
								<div class="stat-icon">
									<i class="fa fa-hdd-o fa-3x"></i>
								</div>
								<div class="refresh-button">
									<i class="fa fa-refresh"></i>
								</div>
								<div class="loading-overlay">
									<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
								</div>
							</div>
						</div><!-- /.col -->
					</div>
					<div class="col-md-4 cold-sm-4 dash-col">
						<div class="dash-header text-center">
							<span><h4>ASSIGNMENTS COMPLETED</h4></span>
						</div>
						<div class="col-lg-6">
							<div class="panel-stat3 bg-danger">
								<h2 class="m-top-none" id="userCount">362</h2>
								<h5>Registered users</h5>
								<i class="fa fa-arrow-circle-o-up fa-lg"></i><span class="m-left-xs">5% Higher</span>
								<div class="stat-icon">
									<i class="fa fa-user fa-3x"></i>
								</div>
								<div class="refresh-button">
									<i class="fa fa-refresh"></i>
								</div>
								<div class="loading-overlay">
									<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
								</div>
							</div>
						</div><!-- /.col -->
						<div class="col-lg-6">
							<div class="panel-stat3 bg-info">
								<h2 class="m-top-none"><span id="serverloadCount">15</span>%</h2>
								<h5>Server Load</h5>
								<i class="fa fa-arrow-circle-o-up fa-lg"></i><span class="m-left-xs">1% Higher</span>
								<div class="stat-icon">
									<i class="fa fa-hdd-o fa-3x"></i>
								</div>
								<div class="refresh-button">
									<i class="fa fa-refresh"></i>
								</div>
								<div class="loading-overlay">
									<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
								</div>
							</div>
						</div><!-- /.col -->
					</div>

							<div class="loading-overlay">
								<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
							</div>
						</div><!-- /panel -->

						<div class="row dash-row">
							<div class="col-lg-7 dash-col scrollable-col">
								<div id = "table-wrapper">
									<div id="table-scroll">
										<table id="header-fixed" width="100%" overflow="scroll" class="scrollTable">
											<thead class="dash-header">
												<tr>
													<th><h4>TO DO</h4></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Data Not Available</td>
												</tr>
												<tr>
													<td>Data Not Available</td>
												</tr>
												<tr>
													<td>Data Not Available</td>
												</tr>
												<tr>
													<td>Data Not Available</td>
												</tr>
												<tr>
													<td>Data Not Available</td>
												</tr>
												<tr>
													<td>Data Not Available</td>
												</tr>
												<tr>
													<td>Data Not Available</td>
												</tr>
												<tr>
													<td>Data Not Available</td>
												</tr>
												<tr>
													<td>Data Not Available</td>
												</tr>
												<tr>
													<td>Data Not Available</td>
												</tr>
												<tr>
													<td>Data Not Available</td>
												</tr>
												<tr>
													<td>Data Not Available</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="col-md-4 cold-sm-4 dash-col">
								<div class="text-center">
									<span><h4>NEWS FEED</h4></span>
								</div>
								<div class="col-lg-6">
									<div class="panel-stat3 bg-danger">
										<h2 class="m-top-none" id="userCount">362</h2>
										<h5>Registered users</h5>
										<i class="fa fa-arrow-circle-o-up fa-lg"></i><span class="m-left-xs">5% Higher</span>
										<div class="stat-icon">
											<i class="fa fa-user fa-3x"></i>
										</div>
										<div class="refresh-button">
											<i class="fa fa-refresh"></i>
										</div>
										<div class="loading-overlay">
											<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
										</div>
									</div>
								</div><!-- /.col -->
								<div class="col-lg-6">
									<div class="panel-stat3 bg-info">
										<h2 class="m-top-none"><span id="serverloadCount">15</span>%</h2>
										<h5>Server Load</h5>
										<i class="fa fa-arrow-circle-o-up fa-lg"></i><span class="m-left-xs">1% Higher</span>
										<div class="stat-icon">
											<i class="fa fa-hdd-o fa-3x"></i>
										</div>
										<div class="refresh-button">
											<i class="fa fa-refresh"></i>
										</div>
										<div class="loading-overlay">
											<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
										</div>
									</div>
								</div><!-- /.col -->
							</div>

									<div class="loading-overlay">
										<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
									</div>
								</div><!-- /panel -->



	<a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>

	{% include "dashboard/logout_popup.html" %}




  <a href="{% url 'wr_route' %}">WR Quiz</a><br>
  <a href="{% url 'qb_progression' %}">QB Quiz</a><br>
  <a href="{% url 'cb_assignment' %}">CB Quiz</a><br>
  <a href="{% url 'results' %}">Results</a><br>
  <a href="{% url 'results_chart' %}">Results Chart</a><br>
  <a href="{% url 'ol_view' %}">OL Quiz</a><br>
  <a href="{% url 'create_play' %}">Create Play</a><br>
  <a href="{% url 'create_formation' %}">Create Formation</a><br>
{% endblock %}
