<div class="main-header clearfix">
  <div class="page-title">
    <h3 class="no-margin">Dashboard</h3>
    <span>Welcome back Mr.Peyton Manning</span>
  </div><!-- /page-title -->

  <ul class="page-stats">
      <li>
        <div class="value">
          <span>New visits</span>
          <h4 id="currentVisitor">4256</h4>
        </div>
      <span id="visits" class="sparkline"></span>
      </li>
      <li>
        <div class="value">
          <span>My balance</span>
          <h4>$<strong id="currentBalance">32153</strong></h4>
        </div>
        <span id="balances" class="sparkline"></span>
      </li>
    </ul><!-- /page-stats -->
</div><!-- /main-header -->
