# Prevent .DS_Store files from being pushed to the repository.
.DS_Store

# Prevent build artifacts from being pushed to the repository.
venv
.env
*.pyc
staticfiles

# Prevent profile pictures from being pushed to the repository.
media/profile/*