{% extends 'getsnap/base.html' %}
{% load staticfiles %}

{% block page %}
	<div id="getsnap-wrapper">
		<div id="goto-login">
			<p class="bold">FILL OUT THIS FORM TO REQUEST SNAP</p>
			<p>Already have an account? <a href="/login">Sign in</a></p>
		</div>

		<form action="/getsnap" method="post" class="getsnap"> 
			{% csrf_token %}
			<input type="text" name="fname" class="getsnap" placeholder="First Name">
			<input type="text" name="lname" class="getsnap" placeholder="Last Name"> <br>
			<input type="tel" name="number" class="getsnap" placeholder="Phone Number"> <br>
			<input type="email" name="email" class="getsnap" placeholder="Email"> <br>
			<button type="submit">Request Snap</button>
		</form>
	</div>
{% endblock %}