{% extends 'getsnap/base.html' %}
{% load staticfiles %}

{% block page %}
	<div class="login-wrapper">
		<a href="/getsnap/packages">Get Snap</a>
		<a href="/demosnap">Demo Snap</a>

		<div class="text-center">
			<img class="login-logo" src="{% static 'dashboard/images/snap-banner-min.png' %}" alt="">
		</div>

		<form action="/login" method="post" class="login-form"> 
			{% csrf_token %}
			<input type="email" name="email" placeholder="Email"> <br>
			<input type="password" name="password" placeholder="Password"> <br>
			<button type="submit">Sign In</button>
		</form>
	</div><!-- /login-wrapper -->
{% endblock %}
