{% extends 'getsnap/base.html' %}
{% load staticfiles %}

{% block page %}
	<div id="packages-wrapper">
		<div class="getsnap-package">
			<h1>Tier 1</h1>
			<p><strong>$199</strong>/yr</p>
			<hr>

			<ul></ul>
		</div>
		<div class="getsnap-package">
			<h1>Tier 2</h1>
			<p><strong>$399</strong>/yr</p>
			<hr>

			<ul></ul>
		</div>
		<div class="getsnap-package">
			<h1>Enterprise</h1>
			<p>
				<a href="/getsnap">Contact Us</a> 
				for more information on pricing and package features.
			</p>
		</div>

		<a href="/getsnap">Contact us to get started<a>	
	</div>
{% endblock %}