{% extends 'getsnap/base.html' %}
{% load staticfiles %}

{% block page %}
	<div id="register-wrapper">
		<form action="/register" method="post" class="getsnap-form"> 
			{% csrf_token %}
			<input type="text" name="username" placeholder="User Name"> <br>
			<input type="password" name="password1" placeholder="Password"> <br>
			<input type="password" name="password2" placeholder="Check Password"> <br>
			<select name="type">
				<optgroup>
					<option value="coach">Coach</option>
					<option value="player">Player</option>
					<option value="admin">Admin</option>
				</optgroup>
			</select> <br>
			<select name="team">
				<optgroup>
					{% for team in teams %}
						<option value="{{ team.id }}">{{ team.name }}</option>
					{% endfor %}
				</optgroup>
			</select> <br>
			<button type="submit">Register</button>
		</form>
	</div>
{% endblock %}
