{% extends 'getsnap/base.html' %}
{% load staticfiles %}

{% block page %}
	<div id="register-wrapper">
		<form action="/getsnap/setpassword" method="post" class="register">
			{% csrf_token %}
			<input type="hidden" name="token" value="{{token}}"><br>
			<input type="password" name="password1" class="getsnap" placeholder="Password"> <br>
			<input type="password" name="password2" class="getsnap" placeholder="Check Password"> <br>

			<button type="submit">Set Password</button>
		</form>
	</div>
{% endblock %}
