{% extends 'quiz/base.html' %}
{% load static %}
{% load staticfiles %}

{% block buttons %}
  <div class="holds-play-buttons">
    <button id="play-button" class="btn btn-success" name="button">Play</button>
    <button id="pause-button" class="btn btn-success" name="button">Pause</button>
    <button id="restart-button" class="btn btn-success" name="button">Restart</button>
    <button id="clear-button" class="btn btn-success" name="button">Clear</button>
  </div>
{% endblock %}


{% block quiz_type %}
  <script language="javascript" type="text/javascript" src="{% static 'quiz/CBAssignment.js' %}"></script>
  <script type="text/javascript">
      $('#play-button').click(function(){
        pressPlayButton();
      })

      $('#pause-button').click(function(){
        pressPauseButton();
      })

      $('#clear-button').click(function(){
        pressClearButton();
      })

      $('#restart-button').click(function(){
        pressStopButton();

      })
  </script>
{% endblock %}
