{% extends 'quiz/base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}

{% endblock %}
{% block header %}
COVERAGE QUIZ
{% endblock %}

{% block quiz_type %}
<script language="javascript" type="text/javascript" src="{% static 'quiz/coverageQuiz.js' %}"></script>
<script type="text/javascript">

$('#check-button').click(function(){
  var play = test.getCurrentDefensivePlay();
  if(play){
    var player = play.offensiveFormationObject.eligibleReceivers.filter(function(player){return player.clicked})[0]
    if(player){
      checkAnswer(player);
    }
  }
})

$('#clear-button').click(function(){
  clearSelections();
})

$('#restart-button').click(function(){
        if(test && test.feedBackScreenStartTime === 0){
          clearSelections();
          test.restartQuiz();
          currentPlayerTested = null;
        }
      })

$('#next-play-button').click(function(){
  if(test && !test.over && test.feedBackScreenStartTime === 0){
    if(test.showDemo){
      exitDemoScreen();
      return;
    }
    test.skipQuestion();
    currentPlayerTested = null;
  }
})

$('#question-button').click(function(){
  if(test){
    if(test.showDemo){
      exitDemoScreen();
    }else{
      setupDemoScreen();
    }
  }
})
</script>
{% endblock %}

{% block buttons %}
<div class="holds-play-buttons">

  <table class="button-table"><tr>
    <td><button id="check-button" name="button">{% include "quiz/check_button.html" %}</button></td>
    <td><button id="restart-button" name="button">{% include "quiz/refresh_button.html" %}</button></td>
    <td><button id="clear-button" name="button">{% include "quiz/clear_button.html" %}</button></td>
    <td><button id="next-play-button" name="button">{% include "quiz/next_play_button.html" %}</button></td>
    <td><button id="question-button" name="button">{% include "quiz/question_button.html" %}</button></td>
  </tr></table>

</div>
{% endblock %}
