{% extends 'quiz/base.html' %}
{% load static %}
{% load staticfiles %}

{% block quiz_type %}
  <script language="javascript" type="text/javascript" src="{% static 'quiz/createPlay.js' %}"></script>
  <script type="text/javascript">

    $('.formation-button').click(function(){
      currentFormation = formations.filter(function(formationObject){
        return formationObject.name === this.value;
      }.bind(this))[0]
      playBeingCreated.playName = "";
      $('#play-image-header').text(currentFormation.playName);
    })

    $('#save-button').click(function(){
      pressSaveButton();
    })

    $('#clear-button').click(function(){
      pressClearButton();
    })
    $('#zoom-in-button').click(function(){
      var heightInYards = createPlayField.heightInYards;
      var widthInYards = createPlayField.heightInYards * createPlayField.width / createPlayField.height;
      if(heightInYards > 25){
        createPlayField.heightInYards -= 5;
      }else{
        createPlayField.heightInYards = 20;
      }
    })

    $('#zoom-out-button').click(function(){
      var heightInYards = createPlayField.heightInYards;
      var widthInYards = createPlayField.heightInYards * createPlayField.width / createPlayField.height;
      if(heightInYards > 50){
        createPlayField.heightInYards = 55;
      }else{
        createPlayField.heightInYards += 5;
      }
    })
  </script>

{% endblock %}

{% block buttons %}
<div class="holds-play-buttons">
  <table class="button-table"><tr>
  <td><button id="save-button" name="button">{% include "quiz/check_button.html" %}</button></td>
  <td><button id="clear-button" name="button">{% include "quiz/clear_button.html" %}</button></td>
  <td><button id="zoom-in-button" name="button">{% include "quiz/zoom_in_button.html" %}</button></td>
  <td><button id="zoom-out-button" name="button">{% include "quiz/zoom_out_button.html" %}</button></td>
  <td><button id="full-screen-button" name="button">{% include "quiz/full_screen_button.html" %}</button></td>
  </tr></table>
</div>
{% endblock %}

{% block sidebar %}
  <div class="create-play dash-col choose-offensive-formation-box" id="choose-offensive-formation-box">
    <div class="dash-header text-center">
      <span><h4>Offensive Formations</h4></span>
    </div>
    <div class="table-wrapper">
    <table class="formation-list two-column-table">
      {% for formation in offensive_formations %}
      {% if forloop.counter0|divisibleby:2 %}
        <tr>
      {% endif %}
        <td><input class="bounceIn animation-delay5 login-link formation formation-button" id="{{formation.id}}" type="submit" value="{{formation}}"></td>
        {% if forloop.counter|divisibleby:2 %}
        </tr>
        {% endif %}
      {% endfor %}
      {% if offensive_formations|length|add:"1"|divisibleby:2 %}
        <td></td></tr>
      {% endif %}
    </table>
  </div>
      <!--<a href="{% url 'create_formation' %}"><button type="button" name="button">Create New Formation</button></a>-->
  </div>
{% endblock %}

{% block scoreboard %}
{% endblock %}
