{% extends 'quiz/base.html' %}
{% load static %}
{% load staticfiles %}


{% block quiz_type %}
  <script language="javascript" type="text/javascript" src="{% static 'quiz/createDefenseFormation.js' %}"></script>
  <script type="text/javascript">

    $('.formation-button').click(function(){
      currentOffensiveFormation = formations.filter(function(formationObject){
        return formationObject.name === this.value;
      }.bind(this))[0]
      $('#play-image-header').text(currentOffensiveFormation.playName);
    })

    $('.personnel-button').click(function(){
      formationExample.establishPersonnel(this.value, field);
    })

    $('#save-button').click(function(){
      pressSaveButton();
    })

    $('#clear-button').click(function(){
      pressClearButton();
    })
  </script>
{% endblock %}

{% block buttons %}
  <div class="holds-play-buttons">
    <button id="save-button" class="btn btn-success" name="button">Save</button>
    <button id="clear-button" class="btn btn-success" name="button">Clear</button>
  </div>
{% endblock %}

{% block sidebar %}
  <div class="col-lg-2 dash-col choose-offensive-formation-box">
    <div class="dash-header text-center">
      <span><h4>Offensive Formations</h4></span>
    </div>
      {% for formation in offensive_formations %}
        <input class="btn btn-success btn-sm bounceIn animation-delay5 login-link formation formation-button" id="{{formation.id}}" type="submit" value="{{formation}}">
        <br>
      {% endfor %}
      <a href="{% url 'create_formation' %}"><button type="button" name="button">Create New Formation</button></a>
  </div>

  <div class="col-lg-2 dash-col choose-offensive-formation-box">
    <div class="dash-header text-center">
      <span><h4>Defensive Personnel</h4></span>
    </div>
    {% for personnel in personnel %}
      <input class="btn btn-success btn-sm bounceIn animation-delay5 login-link personnel personnel-button" id="{{personnel}}" type="submit" value="{{personnel}}">
      <br>
    {% endfor %}

  </div>
{% endblock %}

{% block scoreboard %}
{% endblock %}
