{% extends 'quiz/base.html' %}
{% load static %}
{% load staticfiles %}

{% block header %}
  Create Formation
{% endblock %}

{% block quiz_type %}
  <script language="javascript" type="text/javascript" src="{% static 'quiz/createFormation.js' %}"></script>
  <script type="text/javascript">

  $('.formation-button').click(function(){
    var starterFormation = formations.filter(function(formationObject){
      return formationObject.name === this.value;
    }.bind(this))[0]
    starterFormation.optionsToCreate = formationExample.optionsToCreate;
    formationExample = starterFormation;
    formationExample.playName = "";
    $('#play-image-header').text("New Formation: " + formationExample.playName);
  })
  $('#save-button').click(function(){
    pressSaveButton();
  })

  $('#clear-button').click(function(){
    pressClearButton();
  })
  $('#zoom-in-button').click(function(){
    var heightInYards = field.heightInYards;
    var widthInYards = field.heightInYards * field.width / field.height;
    if(heightInYards > 25){
      field.heightInYards -= 5;
    }else{
      field.heightInYards = 20;
    }
    resizeBottomButtons()
  })

  $('#zoom-out-button').click(function(){
    var heightInYards = field.heightInYards;
    var widthInYards = field.heightInYards * field.width / field.height;
    if(heightInYards > 50){
      field.heightInYards = 55;
    }else{
      field.heightInYards += 5;
    }
    resizeBottomButtons()
  })
  </script>
{% endblock %}

{% block buttons %}
<div class="holds-play-buttons">
  <table class="button-table"><tr>
  <td><button id="save-button" name="button">{% include "quiz/check_button.html" %}</button></td>
  <td><button id="clear-button" name="button">{% include "quiz/clear_button.html" %}</button></td>
  <td><button id="zoom-in-button" name="button">{% include "quiz/zoom_in_button.html" %}</button></td>
  <td><button id="zoom-out-button" name="button">{% include "quiz/zoom_out_button.html" %}</button></td>
  <td><button id="full-screen-button" name="button">{% include "quiz/full_screen_button.html" %}</button></td>
  </tr></table>
</div>
{% endblock %}

{% block scoreboard %}
{% endblock %}

{% block sidebar %}
  <div class="create-formation dash-col choose-offensive-formation-box" id="choose-offensive-formation-box">
    <div class="dash-header text-center">
      <span><h4>Existing Formations</h4></span>
    </div>
    <div class="table-wrapper">
    <table class="formation-list two-column-table">
      {% for formation in offensive_formations %}
      {% if forloop.counter0|divisibleby:2 %}
        <tr>
      {% endif %}
        <td><input class="bounceIn animation-delay5 login-link formation formation-button" id="{{formation.id}}" type="submit" value="{{formation}}"></td>
        {% if forloop.counter|divisibleby:2 %}
        </tr>
        {% endif %}
      {% endfor %}
      {% if offensive_formations|length|add:"1"|divisibleby:2 %}
        <td></td></tr>
      {% endif %}
    </table>
  </div>
  </div>
{% endblock %}
