{% extends 'quiz/base.html' %}
{% load static %}
{% load staticfiles %}

{% block quiz_type %}
  <script language="javascript" type="text/javascript" src="{% static 'quiz/createPlay.js' %}"></script>
  <script type="text/javascript">

    $('.formation-button').click(function(){
      currentFormation = formations.filter(function(formationObject){
        return formationObject.name === this.value;
      }.bind(this))[0]
      playBeingCreated.playName = "";
      $('#play-image-header').text(currentFormation.playName);
    })

    $('#save-button').click(function(){
      pressSaveButton();
    })

    $('#clear-button').click(function(){
      pressClearButton();
    })
  </script>

{% endblock %}

{% block buttons %}
<div class="holds-play-buttons">
  <table class="button-table"><tr>
  <td><button id="save-button" name="button">{% include "quiz/check_button.html" %}</button></td>
  <td><button id="clear-button" name="button">{% include "quiz/clear_button.html" %}</button></td>
  </tr></table>
</div>
{% endblock %}

{% block sidebar %}
  <div class="col-lg-2 dash-col choose-offensive-formation-box" id="choose-offensive-formation-box">
    <div class="dash-header text-center">
      <span><h4>Offensive Formations</h4></span>
    </div>
      {% for formation in offensive_formations %}
        <input class="btn btn-success btn-sm bounceIn animation-delay5 login-link formation formation-button" id="{{formation.id}}" type="submit" value="{{formation}}">
        <br>
      {% endfor %}
      <a href="{% url 'create_formation' %}"><button type="button" name="button">Create New Formation</button></a>
  </div>
{% endblock %}

{% block scoreboard %}
{% endblock %}
