{% extends 'quiz/base.html' %}
{% load static %}
{% load staticfiles %}


{% block quiz_type %}
  <script language="javascript" type="text/javascript" src="{% static 'quiz/createFormation.js' %}"></script>
  <script type="text/javascript">
    $('#save-button').click(function(){
      pressSaveButton();
    })

    $('#clear-button').click(function(){
      pressClearButton();
    })
  </script>
{% endblock %}

{% block buttons %}
  <div class="holds-play-buttons">
    <button id="save-button" class="btn btn-success" name="button">Save</button>
    <button id="clear-button" class="btn btn-success" name="button">Clear</button>
  </div>
{% endblock %}
