{% extends 'quiz/base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}

{% endblock %}
{% block header %}
FORMATION QUIZ
{% endblock %}

{% block quiz_type %}
  <script type="text/javascript">
    var json_seed = {{ json_seed|safe }};
    console.log(JSON.stringify(json_seed, null, 2));
  </script>

  <script language="javascript" type="text/javascript" src="{% static 'quiz/formationQuiz.js' %}"></script>
  <script type="text/javascript">

    $('#check-button').click(function(){
      for(var i = 1; i <= multipleChoiceAnswers.length; i++){
        var answer = document.getElementById("mc-button-"+i);
        if(answer && answer.classList.contains('clicked')){
          checkMultipleChoiceAnswer(i);
          return false;
        }
      }
    })

    $('#clear-button').click(function(){
      clearMultipleChoiceAnswers();
    })

    $('#restart-button').click(function(){
      if(test && test.feedBackScreenStartTime === 0){
        clearMultipleChoiceAnswers();
        test.restartQuiz();
      }
    })

    $('#next-play-button').click(function(){
      if(test && !test.over && test.feedBackScreenStartTime === 0){
        test.skipQuestion();
        multipleChoiceAnswers = [];
      }
    })

    $('#question-button').click(function(){
      //DEMO SCREEN
    })
  </script>
{% endblock %}

{% block buttons %}
<div class="holds-play-buttons">
  <table class="button-table"><tr>
    <td><button id="check-button" name="button">{% include "quiz/check_button.html" %}</button></td>
    <td><button id="restart-button" name="button">{% include "quiz/refresh_button.html" %}</button></td>
    <td><button id="clear-button" name="button">{% include "quiz/clear_button.html" %}</button></td>
    <td><button id="next-play-button" name="button">{% include "quiz/next_play_button.html" %}</button></td>
    <td><button id="question-button" name="button">{% include "quiz/question_button.html" %}</button></td>
  </tr></table>
</div>
{% endblock %}
