{% extends 'quiz/base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}

{% endblock %}
{% block header %}
MOTION QUIZ
{% endblock %}

{% block quiz_type %}
<script language="javascript" type="text/javascript" src="{% static 'quiz/motionQuiz.js' %}"></script>
<script type="text/javascript">
$('#play-button').click(function(){
        //pressPlayButton();
    })

$('#pause-button').click(function(){
        //pressPlayButton();
    })

$('#check-button').click(function(){
  for(var i = 0; i < multipleChoiceAnswers.length; i++){
    if(multipleChoiceAnswers[i].clicked){
      var answer = multipleChoiceAnswers[i];
      if(answer.clicked){
        checkAnswer(i);
      }
    }
  }
})

$('#clear-button').click(function(){
  clearAnswers();
})

$('#restart-button').click(function(){
        //pressStopButton();
    })

$('#next-play-button').click(function(){
  if(test && !test.over){
    test.skipQuestion();
    currentPlayerTested = null;
    multipleChoiceAnswers = [];
  }
})
$('#zoom-in-button').click(function(){
  var heightInYards = field.heightInYards;
  var widthInYards = field.heightInYards * field.width / field.height;
  if(heightInYards > 25){
    field.heightInYards -= 5;
  }else{
    field.heightInYards = 20;
  }
})

$('#zoom-out-button').click(function(){
  var heightInYards = field.heightInYards;
  var widthInYards = field.heightInYards * field.width / field.height;
  if(heightInYards > 50){
    field.heightInYards = 55;
  }else{
    field.heightInYards += 5;
  }
})
</script>
{% endblock %}
{% block buttons %}
<div class="holds-play-buttons">

  <button id="play-button" class="btn btn-success" name="button">{% include "quiz/play_button.html" %}</button>
  <button id="pause-button" class="btn btn-success" name="button">{% include "quiz/pause_button.html" %}</button>
  <button id="check-button" class="btn btn-success" name="button">{% include "quiz/check_button.html" %}</button>
  <button id="restart-button" class="btn btn-success" name="button">{% include "quiz/refresh_button.html" %}</button>
  <button id="clear-button" class="btn btn-success" name="button">{% include "quiz/clear_button.html" %}</button>
  <button id="next-play-button" class="btn btn-success" name="button">{% include "quiz/next_play_button.html" %}</button>
  <td><button id="zoom-in-button" name="button">{% include "quiz/zoom_in_button.html" %}</button></td>
  <td><button id="zoom-out-button" name="button">{% include "quiz/zoom_out_button.html" %}</button></td>
  <td><button id="full-screen-button" name="button">{% include "quiz/full_screen_button.html" %}</button></td>
</div>
{% endblock %}
