{% extends 'quiz/base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}

{% endblock %}
{% block header %}
TWO DEEP ZONE
{% endblock %}

{% block quiz_type %}
  <script language="javascript" type="text/javascript" src="{% static 'quiz/passZones.js' %}"></script>
  <script type="text/javascript">
      $('#check-button').click(function(){
        var coverageMap = test.getCurrentCoverageMap();
        if(!coverageMap){
          return false;
        }
        for(var i = 0; i < coverageMap.zones.length; i++){
          var zone = coverageMap.zones[i];
          if(zone && zone.clicked){
            checkAnswer(zone);
            return false;
          }
        }
      })

      $('#clear-button').click(function(){
        if(test){
          var coverageMap = test.getCurrentCoverageMap();
          if(coverageMap){
            coverageMap.clearClicks();
          }
        }

      })

      $('#restart-button').click(function(){
        if(test && test.feedbackScreenStartTime === 0){
          var coverageMap = test.getCurrentCoverageMap();
          if(coverageMap){
            coverageMap.clearClicks();
          }
          test.restartQuiz();
        }
      })

      $('#next-play-button').click(function(){
        if(test && !test.over && test.feedbackScreenStartTime === 0){
          var coverageMap = test.getCurrentCoverageMap();
          if(coverageMap){
            coverageMap.clearClicks();
          }
          test.skipQuestion();

        }
      })
  </script>
{% endblock %}

{% block buttons %}
<div class="holds-play-buttons">
  <table class="button-table"><tr>
  <td><button id="check-button" name="button">{% include "quiz/check_button.html" %}</button></td>
  <td><button id="restart-button" name="button">{% include "quiz/refresh_button.html" %}</button></td>
  <td><button id="clear-button" name="button">{% include "quiz/clear_button.html" %}</button></td>
  <td><button id="next-play-button" name="button">{% include "quiz/next_play_button.html" %}</button></td>
  <td><button id="question-button" name="button">{% include "quiz/question_button.html" %}</button></td>
  </tr></table>
</div>
{% endblock %}
