{% extends 'quiz/base.html' %}
{% load static %}
{% load staticfiles %}

{% block header %}
  WR Route
{% endblock %}


{% block edit_test_button %}
  <a class="btn btn-success" href="/tests/{{test.id}}/edit">Edit Test</a>
{% endblock %}

{% block quiz_type %}
  <script language="javascript" type="text/javascript" src="{% static 'quiz/WRRoute.js' %}"></script>
  <script type="text/javascript">
  var json_seed = {{ json_seed|safe }};

  $('#play-button').click(function(){
    debugger;
    pressPlayButton();
  })

  $('#pause-button').click(function(){
    pressPlayButton();
  })

  $('#check-button').click(function(){
    var currentPlay = test.getCurrentPlay();
    if (currentPlay){
      selectedWR = currentPlay.findSelectedWR()
      if(selectedWR){
        selectedWR.checkRoutes(currentPlay);
      }
    }
  })

  $('#clear-button').click(function(){
    var currentPlay = test.getCurrentPlay();
    if (currentPlay){
      currentPlay.clearProgression();
      currentPlay.clearRouteDrawings();
      test.scoreboard.feedbackMessage = "";
    }
  })

  $('#back-button').click(function(){
    var currentPlay = test.getCurrentPlay();
    if (currentPlay){
      var selectedWR = currentPlay.findSelectedWR();
      if(selectedWR)selectedWR.stepRouteBackward();
    }
  })

  $('#restart-button').click(function(){
    pressStopButton();
  })

  $('#next-play-button').click(function(){
    if (test.getCurrentPlay()){
      test.skipQuestion();
      pressStopButton();
    }
  })
</script>
  </script>
{% endblock %}
