{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block content %}
	<div id="playbook" class="playbook">
		<div id="top-options">
			<select id="top-options-dropdown" onchange="changeSideviewAndTopOptions(this)">
				{% if unit == "offense" or unit == "all" %}
					<option value="offensive playbook">
						Offensive Playbook
					</option>
					<option value="offensive concepts">
						Offensive Concepts
					</option>
					<option value="defensive looks">
						Scout Defenses
					</option>
				{% endif %}
				{% if unit == "defense" or unit == "all" %}
					<option value="defensive playbook">
						Defensive Playbook
					</option>
					<option value="defensive concepts">
						Defensive Concepts
					</option>
					<option value="offensive looks">
						Scout Offenses
					</option>
				{% endif %}
			</select>

			{% if user_is_a_coach %}
				<div id="create-formation-button">
					<a href="formations/create">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle-thin fa-stack-2x"></i>
							<i class="fa fa-plus fa-stack-1x"></i>
						</span>
						CREATE FORMATION
					</a>
				</div>

				<div id="create-play-button">
					<a href="plays/create">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle-thin fa-stack-2x"></i>
							<i class="fa fa-plus fa-stack-1x"></i>
						</span>
						CREATE PLAY
					</a>
				</div>
			{% endif %}
		</div>

		<div id="display-box" class="col-md-8 bordered-div">
			<div id="header-box" class="static-header display-header">
				Playbook
			</div>

			<div id="quiz-box">
			</div>

			<div class="mainview-buttons">
				<button id="play-button" name="button">
					<i class="fa fa-play fa-2x mainview-button-icon" title="Play"></i>
				</button>

				<button id="pause-button" name="button">
					<i class="fa fa-pause fa-2x mainview-button-icon" title="Pause"></i>
				</button>

				<button id="restart-button" name="button">
					<i class="fa fa-refresh fa-2x mainview-button-icon" title="Restart"></i>
				</button>

				<button id="zoom-in-button" name="button">
					<i class="fa fa-search-plus fa-2x mainview-button-icon" title="Zoom in"></i>
				</button>

				<button id="zoom-out-button" name="button">
					<i class="fa fa-search-minus fa-2x mainview-button-icon" title="Zoom out"></i>
				</button>

				<button id="flip-field-button" name="button">
					<i class="fa fa-arrows-v fa-2x mainview-button-icon" title="Flip field"></i>
				</button>

			</div>
		</div>

		<div id="sideview" class="col-md-3">
			<div id="sideview-header">
				Formations
			</div>
			<div id="sideview-buttons">

			</div>
			<div id="sideview-footer">

			</div>
		</div>

		<div id="notes-and-calls" class="col-md-12" hidden="true">
			<div id="notes" class="col-md-4" hidden="true">
				<h3 id="notes-header">Notes</h3>
				<ul id="notes-list">
				</ul>
			</div>

			<div id="calls" class="col-md-4" hidden="true">
				<h3 id="calls-header">Calls for Positions</h3>
				<ul id="calls-list">
				</ul>
			</div>

			<div id="player-notes" class="col-md-4" hidden="true">
				<h3 id="player-notes-header">Notes for Player</h3>
				<ul id="player-notes-list">
				</ul>
			</div>
		</div>

	<div id="test-id" test-id="{{test.id}}" style="display: none;"></div>
	<div id="team-id" team-id="{{team.id}}" style="display: none;"></div>
	<div id="player-id" player-id="{{player.id}}" style="display: none;"></div>
{% endblock %}

{% block javascript %}
	<script src="{% static 'dashboard/js/jquery-1.10.2.min.js' %}"></script>
	<script type="text/javascript">
		var playButtonClicked = false;
		var formations = [];
		var plays = [];
		var play;
		var concepts = [];
		var concept;
		var scout_formations = [];
		var scout_formation;
		var dummy_offense;
		var primary_position = null;
		var teamID = document.getElementById("team-id").getAttribute("team-id");

		//*******************************************************************//
		// p5.js Animation Functions                                         //
		//*******************************************************************//

		function setup() {
			var display_box = document.getElementById("display-box");
			var display_box_header = display_box.querySelector(".display-header");
			var display_box_footer = display_box.querySelector(".mainview-buttons");
			var sideview = document.getElementById("sideview");
			var height = sideview.offsetHeight - (display_box_header.offsetHeight + display_box_footer.offsetHeight);

			// 4px is the combined size of the borders on either side. What is a better way to do this?
			var width = display_box.offsetWidth - 4;

			// Create canvas and add it to the main view
			var quiz_box_div = document.getElementById("quiz-box");
			var myCanvas = createCanvas(width, height);

			field.height = height;
			field.width = width;
			field.viewPoint = "offense";
			field.heightInYards = 35;
			field.ballYardLine = 65;
			background(58, 135, 70);

			myCanvas.parent("quiz-box");

			// Load formations from Json passed from databse.
			var formationJsonFromDatabase = "";

			{% for formation in formations %}
			formationJsonFromDatabase = '{{ formation.formationJson|safe }}';
			formations.push(createFormationFromJson(JSON.parse(formationJsonFromDatabase)));
			{% endfor %}

			// Load plays from Json passed from database.
			var playJsonFromDatabase = "";

			{% for play in plays %}
			playJsonFromDatabase = '{{ play.playJson|safe }}';
			plays.push(createPlayFromJson(JSON.parse(playJsonFromDatabase)));
			{% endfor %}

			// Load concepts from Json passed from database
			var conceptJsonFromDatabase = "";

			{% for concept in concepts %}
			conceptJsonFromDatabase = '{{ concept.conceptJson|safe }}';
			concepts.push(createConceptFromJson(JSON.parse(conceptJsonFromDatabase)));
			{% endfor %}

			// Load scout formations from Json passed from databse.
			var scoutFormationJsonFromDatabase = "";

			{% for scoutFormation in scoutFormations %}
			scoutFormationJsonFromDatabase = '{{ scoutFormation.formationJson|safe }}';
			scout_formations.push(createFormationFromJson(JSON.parse(scoutFormationJsonFromDatabase)));
			{% endfor %}

			{% if primary_position %}
				primary_position = "{{primary_position.abbreviation}}"
			{% endif %}

			// Create new Play, new Concept, new Scout Formation, and new Dummy Offense
			play = new Play({});
			concept = new Concept({});
			scout_formation = new Formation({});
			dummy_offense = new Formation({});

			//If user passed in additional info, load the correct content here
			{% if initial_playbook %}
				var initial_playbook = "{{initial_playbook}}".toLowerCase();
				//setSelectedTopOption(initial_playbook);
				var top_options_dropdown = document.getElementById('top-options-dropdown');
				var top_options_array = ['offensive playbook', 'offensive concepts', 'defensive looks'];
				if(top_options_array.indexOf(initial_playbook) >= 0){
					top_options_dropdown.selectedIndex = top_options_array.indexOf(initial_playbook);
					setSelectedTopOption(initial_playbook);
				}
			{% elif unit or unit == "offense" or unit == "both" %}
				setSelectedTopOption("offensive playbook");
			{% else %}
				setSelectedTopOption("defensive playbook");
			{% endif %}
			{% if initial_formation %}
				var initial_formation_name = "{{initial_formation}}";
				var sideview_buttons = document.getElementById("sideview-buttons");
				for(var i = 0; i < sideview_buttons.children.length; i++){
					var button = sideview_buttons.children[i];
					if(button.name === initial_formation_name){
						button.click();
						break;
					}
				}
			{% endif %}

			{% if initial_play %}
				var initial_play_name = "{{initial_play}}";
				var sideview_buttons = document.getElementById("sideview-buttons");
				for(var i = 0; i < sideview_buttons.children.length; i++){
					var button = sideview_buttons.children[i];
					if(button.name === initial_play_name){
						button.click();
						break;
					}
				}
			{% endif %}

			{% if initial_scout_defense %}
				var toggle_button = document.getElementById("offense-defense-toggle");
				toggle_button.click();
				var initial_scout_defense_name = "{{initial_scout_defense}}";
				var sideview_buttons = document.getElementById("sideview-buttons");
				for(var i = 0; i < sideview_buttons.children.length; i++){
					var button = sideview_buttons.children[i];
					if(button.name === initial_scout_defense_name){
						button.click();
						break;
					}
				}
			{% endif %}

			{% if initial_concept %}
				var initial_concept_name = "{{initial_concept}}";
				var sideview_buttons = document.getElementById("sideview-buttons");
				for(var i = 0; i < sideview_buttons.children.length; i++){
					var button = sideview_buttons.children[i];
					if(button.name === initial_concept_name){
						button.click();
						break;
					}
				}
			{% endif %}

			{% if initial_defense %}
				var initial_defense_name = "{{initial_defense}}";
				var sideview_buttons = document.getElementById("sideview-buttons");
				for(var i = 0; i < sideview_buttons.children.length; i++){
					var button = sideview_buttons.children[i];
					if(button.name === initial_defense_name){
						button.click();
						break;
					}
				}
			{% endif %}

			window.onresize = function() {
				var display_box = document.getElementById("display-box");
				var display_box_header = display_box.querySelector(".display-header");
				var display_box_footer = display_box.querySelector(".display-buttons");
				var sideview = document.getElementById("sideview");
				var height = sideview.offsetHeight - (display_box_header.offsetHeight + display_box_footer.offsetHeight);
				var width = display_box.offsetWidth - 4;

				resizeCanvas(width, height);
				field.height = height;
				field.width = width;

				resizeMainViewObjects();
			};

			drawOpening();
		};

		function draw() {
			// Limitations on where offensive players can be
			var numberOfOffensivePlayers = play.offensivePlayers.length;

			for (var i = 0; i < numberOfOffensivePlayers; ++i) {
				var player = play.offensivePlayers[i];
				var playerXPixel = field.getTranslatedX(player.x);
				var playerYPixel = field.getTranslatedY(player.y);
				var playerXYard = player.x;
				var playerYYard = player.y;

				// Keep the players within the screen
				if (playerXPixel < 0) {
					player.x = field.getYardX(0);
				} else if (playerXPixel > field.width) {
					player.x = field.getYardX(field.width);
				}

				if (playerYPixel < 0) {
					player.y = player.getYardY(0);
				} else if (playerYPixel > field.height) {
					player.y = player.getYardY(field.height)
				}

				// Keep the players on the field
				if (playerXYard < 0) {
					player.x = 0;
				} else if (playerXYard > 53.33) {
					player.x = 53.33;
				}

				if (playerYYard < -10) {
					player.y = 0;
				} else if (playerYYard > 110) {
					player.y = 110;
				}
			}

			// Limitations on where defensive players can be
			var numberOfDefensivePlayers = play.defensivePlayers.length;

			for (var i = 0; i < numberOfDefensivePlayers; ++i) {
				var player = play.defensivePlayers[i];
				var playerXPixel = field.getTranslatedX(player.x);
				var playerYPixel = field.getTranslatedY(player.y);
				var playerXYard = player.x;
				var playerYYard = player.y;

				// Keep the players within the screen
				if (playerXPixel < 0) {
					player.x = field.getYardX(0);
				} else if (playerXPixel > field.width) {
					player.x = field.getYardX(field.width);
				}

				if (playerYPixel < 0) {
					player.y = player.getYardY(0);
				} else if (playerYPixel > field.height) {
					player.y = player.getYardY(field.height)
				}

				// Keep the players on the field
				if (playerXYard < 0) {
					player.x = 0;
				} else if (playerXYard > 53.33) {
					player.x = 53.33;
				}

				if (playerYYard < -10) {
					player.y = -10;
				} else if (playerYYard > 110) {
					player.y = 110;
				}
			}

			// Draw opening
			drawOpening();
		};

		function drawOpening() {
			field.drawBackground(play, height, width);

			if(primary_position != null){
				var concept_player = concept.getPlayerFromPosition(primary_position);
				if(concept_player != null){
					concept_player.setSelected();
				}
				var play_player = play.getPlayerFromPosition(primary_position);
				if(play_player != null){
					play_player.setSelected();
				}
			}

			if (playButtonClicked) {
				if (concept.runConcept() && play.runPlay()) {
					playButtonClicked = false;
					//concept.resetConcept();
				}
			} else {
				play.drawAssignments(field);
				concept.drawAssignments(field);
			}

			play.drawPlayers(field);
			concept.drawPlayers(field);

			var selectedPlayer = play.getSelected()[0];
			if(selectedPlayer == null){
				selectedPlayer = concept.getSelected()[0];
			}

			if(selectedPlayer != null){
				//do more drawing here
				selectedPlayer.drawCalls(field);
				selectedPlayer.drawNotes(field);
			}

			scout_formation.drawPlayers(field);
			scout_formation.drawAssignments(field);
			dummy_offense.drawPlayers(field);

			fill(176,176,176);
		};

		//*******************************************************************//
		// p5.js Event Listeners                                             //
		//*******************************************************************//

		function mousePressed() {};

		function mouseDragged() {};

		function mouseReleased() {};

		function keyPressed() {};

		function keyTyped() {};

		//*******************************************************************//
		// jQuery Event Listener Functions                                   //
		//*******************************************************************//

		$("#play-button").click(function(event) {
			playButtonClicked = !playButtonClicked;
		});

		$("#pause-button").click(function(event) {
			playButtonClicked = !playButtonClicked;
		});

		$("#restart-button").click(function(event) {
			concept.resetConcept();
			play.resetPlay();
			playButtonClicked = false;
		});

		$("#zoom-in-button").click(function(event) {
			var heightInYards = field.heightInYards;
			var widthInYards = field.heightInYards * field.width / field.height;

			if(heightInYards > 25) {
				field.heightInYards -= 5;
			} else {
				field.heightInYards = 20;
			}

			resizeMainViewObjects();
		});

		$("#zoom-out-button").click(function(event) {
			var heightInYards = field.heightInYards;
			var widthInYards = field.heightInYards * field.width / field.height;

			if(heightInYards > 50) {
				field.heightInYards = 55;
			} else {
				field.heightInYards += 5;
			}

			resizeMainViewObjects();
		});

		$("#flip-field-button").click(function(event) {
			field.flipView();
		});

		function setSelectedTopOption(option_label){
			var top_options = document.getElementById("top-options");

			play = new Play({});
			concept = new Concept({});
			scout_formation = new Formation({});

			updateNotesAndCalls(play);
			updateSideviewFooter(play);

			var mainview_header = document.getElementById("header-box");
			mainview_header.textContent = "Playbook";

			if (option_label === "offensive playbook" || option_label === "defensive playbook") {
				var unit = "offense";
				if(option_label === "defensive playbook"){
					unit = "defense"
				}
				showFormations(unit);

				dummy_offense = new Formation({unit: unit});

				{% if user_is_a_coach %}
				var create_concept_button = document.getElementById("create-concept-button");
				var create_defensive_look_button = document.getElementById("create-defensive-look-button");

				// Remove top option buttons we don't need
				if (create_concept_button != null) { top_options.removeChild(create_concept_button); }
				if (create_defensive_look_button != null) { top_options.removeChild(create_defensive_look_button); }

				// Create and add ones we do need
				var create_formation_icon_2x = document.createElement("i");
				create_formation_icon_2x.setAttribute("class", "fa fa-circle-thin fa-stack-2x");

				var create_formation_icon_1x = document.createElement("i");
				create_formation_icon_1x.setAttribute("class", "fa fa-plus fa-stack-1x");

				var create_formation_icon_span = document.createElement("span");
				create_formation_icon_span.setAttribute("class", "fa-stack fa-lg");
				create_formation_icon_span.appendChild(create_formation_icon_2x);
				create_formation_icon_span.appendChild(create_formation_icon_1x);

				var create_formation_button_link = document.createElement("a");
				create_formation_button_link.setAttribute("href", "formations/create");
				if(unit === "defense"){
					create_formation_button_link.setAttribute("href", "formations/create/defensive_look");
				}
				create_formation_button_link.textContent = "CREATE FORMATION";
				create_formation_button_link.insertBefore(create_formation_icon_span, create_formation_button_link.firstChild);

				var create_formation_button = document.createElement("div");
				create_formation_button.setAttribute("id", "create-formation-button");
				create_formation_button.appendChild(create_formation_button_link);

				top_options.appendChild(create_formation_button);

				var create_play_icon_2x = document.createElement("i");
				create_play_icon_2x.setAttribute("class", "fa fa-circle-thin fa-stack-2x");

				var create_play_icon_1x = document.createElement("i");
				create_play_icon_1x.setAttribute("class", "fa fa-plus fa-stack-1x");

				var create_play_icon_span = document.createElement("span");
				create_play_icon_span.setAttribute("class", "fa-stack fa-lg");
				create_play_icon_span.appendChild(create_play_icon_2x);
				create_play_icon_span.appendChild(create_play_icon_1x);

				var create_play_button_link = document.createElement("a");
				create_play_button_link.setAttribute("href", "plays/create");
				create_play_button_link.textContent = "CREATE PLAY";
				create_play_button_link.insertBefore(create_play_icon_span, create_play_button_link.firstChild);

				var create_play_button = document.createElement("div");
				create_play_button.setAttribute("id", "create-play-button");
				create_play_button.appendChild(create_play_button_link);

				top_options.appendChild(create_play_button);
				{% endif %}
			} else if (option_label === "offensive concepts") {
				showConcepts();

				dummy_offense = new Formation({});

				{% if user_is_a_coach %}
				var create_defensive_look_button = document.getElementById("create-defensive-look-button");
				var create_formation_button = document.getElementById("create-formation-button");
				var create_play_button = document.getElementById("create-play-button");

				// Remove top option buttons we don't need
				if (create_defensive_look_button != null) { top_options.removeChild(create_defensive_look_button); }
				if (create_formation_button != null) { top_options.removeChild(create_formation_button); }
				if (create_play_button != null) { top_options.removeChild(create_play_button); }

				// Create and add ones we do need
				var create_concept_icon_2x = document.createElement("i");
				create_concept_icon_2x.setAttribute("class", "fa fa-circle-thin fa-stack-2x");

				var create_concept_icon_1x = document.createElement("i");
				create_concept_icon_1x.setAttribute("class", "fa fa-plus fa-stack-1x");

				var create_concept_icon_span = document.createElement("span");
				create_concept_icon_span.setAttribute("class", "fa-stack fa-lg");
				create_concept_icon_span.appendChild(create_concept_icon_2x);
				create_concept_icon_span.appendChild(create_concept_icon_1x);

				var create_concept_button_link = document.createElement("a");
				create_concept_button_link.setAttribute("href", "concepts/create");
				create_concept_button_link.textContent = "CREATE CONCEPT";
				create_concept_button_link.insertBefore(create_concept_icon_span, create_concept_button_link.firstChild);

				var create_concept_button = document.createElement("div");
				create_concept_button.setAttribute("id", "create-concept-button");
				create_concept_button.appendChild(create_concept_button_link);

				top_options.appendChild(create_concept_button);
				{% endif %}
			} else if (option_label === "defensive looks") {
				showDefensiveLooks();

				var dummy_formation = new Formation({});
				dummy_offense = dummy_formation.createDummyFormation();

				{% if user_is_a_coach %}
				var create_concept_button = document.getElementById("create-concept-button");
				var create_formation_button = document.getElementById("create-formation-button");
				var create_play_button = document.getElementById("create-play-button");

				// Remove top option buttons we don't need
				if (create_concept_button != null) { top_options.removeChild(create_concept_button); }
				if (create_formation_button != null) { top_options.removeChild(create_formation_button); }
				if (create_play_button != null) { top_options.removeChild(create_play_button); }

				// Create and add ones we do need
				var create_defensive_look_icon_2x = document.createElement("i");
				create_defensive_look_icon_2x.setAttribute("class", "fa fa-circle-thin fa-stack-2x");

				var create_defensive_look_icon_1x = document.createElement("i");
				create_defensive_look_icon_1x.setAttribute("class", "fa fa-plus fa-stack-1x");

				var create_defensive_look_icon_span = document.createElement("span");
				create_defensive_look_icon_span.setAttribute("class", "fa-stack fa-lg");
				create_defensive_look_icon_span.appendChild(create_defensive_look_icon_2x);
				create_defensive_look_icon_span.appendChild(create_defensive_look_icon_1x);

				var create_defensive_look_button_link = document.createElement("a");
				create_defensive_look_button_link.setAttribute("href", "formations/create/defensive_look");
				create_defensive_look_button_link.textContent = "CREATE DEFENSIVE LOOK";
				create_defensive_look_button_link.insertBefore(create_defensive_look_icon_span, create_defensive_look_button_link.firstChild);

				var create_defensive_look_button = document.createElement("div");
				create_defensive_look_button.setAttribute("id", "create-defensive-look-button");
				create_defensive_look_button.appendChild(create_defensive_look_button_link);

				top_options.appendChild(create_defensive_look_button);
				{% endif %}
			}
		}

		// changeSideviewAndTopOptions the sideview with the appropriate content
		// from the playbook and updates the buttons on the top of the screen.
		function changeSideviewAndTopOptions(selected) {
			setSelectedTopOption(selected.value);
			//clear or update sideview footer?!?
		};

		function updateSideviewFooter(content){
			var currentPlaybook = document.getElementById("top-options-dropdown").value;

			var content_type = "Play";
			var content_name = "";

			var sideview_footer = document.getElementById("sideview-footer");
			sideview_footer.innerHTML = "";

			if(content != null){
				if(content instanceof Concept){
					content_type = "Concept";
				}else if(content instanceof Formation){
					content_type = "Formation";
					if(content.unit === "defense"){
						content_type = "Defensive Look"
					}
				}else if(content instanceof Play){
					content_type = "Play";
				}
				content_name = content.getFullName();
				if(content_name === ""){
					return;//leave empty
				}
			}else{
				return; //leave empty
			}

			{% if user_is_a_coach %}
				var edit_button = document.createElement("button");
				edit_button.setAttribute("onclick", "contentButtonPressed(this)");
				edit_button.textContent = "Edit " + content_name; //TBI - better label
				edit_button.dataset.button_type = "edit";
				edit_button.dataset.content_type = content_type;
				var delete_button = document.createElement("button");
				delete_button.setAttribute("onclick", "contentButtonPressed(this)");
				delete_button.textContent = "Delete " + content_name; //TBI - better label
				delete_button.dataset.button_type = "delete";
				delete_button.dataset.content_type = content_type;

				sideview_footer.appendChild(edit_button)
				sideview_footer.appendChild(delete_button)
			{% else %}
				var take_quiz_button = document.createElement("button");
				take_quiz_button.setAttribute("onclick", "startQuizButtonPressed()");
				take_quiz_button.textContent = "Start Quiz On " + content_name; //TBI - better label
				sideview_footer.appendChild(take_quiz_button)
			{% endif %}
		}

		// showFormations loads the formation buttons back into the sideview
		// removes the back icon. It also adds all the formation buttons back.
		function showFormations(unit) {
			var sideview_header = document.getElementById("sideview-header");
			sideview_header.textContent = "Formations";

			var mainview_header = document.getElementById("header-box");
			mainview_header.textContent = "Playbook";

			$("#sideview-buttons").empty();

			var sideview_buttons = document.getElementById("sideview-buttons")

			for(i in formations) {
				if(formations[i].unit === unit){
					var formation_button = document.createElement("button");
					formation_button.setAttribute("class", "btn btn-primary sideview-button");
					formation_button.setAttribute("name", formations[i].name);
					formation_button.setAttribute("onclick", "formationButtonClicked(this)");
					formation_button.textContent = formations[i].name;

					sideview_buttons.appendChild(formation_button);
				}
			}

			play = new Play({});
			updateSideviewFooter(null);
		};

		// showConcepts updates the sideview to include all of the concepts in
		// the playbook.
		function showConcepts() {
			var sideview_header = document.getElementById("sideview-header");
			sideview_header.textContent = "Concepts";

			var mainview_header = document.getElementById("header-box");
			mainview_header.textContent = "Playbook";

			$("#sideview-buttons").empty();

			var sideview_buttons = document.getElementById("sideview-buttons")

			for(i in concepts) {
				var concept_button = document.createElement("button");
				concept_button.setAttribute("class", "btn btn-primary sideview-button");
				concept_button.setAttribute("name", concepts[i].name);
				concept_button.setAttribute("onclick", "changeSelectedConcept(this)");
				concept_button.textContent = concepts[i].name;

				sideview_buttons.appendChild(concept_button);
			}
		};

		function formationButtonClicked(selected){
			var formation_selected = selected;
			var formation_name = formation_selected.getAttribute("name");

			for (i in formations) {
				if (formation_name === formations[i].name) {
					formation_selected = formations[i].deepCopy();
					break;
				}
			}

			if(formation_selected != null){
				showPlaysInFormation(formation_selected);
			}


		}

		// showPlaysInFormation is called when a formation sideview button
		// is pressed. It changes the sideview header text to the name of the
		// formation selected. It also removes all the formation buttons and
		// replaces them with play buttons. It adds clickable back icon to
		// sideview header div so that you can go back to formations.
		function showPlaysInFormation(formation) {
			var sideview_header = document.getElementById("sideview-header");
			var mainview_header = document.getElementById("header-box");
			mainview_header.textContent = formation.name;

			$("#sideview-buttons").empty();

			var back_arrow = document.createElement("i");
			back_arrow.setAttribute("id", "back-arrow");
			back_arrow.setAttribute("class", "fa fa-2x fa-angle-left");
			back_arrow.setAttribute("onclick", "showFormations(\"" + formation.unit + "\")");

			sideview_header.textContent = formation.name;

			sideview_header.appendChild(back_arrow);

			updateNotesAndCalls(formation);
			updateSideviewFooter(formation);

			play.fromFormation(formation);

			var sideview_buttons = document.getElementById("sideview-buttons");

			for (i in plays) {
				if (plays[i].formation === formation.name && plays[i].scoutName === "") {
					var play_button = document.createElement("button");
					play_button.setAttribute("class", "btn btn-primary sideview-button");
					play_button.setAttribute("name", plays[i].name);
					play_button.setAttribute("onclick", "changeSelectedPlay(this)");
					play_button.textContent = plays[i].name;

					sideview_buttons.appendChild(play_button);
				}
			}
		};

		// showDefensiveLooks updates the sideview to include all of the defensive
		// looks in the playbook.
		function showDefensiveLooks() {
			var sideview_header = document.getElementById("sideview-header");
			sideview_header.textContent = "Defensive Looks";

			var mainview_header = document.getElementById("header-box");
			mainview_header.textContent = "Playbook";

			$("#sideview-buttons").empty();

			var sideview_buttons = document.getElementById("sideview-buttons")

			for(i in scout_formations) {
				var formation_button = document.createElement("button");
				formation_button.setAttribute("class", "btn btn-primary sideview-button");
				formation_button.setAttribute("name", scout_formations[i].name);
				formation_button.setAttribute("onclick", "changeSelectedScoutFormation(this)");
				formation_button.textContent = scout_formations[i].name;

				sideview_buttons.appendChild(formation_button);
			}
		};

		function contentButtonPressed(button){
			var button_type = button.dataset.button_type;
			var content_type = button.dataset.content_type;
			var content = play;

			if(content_type == "Concept"){
				content = concept;
			}else if(content_type == "Defensive Look"){
				content = scout_formation;
			}

			if(button_type == "edit"){
				editContent(content, content_type);
			}else if(button_type == "delete"){
				var sideview_footer = document.getElementById("sideview-footer");
				var confirm_delete_button = sideview_footer.children[1];
				//confirm_delete_button.setAttribute("onclick", "contentButtonPressed(this)");
				confirm_delete_button.textContent = "CONFIRM DELETE"
				confirm_delete_button.dataset.button_type = "confirm-delete";
				confirm_delete_button.style.backgroundColor = "red"
				confirm_delete_button.style.color = "black"
				//confirm_delete_button.dataset.content_type = content_type;
				//sideview_footer.children[1] = confirm_delete_button;
			}else if(button_type == "confirm-delete"){
				deleteContent(content, content_type);
			}
		}

		function editContent(content, content_type){
			//generate a link to the create_screen with initial values set
			var link = "";
			if(content_type == "Concept"){
				link = "/playbook/concepts/create?initial_concept="+content.name;
			}else if(content_type == "Defensive Look"){
				link = "/playbook/formations/create/defensive_look?initial_look="+content.name;
			}else if(content_type == "Formation"){
				link = "/playbook/formations/create?initial_formation="+content.formation;
			}else if(content_type == "Play"){
				link = "/playbook/plays/create?initial_formation="+content.formation;
				link += "&initial_play=" + content.name;
				if(content.scoutName != ""){
					link += "&initial_scout=" + content.scoutName;
				}
			}

			window.location.href = link;
		}

		function deleteContent(content, content_type){
			//figure out what the currently selected content is
			//generate prompt to ask user if sure
			//prompt_text += "Warning: This will delete all plays in this formation as well."
			var path = "/playbook/concepts/create";
			var csrf_token = "{{ csrf_token }}";
			if(content_type == "Defensive Look"){
				path = "/playbook/formations/create/defensive_look";
			}else if(content_type == "Formation"){
				path = "/playbook/formations/create";
			} else if(content_type == "Play"){
				path = "/playbook/plays/create";
			}

			if(content_type == "Formation"){
				content = new Formation({name:content.formation});
			}

			content.delete(path, csrf_token);
			window.location.href = "/playbook" //add initial_view later depending on content

		}

		function changeSelectedPlay(selected) {
			// The newly selected button is the one that is clicked on. The old
			// selected button may not exist.
			var new_selected = selected;
			var old_selected = document.getElementById("selected");

			var sideview_header = document.getElementById("sideview-header");
			var toggle_button = document.getElementById("offense-defense-toggle");

			if (toggle_button != null) {
				sideview_header.removeChild(toggle_button);
			}

			var play_formation = play.formation;

			// Create a new play to replace the one you just deselected on the
			// screen. Use the same formation that you were already using.
			var formation = play.formation;
			play = new Play({});

			updateNotesAndCalls(play);
			updateSideviewFooter(play);

			var mainview_header = document.getElementById("header-box");
			mainview_header.textContent = formation;

			for (i in formations) {
				if (formation === formations[i].name) {
					play.fromFormation(formations[i]);
					break;
				}
			}

			// If there was a previously selected button remove it's selected
			// id attribute and change it from btn-success to btn-primary.
			if (old_selected != null) {
				old_selected.removeAttribute("id");
				old_selected.removeAttribute("class");
				old_selected.setAttribute("class", "btn btn-primary sideview-button");
			}

			// If the old selected button is the same as the newly selected
			// button we are done. If it isn't we need to update the newly
			// selected button and the main view area.
			if (old_selected != new_selected) {
				// Change the color of the newly selected button and set it's
				// id to.
				new_selected.removeAttribute("class");
				new_selected.setAttribute("id", "selected");
				new_selected.setAttribute("class", "btn btn-success sideview-button");

				toggle_button = document.createElement("div");
				toggle_button.setAttribute("id", "offense-defense-toggle");
				toggle_button.setAttribute("onclick", "showDefensiveLooksForPlay()");
				toggle_button.textContent = "D";

				sideview_header.appendChild(toggle_button);

				var play_name = new_selected.getAttribute("name");

				mainview_header.textContent = play_name;

				for (i in plays) {
					if (plays[i].formation === play_formation && plays[i].name === play_name && plays[i].scoutName === "") {
						play = plays[i].deepCopy();
						break;
					}
				}

				updateNotesAndCalls(play);
				updateSideviewFooter(play);

				var header_text_content = play_name;
				play_name = document.getElementById("play-name");

				if (play_name === null) {
					play_name = document.createElement("p");
					play_name.setAttribute("id", "play-name");
				}

				play_name.textContent = header_text_content;
				document.getElementById("header-box").appendChild(play_name);
			}
		};

		// showDefensiveLooks updates the sideview to include all of the defensive
		// looks in the playbook.
		function showDefensiveLooksForPlay() {
			var sideview_header = document.getElementById("sideview-header");
			sideview_header.textContent = "Defensive Looks";

			var toggle_button = document.createElement("div");
			toggle_button.setAttribute("id", "offense-defense-toggle");
			toggle_button.setAttribute("onclick", "showOffense()");
			toggle_button.textContent = "O";
			sideview_header.appendChild(toggle_button);

			$("#sideview-buttons").empty();

			var sideview_buttons = document.getElementById("sideview-buttons");

			for (i in scout_formations) {
				for (j in plays) {
					if (plays[j].name === play.name && plays[j].formation === play.formation && plays[j].scoutName === scout_formations[i].name) {
						var scout_formation_button = document.createElement("button");
						scout_formation_button.setAttribute("class", "btn btn-primary sideview-button scout-button");
						scout_formation_button.setAttribute("name", scout_formations[i].name);
						scout_formation_button.setAttribute("onclick", "changeSelectedPlayWithDefensiveLook(this)");
						scout_formation_button.textContent = scout_formations[i].name;

						sideview_buttons.appendChild(scout_formation_button);
					}
				}
			}
		};

		function changeSelectedPlayWithDefensiveLook(selected) {
			var play_name = play.name;
			var formation_name = play.formation;

			// The newly selected button is the one that is clicked on. The old
			// selected button may not exist.
			var new_selected = selected;
			var old_selected = document.getElementById("selected");

			var mainview_header = document.getElementById("header-box");
			mainview_header.textContent = play_name;

			// Create a new play to replace the one you just deselected on the
			// screen. Use the same formation that you were already using.
			var formation = formation_name;

			for (i in plays) {
				if (plays[i].formation === formation_name && plays[i].name === play_name && plays[i].scoutName === "") {
					play = plays[i].deepCopy();
					break;
				}
			}

			updateNotesAndCalls(play);
			updateSideviewFooter(play);

			for (i in formations) {
				if (formation === formations[i].name) {
					play.fromFormation(formations[i]);
					break;
				}
			}

			// If there was a previously selected button remove it's selected
			// id attribute and change it from btn-success to btn-primary.
			if (old_selected != null) {
				old_selected.removeAttribute("id");
				old_selected.removeAttribute("class");
				old_selected.setAttribute("class", "btn btn-primary sideview-button");
			}

			// If the old selected button is the same as the newly selected
			// button we are done. If it isn't we need to update the newly
			// selected button and the main view area.
			if (old_selected != new_selected) {
				// Change the color of the newly selected button and set it's
				// id to.
				new_selected.removeAttribute("class");
				new_selected.setAttribute("id", "selected");
				new_selected.setAttribute("class", "btn btn-success sideview-button");

				var scout_name = new_selected.getAttribute("name");
				mainview_header.textContent = play_name + " vs " + scout_name;

				for (i in plays) {
					if (plays[i].formation === formation_name && plays[i].name === play_name && plays[i].scoutName === scout_name) {
						play = plays[i].deepCopy();
						break;
					}
				}

				updateNotesAndCalls(play);
				updateSideviewFooter(play);
			}
		};

		function changeSelectedConcept(selected) {
			// The newly selected button is the one that is clicked on. The old
			// selected button may not exist.
			var new_selected = selected;
			var old_selected = document.getElementById("selected");

			concept = new Concept({});

			updateNotesAndCalls(concept);
			updateSideviewFooter(concept);

			var mainview_header = document.getElementById("header-box");
			mainview_header.textContent = "Playbook";

			// If there was a previously selected button remove it's selected
			// id attribute and change it from btn-success to btn-primary.
			if (old_selected != null) {
				old_selected.removeAttribute("id");
				old_selected.removeAttribute("class");
				old_selected.setAttribute("class", "btn btn-primary sideview-button");
			}

			// If the old selected button is the same as the newly selected
			// button we are done. If it isn't we need to update the newly
			// selected button and the main view area.
			if (old_selected != new_selected) {
				// Change the color of the newly selected button and set it's
				// id to
				new_selected.removeAttribute("class");
				new_selected.setAttribute("id", "selected");
				new_selected.setAttribute("class", "btn btn-success sideview-button");

				var concept_name = new_selected.getAttribute("name");

				mainview_header.textContent = concept_name;

				for (i in concepts) {
					if (concept_name === concepts[i].name) {
						concept = concepts[i].deepCopy();
						break;
					}
				}

				updateNotesAndCalls(concept);
				updateSideviewFooter(concept);
			}
		};

		function changeSelectedScoutFormation(selected) {
			// The newly selected button is the one that is clicked on. The old
			// selected button may not exist.
			var new_selected = selected;
			var old_selected = document.getElementById("selected");

			scout_formation = new Formation({});

			var mainview_header = document.getElementById("header-box");
			mainview_header.textContent = "Playbook";

			// If there was a previously selected button remove it's selected
			// id attribute and change it from btn-success to btn-primary.
			if (old_selected != null) {
				old_selected.removeAttribute("id");
				old_selected.removeAttribute("class");
				old_selected.setAttribute("class", "btn btn-primary sideview-button");
			}

			// If the old selected button is the same as the newly selected
			// button we are done. If it isn't we need to update the newly
			// selected button and the main view area.
			if (old_selected != new_selected) {
				// Change the color of the newly selected button and set it's
				// id to
				new_selected.removeAttribute("class");
				new_selected.setAttribute("id", "selected");
				new_selected.setAttribute("class", "btn btn-success sideview-button");

				var scout_formation_name = new_selected.getAttribute("name");

				mainview_header.textContent = scout_formation_name;

				for (i in scout_formations) {
					if (scout_formation_name === scout_formations[i].name) {
						scout_formations[i].updateCoverageForOffense(dummy_offense)
						scout_formation = scout_formations[i].deepCopy();
						break;
					}
				}
			}

			updateSideviewFooter(scout_formation);
		};

		function showOffense() {
			// Get the play and formation name.
			var formation_name = play.formation;
			var play_name = play.name;

			// Update the mainview header.
			var mainview_header = document.getElementById("header-box");
			mainview_header.textContent = play_name;

			// Update the sideview header.
			var sideview_header = document.getElementById("sideview-header");
			sideview_header.textContent = formation_name;

			var back_arrow = document.createElement("i");
			back_arrow.setAttribute("id", "back-arrow");
			back_arrow.setAttribute("class", "fa fa-2x fa-angle-left");
			back_arrow.setAttribute("onclick", "showFormations(\"" + play.unit + "\")");

			var toggle_button = document.createElement("div");
			toggle_button.setAttribute("id", "offense-defense-toggle");
			toggle_button.setAttribute("onclick", "showDefensiveLooksForPlay()");
			toggle_button.textContent = "D";

			sideview_header.appendChild(back_arrow);
			sideview_header.appendChild(toggle_button);

			// Update sideview buttons.
			$("#sideview-buttons").empty();
			var sideview_buttons = document.getElementById("sideview-buttons");

			for (i in plays) {
				if (plays[i].formation === formation_name && plays[i].scoutName === "") {
					var play_button = document.createElement("button");

					if (plays[i].name === play_name) {
						play = plays[i].deepCopy();
						play_button.setAttribute("id", "selected");
						play_button.setAttribute("class", "btn btn-success sideview-button play-button");
					} else {
						play_button.setAttribute("class", "btn btn-primary sideview-button play-button");
					}

					play_button.setAttribute("name", plays[i].name);
					play_button.setAttribute("onclick", "changeSelectedPlay(this)");
					play_button.textContent = plays[i].name;

					sideview_buttons.appendChild(play_button);
				}
			}
		};

		// updateNotesAndCalls emptys the list of formation notes and updates
		// them with the notes for the new formation.
		function updateNotesAndCalls(content) {
			var notes_and_calls = document.getElementById("notes-and-calls");
			if (notes_and_calls != null) { notes_and_calls.setAttribute("hidden", true); }

			// Update Notes
			var notes = document.getElementById("notes");
			if (notes != null) { notes.setAttribute("hidden", "true"); }

			var notes_list = document.getElementById("notes-list");

			while (notes_list.firstChild) {
				notes_list.removeChild(notes_list.firstChild);
			}

			if (notes != null && content != null && content.notes.length > 0) {
				for (i in content.notes) {
					var list_item = document.createElement("li");
					list_item.textContent = content.notes[i];
					notes_list.appendChild(list_item);
				}

				notes.removeAttribute("hidden");
				if (notes_and_calls != null) { notes_and_calls.removeAttribute("hidden"); }
			}

			if (!content instanceof Formation) {
				// Update Calls
				var calls = document.getElementById("calls");
				if (calls != null)  { calls.setAttribute("hidden", "true"); }

				var calls_list = document.getElementById("calls-list");

				while (calls_list.firstChild) {
					calls_list.removeChild(calls_list.firstChild);
				}

				if (calls != null && content != null) {
					for (i in content.offensivePlayers) {
						if (content.offensivePlayers[i].call != "") {
							var list_item = document.createElement("li");
							list_item.textContent = content.offensivePlayers[i].pos + ": " + content.offensivePlayers[i].call;
							calls_list.appendChild(list_item);
							calls.removeAttribute("hidden");
							if (notes_and_calls != null) { notes_and_calls.removeAttribute("hidden"); }
						}
					}

					for (i in content.defensivePlayers) {
						if (content.defensivePlayers[i].call != "") {
							var list_item = document.createElement("li");
							list_item.textContent = content.defensivePlayers[i].pos + ": " + content.defensivePlayers[i].call;
							calls_list.appendChild(list_item);
							calls.removeAttribute("hidden");
							if (notes_and_calls != null) { notes_and_calls.removeAttribute("hidden"); }
						}
					}
				}

				// Update Player Notes
				var player_notes = document.getElementById("player-notes");
				if (player_notes != null) { player_notes.setAttribute("hidden", "true"); }

				var player_notes_list = document.getElementById("player-notes-list");

				while (player_notes_list.firstChild) {
					player_notes_list.removeChild(player_notes_list.firstChild);
				}

				var player = content.getSelected()[0];

				if (player_notes != null && player != null && player.notes.length > 0) {
					for (i in player.notes) {
						var list_item = document.createElement("li");
						list_item.textContent = player.notes[i];
						player_notes_list.appendChild(list_item);
					}

					player_notes.removeAttribute("hidden");
					if (notes_and_calls != null) { notes_and_calls.removeAttribute("hidden"); }
				}
			}
		};

		// resizeMainViewObjects resizes all of the buttons and bars in our
		// main view. It is called when the user resizes their browser.
		function resizeMainViewObjects() {};
	</script>
{% endblock %}
