{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Overlay Div -->
<div id="overlay" class="transparent"></div>
{% include "dashboard/theme_setting.html" %}

<div id="wrapper" class="preload">

	{% include "dashboard/sidebar.html" %}

  <script src="{% static 'dashboard/js/sidebarSetActive.js' %}"></script>


	<div id="main-container">
		{% include "dashboard/top_nav_bar.html" %}

		{% include "dashboard/grey_container.html" %}

		<div class="padding-md">
			<div class="panel playbook-top-panel">
				<div class="col-lg-3">
					<a href="/create_group">
						<span><img class="coach-action-icon" src="{% static 'dashboard/images/plus-icon-dark.png' %}" alt="">&nbsp;&nbsp;&nbsp;CREATE GROUP</span>
					</a>
				</div>
				<div class="col-lg-3"><a href="/quiz/create_formation" id="add-player-link">
					<span><img class="coach-action-icon" src="{% static 'dashboard/images/plus-icon-dark.png' %}" alt="">&nbsp;&nbsp;&nbsp;ADD PLAYER</span>
				</a></div>
				<div class="col-lg-3"><a href="/quiz/create_play" id="manage-groups-link">
					<span><img class="coach-action-icon" src="{% static 'dashboard/images/groups-icon-dark.png' %}" alt="">&nbsp;&nbsp;&nbsp;MANAGE GROUPS</span>
				</a></div>
			</div>

			<div class="panel group-select-panel">
				<script type="text/javascript">
					var createUserTable = function(users){
						var innerHTML = "<table class=\"player-list\">";
						innerHTML += "<tr>"
						innerHTML += "<th>Player</th><th>Position</th><th>Year</th><th>Starter</th><th>Overall</th>"
						innerHTML += "</tr>"
						for(var i = 0; i < users.length; i++){
							var user = users[i];
							innerHTML += "<tr>"
							innerHTML += "<td>" + user.getFullName() + "</td>"
							innerHTML += "<td>" + user.position + "</td>"
							innerHTML += "<td>SR</td>"
							innerHTML += "<td>1st</td>"
							innerHTML += "<td>96%</td>"
							innerHTML += "</tr>"
						}
						innerHTML += "</table>"
						return innerHTML;
					}

					var changeGroup = function(sel){
						var groupTableWrapper = document.getElementById('group-table-wrapper');
						var playerLink = document.getElementById('add-player-link');
						var manageLink = document.getElementById('manage-groups-link');
						var groupID = sel.value;
						var queryString = "/groups/" + groupID + "/json";
						var users = [];
						$.getJSON(queryString, function(data, jqXHR){
				      data.forEach(function(userObject){
								var u = createUserFromJSON(userObject);
								users.push(u);
								groupTableWrapper.innerHTML = createUserTable(users);
							});
						});

						var initGroupTable = function(){
							debugger;
							var sel = document.getElementById('group-form');
							changeGroup(sel);
						};
						/*
						if(sel.selectedIndex === 0){
							//OFFENSE
							defenseBox.classList.add('hidden');
							offenseBox.classList.remove('hidden');
							//set href of image links to link to offensive play/formation
							formationLink.href = "/quiz/create_formation"
							playLink.href = "/quiz/create_play"
						}else{
							//DEFENSE
							offenseBox.classList.add('hidden');
							defenseBox.classList.remove('hidden');
							formationLink.href = "/quiz/create_defense_formation"
							playLink.href = "/quiz/create_defense_formation"
							//set href of image links to link to defensive play/formation
						}*/
					};
			</script>
			<form>
				<select name="units" class="unit-form" id="group-form" onchange="changeGroup(this)">
					<optgroup label="Groups"> <!-- Use this to create sub-groups -->
						<!-- REPLACE THE FOLLOWING WITH A DJANGO FOR LOOP THROUGH GROUPS -->
						{% for group in groups %}
						<option value="{{group.id}}">&nbsp;&nbsp;&nbsp;{{group}}</option>
						{% endfor %}
					</optgroup>
				</select>
			</form>
			</div>

			<div class="row dash-row group-home">
				<div class="col-lg-7 news-col" id="display-group-box">
					<div class = "table-wrapper" id="group-table-wrapper">

					</div>
				</div>
				<div class="col-lg-4 news-col">
					<div class="text-center news-header">
						<span><h4>{{team}} Units [TBD]</h4></span>
					</div>
					<div class = "table-wrapper">
						<table>
							<tbody>
								<tr>
									<td>Data Not Available</td>
								</tr>
								<tr>
									<td>Data Not Available</td>
								</tr>
								<tr>
									<td>Data Not Available</td>
								</tr>
								<tr>
									<td>Data Not Available</td>
								</tr>
								<tr>
									<td>Data Not Available5</td>
								</tr>
								<tr>
									<td>Data Not Available6</td>
								</tr>
								<tr>
									<td>Data Not Available7</td>
								</tr>
								<tr>
									<td>Data Not Available8</td>
								</tr>
								<tr>
									<td>Data Not Available9</td>
								</tr>
								<tr>
									<td>Data Not Available10</td>
								</tr>
								<tr>
									<td>Data Not Available11</td>
								</tr>
								<tr>
									<td>Data Not Available12</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="loading-overlay">
					<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
				</div>
			</div><!-- /panel -->



			<a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>
			{% endblock %}
