{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Overlay Div -->
<div id="overlay" class="transparent"></div>
{% include "dashboard/theme_setting.html" %}

<div id="wrapper" class="preload">

	{% include "dashboard/sidebar.html" %}

  <script src="{% static 'dashboard/js/sidebarSetActive.js' %}"></script>


	<div id="main-container" onload="initGroupTable()">
		{% include "dashboard/top_nav_bar.html" %}

		{% include "dashboard/grey_container.html" %}

		<div class="padding-md">
			<div class="playbook-top-panel">
				<div class="col-lg-3">
					<a href="/create_group">
						<span><img class="coach-action-icon" src="{% static 'dashboard/images/plus-icon-dark.png' %}" alt="">&nbsp;&nbsp;&nbsp;CREATE GROUP</span>
					</a>
				</div>
				<div class="col-lg-3"><a href="/quiz/create_formation" id="add-player-link">
					<span><img class="coach-action-icon" src="{% static 'dashboard/images/plus-icon-dark.png' %}" alt="">&nbsp;&nbsp;&nbsp;ADD PLAYER</span>
				</a></div>
				<div class="col-lg-3"><a href="/groups/1" id="manage-groups-link">
					<span><img class="coach-action-icon" src="{% static 'dashboard/images/groups-icon-dark.png' %}" alt="">&nbsp;&nbsp;&nbsp;MANAGE GROUPS</span>
				</a></div>
			</div>

			<div class="group-select-panel">
				<script type="text/javascript">
					var createUserTable = function(users){
						var innerHTML = "<table class=\"player-list\">";
						innerHTML += "<tr>"
						innerHTML += "<th>PLAYER</th><th>POS</th><th>YR</th><th>RESULTS</th>"
						innerHTML += "</tr>"
						for(var i = 0; i < users.length; i++){
							var user = users[i];
							innerHTML += "<tr>"
							innerHTML += "<td>" + user.getFullName() + "</td>"
							innerHTML += "<td>" + user.position + "</td>"
							innerHTML += "<td>SR</td>"
							innerHTML += "<td>96%</td>"
							innerHTML += "</tr>"
						}
						innerHTML += "</table>"
						return innerHTML;
					}

					var changeGroup = function(sel){
						var groupTableWrapper = document.getElementById('group-table-wrapper');
						var playerLink = document.getElementById('add-player-link');
						var manageLink = document.getElementById('manage-groups-link');
						var subManageLink = document.getElementById('manage-group-link');
						var groupID = sel.value;
						manageLink.href = '/groups/' + groupID;
						subManageLink.href = manageLink.href;
						var queryString = "/groups/" + groupID + "/json";
						var users = [];
						$.getJSON(queryString, function(data, jqXHR){
				      data.forEach(function(userObject){
								var u = createUserFromJSON(userObject);
								users.push(u);
								groupTableWrapper.innerHTML = createUserTable(users);
							});
						});
					};

					var initGroupTable = function(){
						debugger;
						var sel = document.getElementById('group-form');
						changeGroup(sel);
					};
					/*
					if(sel.selectedIndex === 0){
						//OFFENSE
						defenseBox.classList.add('hidden');
						offenseBox.classList.remove('hidden');
						//set href of image links to link to offensive play/formation
						formationLink.href = "/quiz/create_formation"
						playLink.href = "/quiz/create_play"
					}else{
						//DEFENSE
						offenseBox.classList.add('hidden');
						defenseBox.classList.remove('hidden');
						formationLink.href = "/quiz/create_defense_formation"
						playLink.href = "/quiz/create_defense_formation"
						//set href of image links to link to defensive play/formation
					}*/
			</script>
			<form>
				<select name="units" class="unit-form" id="group-form" onchange="changeGroup(this)">
					<optgroup label="Groups"> <!-- Use this to create sub-groups -->
						<!-- REPLACE THE FOLLOWING WITH A DJANGO FOR LOOP THROUGH GROUPS -->
						{% for group in groups %}
							<option value="{{group.id}}">&nbsp;&nbsp;&nbsp;{{group}}</option>
						{% endfor %}
					</optgroup>
				</select>
			</form>
			</div>

			<div class="row dash-row group-home">
				<div class="col-lg-8 news-col" id="display-group-box">
					<div class = "table-wrapper" id="group-table-wrapper">
						<table class="player-list">
							<tbody>
								<tr>
									<th>PLAYER</th><th>POS</th><th>YR</th><th>RESULTS</th>
								</tr>
								{% if first_players %}
                {% for player in first_players %}
								<tr>
								<td>{{player.first_name}} {{player.last_name}}</td>
								<td>{{player.position}}</td>
								<td>SR</td>
								<td>96%</td>
							</tr>
                {% endfor %}
								{% endif %}
							</tbody>
						</table>
					</div>
					<div class = "table-footer">
						<table class="group-footer-table">
							<tbody>
								<tr>
									<td>edit name</td>
									<td>color</td>
									<td><a href="/groups/1" id="manage-group-link">manage group</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-lg-3 group-analytics-col no-border">
					<div class = "table-wrapper">
						<table class = "group-analytics">
							<tbody>
								<tr>
									<td><img src="{% static 'dashboard/images/progress-wheel.png' %}" alt=""><h3>SPEED</h3></td>
								</tr>
								<tr>
									<td><img src="{% static 'dashboard/images/progress-wheel.png' %}" alt=""><h3>ACCURACY</h3></td>
								</tr>
								<tr>
									<td><img src="{% static 'dashboard/images/progress-wheel.png' %}" alt=""><h3>OVERALL</h3></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="loading-overlay">
					<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
				</div>
			</div><!-- /panel -->



			<a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>
			{% endblock %}
