{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Overlay Div -->
<div id="overlay" class="transparent"></div>
{% include "dashboard/theme_setting.html" %}

<div id="wrapper" class="preload">

	{% include "dashboard/sidebar.html" %}

  <script src="{% static 'dashboard/js/sidebarSetActive.js' %}"></script>


	<div id="main-container">
		{% include "dashboard/top_nav_bar.html" %}

		{% include "dashboard/grey_container.html" %}

		<div class="padding-md">


			<div class="row dash-row">
				<div class="col-lg-7 dash-col">
					<div class="text-center dash-header">
						<span><h4>{{team}} Groups</h4></span>
					</div>
					<div class = "table-wrapper">
						<table>
							<tbody>
                {% for group in groups %}
								<tr>
									<td><a href="{% url 'group_detail' group.id %}">{{ group }}</a></td>
								</tr>
                {% endfor %}

							</tbody>
						</table>
					</div>
				</div>
				<div class="col-lg-4 news-col">
					<div class="text-center news-header">
						<span><h4>NEWS FEED</h4></span>
					</div>
					<div class = "table-wrapper">
						<table>
							<tbody>
								<tr>
									<td>Data Not Available</td>
								</tr>
								<tr>
									<td>Data Not Available</td>
								</tr>
								<tr>
									<td>Data Not Available</td>
								</tr>
								<tr>
									<td>Data Not Available</td>
								</tr>
								<tr>
									<td>Data Not Available5</td>
								</tr>
								<tr>
									<td>Data Not Available6</td>
								</tr>
								<tr>
									<td>Data Not Available7</td>
								</tr>
								<tr>
									<td>Data Not Available8</td>
								</tr>
								<tr>
									<td>Data Not Available9</td>
								</tr>
								<tr>
									<td>Data Not Available10</td>
								</tr>
								<tr>
									<td>Data Not Available11</td>
								</tr>
								<tr>
									<td>Data Not Available12</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="loading-overlay">
					<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
				</div>
			</div><!-- /panel -->



			<a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>
			{% endblock %}
