{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% load chartit %}



{% block content %}


<!-- Overlay Div -->
<div id="overlay" class="transparent"></div>
{% include "dashboard/theme_setting.html" %}

<div id="wrapper" class="preload">

	{% include "dashboard/sidebar.html" %}

  <script src="{% static 'dashboard/js/sidebarSetActive.js' %}"></script>


	<div id="main-container">
		{% include "dashboard/top_nav_bar.html" %}

		{% include "dashboard/grey_container.html" %}

		<div class="padding-md">
			<div class="row dash-row">
				<div id="chart-container">{{ chart.as_html }} </div>
				<div class="col-lg-4">
					<div class="centered">
						<div class="panel-stat3 bg-danger">
								<h2 class="m-top-none" id="userCount">Times Taken: {{ test_results|length }}</h2>
								<h5>{{test.player}}</h5>
								<i class="fa fa-arrow-circle-o-up fa-lg"></i><span class="m-left-xs">{{test}}</span>
								<div class="stat-icon">
									<i class="fa fa-user fa-3x"></i>
								</div>
								<div class="refresh-button">
									<i class="fa fa-refresh"></i>
								</div>
								<div class="loading-overlay">
									<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
								</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="centered">
						<div class="panel-body">
								<div id="donutChart" style="height: 250px;"></div>
							</div>
					</div>
				</div>
				<div class="centered">
					<!-- BOTTOM BUTTONS GO HERE -->
				</div>
			</div>

			<div class="row dash-row">
				<div class="col-lg-11 news-col">
					<div class="col-lg-6">
						<!-- EXPAND TO FULL SCREEN BUTTON GOES HERE (aligned right) -->
						<div class="panel-body" id="trafficWidget">
								<div id="placeholder" class="graph" style="height:250px"></div>
						</div>
						<!-- BOTTOM-LEFT BUTTONS GO HERE (aligned center) -->
					</div>
					<div class="col-lg-6">
						<!-- EXPAND TO FULL SCREEN BUTTON GOES HERE (aligned right) -->
						<div class="panel panel-default">
							<div class="panel-heading">
								Work Progress

								<span class="badge badge-info pull-right">
									4 left
								</span>
							</div>
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Task</th>
										<th>Progress</th>
										<th></th>
										<th>Time</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Bug Fixes</td>
										<td>
											<div class="progress progress-striped active" style="height:8px; margin:5px 0 0 0;">
												<div class="progress-bar" style="width: 45%">
													<span class="sr-only">45% Complete</span>
												</div>
											</div>
										</td>
										<td>45%</td>
										<td><span class="badge badge-info">2hr</span></td>
									</tr>
									<tr>
										<td>Mobile Development</td>
										<td>
											<div class="progress progress-striped active" style="height:8px; margin:5px 0 0 0;">
												<div class="progress-bar progress-bar-success" style="width: 61%">
													<span class="sr-only">61% Complete</span>
												</div>
											</div>
										</td>
										<td>61%</td>
										<td><span class="badge badge-info">1hr</span></td>
									</tr>
									<tr>
										<td>Unit Testing</td>
										<td>
											<div class="progress progress-striped active" style="height:8px; margin:5px 0 0 0;">
												<div class="progress-bar progress-bar-danger" style="width: 97%">
													<span class="sr-only">97% Complete</span>
												</div>
											</div>
										</td>
										<td>97%</td>
										<td><span class="badge badge-info">5m</span></td>
									</tr>
									<tr>
										<td>New frontend layout</td>
										<td>
											<div class="progress progress-striped active" style="height:8px; margin:5px 0 0 0;">
												<div class="progress-bar progress-bar-warning" style="width: 18%">
													<span class="sr-only">18% Complete</span>
												</div>
											</div>
										</td>
										<td>18%</td>
										<td><span class="badge badge-info">12hr</span></td>
									</tr>
								</tbody>
							</table>
						</div><!-- /panel -->
						<!-- BOTTOM-RIGHT BUTTONS GO HERE (aligned center) -->
					</div>
				</div>
			</div><!-- /panel -->



			<a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>
			{% endblock %}
