{% extends 'dashboard/includes/header.html' %}

{% block page %}
	<!-- Overlay Div -->
	<div id="overlay" class="transparent"></div>
	{% include "dashboard/theme_setting.html" %}

	<div id="wrapper" class="preload">
		{% include "dashboard/sidebar.html" %}

		<div id="main-container">
			{% include "dashboard/navbar.html" %}
			{% include "dashboard/grey_container.html" %}

			{% block content %}
			{% endblock %}
		</div><!--/main-container-->

		<div class="loading-overlay">
			<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
		</div>

		<a href="" id="scroll-to-top" class="hidden-print">
			<i class="fa fa-chevron-up"></i>
		</a>
	</div><!--/wrapper-->

	{% block javascript %}
	{% endblock %}
{% endblock %}