{% load staticfiles %}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<!-- Jquery -->
<script src="{% static 'dashboard/js/jquery-1.10.2.min.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static 'dashboard/js/bootstrap/bootstrap.js' %}"></script>

<!-- Flot -->
<script src="{% static 'dashboard/js/jquery.flot.min.js' %}"></script>

<!-- Morris -->
<script src='{% static 'dashboard/js/rapheal.min.js' %}'></script>
<script src='{% static 'dashboard/js/morris.min.js' %}'></script>

<!-- Colorbox -->
<script src='{% static 'dashboard/js/jquery.colorbox.min.js' %}'></script>

<!-- Sparkline -->
<script src='{% static 'dashboard/js/jquery.sparkline.min.js' %}'></script>

<!-- Pace -->
<script src='{% static 'dashboard/js/uncompressed/pace.js' %}'></script>

<!-- Popup Overlay -->
<script src='{% static 'dashboard/js/jquery.popupoverlay.min.js' %}'></script>

<!-- Slimscroll -->
<script src='{% static 'dashboard/js/jquery.slimscroll.min.js' %}'></script>

<!-- Modernizr -->
<script src='{% static 'dashboard/js/modernizr.min.js' %}'></script>

<!-- Cookie -->
<script src='{% static 'dashboard/js/jquery.cookie.min.js' %}'></script>

<!-- Endless -->
<script src="{% static 'dashboard/js/endless/endless_dashboard.js' %}"></script>
<script src="{% static 'dashboard/js/endless/endless.js' %}"></script>
<script src="{% static 'dashboard/js/pace.min.js' %}"></script>
<script language="javascript" type="text/javascript" src="{% static 'quiz/ajaxMethods.js' %}"></script>


<script>
  $(function()	{
    //Timeline color box
    $('.timeline-img').colorbox({
      rel:'group1',
      width:"90%",
      maxWidth:'800px'
    });
  });
</script>
