{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block content %}
	<div class="edit-profile padding-md">
		<form class="form-edit-profile" method="post" action="/change_password> 
			{% csrf_token %}
			
			<div class="form-group">
				<label for="group_name">Current Password:</label> 
				<input type="text" name="current-password" id="current-password" class="unit-form form-sm" placeholder="Current Password" required>
			</div>

			<div class="form-group">
				<label for="group_name">New Password:</label> 
				<input type="text" name="new-password-1" id="new-password-1" class="unit-form form-sm" placeholder="New Password" required>
			</div>

			<div class="form-group">
				<label for="group_name">New Password:</label> 
				<input type="text" name="new-password-2" id="new-password-2" class="unit-form form-sm" placeholder="Retype New Password" required>
			</div>

			<div class="text-left">
				<button class="btn btn-success btn-md" type="submit">Change Password</button>
				<button class="btn btn-danger btn-md" type="reset">Cancel</button>
			</div>
		</form>
	</div><!--/padding-md-->
{% endblock %}

{% block javascript %}
{% endblock %}
