{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% load app_filters %}

{% block content %}
	<div class="coach-homepage">
		<div class="coach-button-container col-md-12">
			<a id="create-formation-link" href="/formations/create">
				<p>CREATE<br>FORMATION</p>
			</a>
			<a id="create-play-link" href="/plays/create">
				<p>CREATE<br>PLAY</p>
			</a>
			<a id="create-concept-link" href="/concepts/create">
				<p>CREATE<br>CONCEPT</p>
			</a>
			<a id="create-quiz-link" href="/quizzes/create">
				<p>CREATE<br>QUIZ</p>
			</a>
			<a id="groups-link" href="/groups/create">
				<p>CREATE<br>GROUP</p>
			</a>
		</div>

		<div class="col-md-7 analytics">
			<table>
				<thead>
					<tr>
						<th colspan="3"><div class="header">RECENT RESULTS</div></th>
					</tr>
					<tr>
						<th>CONTENT</th>
						<th>TYPE</th>
						<th>INCORRECT</th>
					</tr>
				</thead>
				<tbody id="analytics-body">
				</tbody>
			</table>
		</div>

		<div class="col-md-5 sideboxes">
			<div class="col-md-12 quizzes">
				<table>
					<thead>
						<tr>
							<th colspan="4"><div class="header">QUIZZES</div></th>
						</tr>
						<tr>
							<th>QUIZ</th>
							<th>SUBMISSIONS</th>
							<th>ANALYTICS</th>
							<th>EDIT</th>
						</tr>
					</thead>
					<tbody id="quizzes-body">
						{% for quiz in quizzes %}
							<tr>
								<td>{{ quiz.0 }}</td>
								<td>{{ quiz.1 }}/{{ quiz.2 }}</td>
								<td><a href="/analytics/quiz/{{ quiz.3 }}" >{{ quiz.0 }} Results</a></td>
								<td><a href="/quizzes/manage/{{ quiz.3 }}" >Edit {{ quiz.0 }}</a></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<!--<div class="col-md-12 newsfeed">
				<div class="header">NEWSFEED</div>
				<div class="newsfeed-body">
				</div>
			</div>-->
		</div>

	</div><!--/coach-home-->
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		function setup() {
			var table_body = document.getElementById("analytics-body");
			var table_row = null;
			var table_cell = null;
			
			{% for result in recent_results %}
			table_row = document.createElement("tr");

			table_cell = document.createElement("td");
			table_cell.textContent = "{{ result.0 }}";
			table_row.appendChild(table_cell);

			table_cell = document.createElement("td");
			table_cell.textContent = "{{ result.1 }}";
			table_row.appendChild(table_cell);

			table_cell = document.createElement("td");
			var percentage = float({{ result.2 }})/100.0;
			table_cell.style.background = "rgba(252, 134, 117, " + percentage.toString() + ")";
			table_cell.textContent = "{{ result.2|floatformat }} %";
			table_cell.setAttribute("class", "incorrect");
			table_row.appendChild(table_cell);

			table_body.appendChild(table_row);
			{% endfor %}
		}
	</script>
{% endblock %}
