{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% load app_filters %}

{% block content %}
<!-- Overlay Div -->
<div id="overlay" class="transparent"></div>
{% include "dashboard/theme_setting.html" %}

<div id="wrapper" class="preload">
	{% include "dashboard/sidebar.html" %}


	<div id="main-container">
		{% include "dashboard/top_nav_bar.html" %}

		{% include "dashboard/grey_container.html" %}

		<div class="padding-md coach-home">
			<div class="content-container">
				<div class="coach-action-row">
					<script>
					var clickButton = function(index){
						var links = ["/quiz/create_formation", "/quiz/create_play", "/create_test", "/groups", "/analytics"];
						if(index >= 0 && index < links.length){
							window.location.href = links[index];
						}

					};

					</script>
					<table class="coach-action-table">
						<tbody>
							<tr>
								<!--<td class="blank"></td>-->
								<td class="first">
									<button onclick="clickButton(0)">
										CREATE<br />FORMATION</button>
									</td>
									<td class="blank"></td>
									<td class="second">
										<button onclick="clickButton(1)">
											CREATE<br />PLAY</button>
										</td>
										<td class="blank"></td>
										<td class="third">
											<button onclick="clickButton(2)">
												CREATE<br />QUIZ</button>
											</td>
											<td class="blank"></td>
											<td class="fourth">
												<button onclick="clickButton(3)">
													GROUPS</button>
												</td>
												<td class="blank"></td>
												<td class="fifth">
													<button onclick="clickButton(4)">
														ANALYTICS</button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="row dash-row">
										<div class="dash-col col-lg-5">
											<div class="dash-header">
												<span><h4>ANALYTICS</h4></span>
											</div>
											{% if analytics %}
											<div class="analytics-graph-row">
												<table class="analytics-table">
													<tbody>
														<tr>
															<td><canvas id="percentCorrectChart"></canvas><br /><span>CORRECT</span></td>
															<td><canvas id="percentIncorrectChart"></canvas><br /><span>MISSED</span></td>
															<td><canvas id="percentSkippedChart"></canvas><br /><span>SKIPPED</span></td>
														</tr>
													</tbody>
												</table>
											</div>
											<div class="analytics-table-row">
												<table class="player-list">
													<tbody>
														{% for player in players %}
														{% if forloop.counter0 < 3 %}
														<tr id="{{player.id}}">
															<td><img class="headshot-thumbnail" src="{{MEDIA_ROOT}}{{player.user.myuser.avatar_image}}" alt=""></td>
															<td>{{player.first_name}} {{player.last_name}}</td>
															<td>{{player.position}}</td>
															<td>{% get_percent_correct_player player %}%</td>
														</tr>
														{% endif %}
														{% endfor %}
													</tbody>
												</table>
											</div>
											{% endif %}
										</div>
										<div class="stacked-col col-lg-4">
											<div class="row stacked-row">
												<div class="dash-header">
													<span><h4>TESTS</h4></span>
												</div>
												<table class="table to-do-table" id="responsiveTable">
													<tbody>
														<tr>
															<th>TEST</th><th>FOR</th><th>DUE</th><th>STATUS</th>
														</tr>
														{% for test in uncompleted_tests %}
														{% if forloop.counter0 < 2 %}
														<tr id="test-{{test.id}}">
															<td>
																{{test.name}}
															</td>
															<td>{{test.player.user.first_name}} {{test.player.user.last_name}}</td>
															<td>{% due_date_default test.deadline %}</td>
															<td>98%</td>

														</tr>
														{% endif %}
														{% endfor %}

													</tbody>
												</table>
											</div>
											<div class="row stacked-row">
												<div class="dash-header">
													<span><h4>NEWS FEED</h4></span>
												</div>
												<div class="non-scrollable-table-wrapper">
													<table class="table news-feed-table">
														<tbody>
															{% for test in uncompleted_tests %}
															{% if forloop.counter0 < 1 %}
															<tr>
																<td>
																	<img class="test-row-icon" src="{% static 'dashboard/images/playbook-icon-dark.png' %}" alt="">
																</td>
																<td>
																	<a class="coach-link" href="#">{{test.coach_who_created.first_name}} {{test.coach_who_created.last_name}}</a>: Added a new <a class="play-link" href="#">PLAY</a>
																</td>
															</tr>
															<tr>
																<td>
																	<img class="test-row-icon" src="{% static 'dashboard/images/formation-icon-dark.png' %}" alt="">
																</td>
																<td>
																	<a class="coach-link" href="#">{{test.coach_who_created.first_name}} {{test.coach_who_created.last_name}}</a>: Added a new <a class="formation-link" href="#">FORMATION</a>
																</td>
															</tr>
															{% endif %}
															{% endfor %}

														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>


								</div>

								<div class="loading-overlay">
									<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
								</div>


								<a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>

								<!-- Pass Django variables to JS assets -->
								<script type="text/javascript">
								  var percentCorrect = {{analytics.total_correct_attempts_percentage}},
										percentIncorrect = {{analytics.total_incorrect_attempts_percentage}},
										percentSkipped = {{analytics.total_skipped_attempts_percentage}};
								</script>

								<!-- Loading Chart.js through CDN for now -->
								<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

								<!-- Build Charts -->
								<script src="{% static 'dashboard/js/analytics.js' %}"></script>
								{% endblock %}
