{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block content %}
	<div id="create-formation" class="create-formation padding-md">
		<div id="display-box" class="col-md-8 col-sm-12 bordered-div">
			<div id="header-box" class="interactive-header display-header placeholder">
				<p id="placeholder-message">Enter Formation Name</p>
			</div>

			<div id="quiz-box">
			</div>

			<div class="display-buttons">
				<table class="button-table">
					<tr>
						<td>
							<button id="save-button" name="button">
								{% include "quiz/check_button.html" %}
							</button>
						</td>
						<td>
							<button id="clear-button" name="button">
								{% include "quiz/clear_button.html" %}
							</button>
						</td>
						<td>
							<button id="zoom-in-button" name="button">
								{% include "quiz/zoom_in_button.html" %}
							</button>
						</td>
						<td>
							<button id="zoom-out-button" name="button">
								{% include "quiz/zoom_out_button.html" %}
							</button>
						</td>
						<td>
							<button id="full-screen-button" name="button">
								{% include "quiz/full_screen_button.html" %}
							</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
		
		<div id="sideview" class="col-md-3">
			<div id="sideview-header">
				Existing Formations
			</div>
			<div id="sideview-buttons">
				{% for formation in formations %}
					<button class="btn btn-primary sideview-button" name="{{ formation.name }}" onclick="changeSelectedFormation(this)">
						{{ formation.name }}
					</button>
				{% endfor %}
			</div>
		</div>
	</div><!--/create-formation-->

	<div id="test-id" test-id="{{test.id}}" style="display: none;"></div>
	<div id="team-id" team-id="{{team.id}}" style="display: none;"></div>
	<div id="player-id" player-id="{{player.id}}" style="display: none;"></div>
{% endblock %}

{% block javascript %}
	<script src="{% static 'dashboard/js/jquery-1.10.2.min.js' %}"></script>
	<script type="text/javascript">
		var formations = [];
		var formation;
		var defensivePlayerBar;
		var offensivePlayerBar;
		var playerBeingDragged;
		var mouseBeingDragged = false;
		var teamID = document.getElementById("team-id").getAttribute("team-id");

		//*******************************************************************//
		// p5.js Animation Functions                                         //
		//*******************************************************************//
		
		function setup() {
			var display_box = document.getElementById("display-box");
			var display_box_header = display_box.querySelector(".display-header");
			var display_box_footer = display_box.querySelector(".display-buttons");
			var sideview = document.getElementById("sideview");
			var height = sideview.offsetHeight - (display_box_header.offsetHeight + display_box_footer.offsetHeight);
			
			// 4px is the combined size of the borders on either side. What is a better way to do this?
			var width = display_box.offsetWidth - 4; 

			// Create canvas and add it to the main view
			var quiz_box_div = document.getElementById("quiz-box");
			var myCanvas = createCanvas(width, height);
			
			field.height = height;
			field.width = width;
			field.heightInYards = 35;
			field.ballYardLine = 65;
			background(58, 135, 70);

			myCanvas.parent("quiz-box");
			
			// Load formations from Json passed from database
			var formationJsonFromDatabase = "";

			{% for formation in formations %}
			formationJsonFromDatabase = '{{ formation.formationJson|safe }}';
			formations.push(createFormationFromJson(JSON.parse(formationJsonFromDatabase)));
			{% endfor %}

			// Create new Formation and add offensive linemen and quarterback
			formation = new Formation({});
			formation.createOffensiveLineAndQuarterback(field.ballYardLine);

			// Create Player bars
			defensivePlayerBar = new PlayerBar({
				playerOptions: createDefensivePlayerOptions()
			});
			defensivePlayerBar.init(field);

			offensivePlayerBar = new PlayerBar({
				playerOptions: createOffensivePlayerOptions()
			});
			offensivePlayerBar.y = field.height - offensivePlayerBar.height;
			offensivePlayerBar.init(field);

			window.onresize = function() {
				var display_box = document.getElementById("display-box");
				var display_box_header = display_box.querySelector(".display-header");
				var display_box_footer = display_box.querySelector(".display-buttons");
				var sideview = document.getElementById("sideview");
				var height = sideview.offsetHeight - (display_box_header.offsetHeight + display_box_footer.offsetHeight);
				var width = display_box.offsetWidth - 4;

				resizeCanvas(width, height);
				field.height = height;
				field.width = width;
				
				resizeMainViewObjects();
			};

			drawOpening();
		};

		function draw() {
			// Limitations on where offensive players can be
			var numberOfOffensivePlayers = formation.offensivePlayers.length;
			
			for (var i = 0; i < numberOfOffensivePlayers; ++i) {
				var player = formation.offensivePlayers[i];
				var playerXPixel = field.getTranslatedX(player.x);
				var playerYPixel = field.getTranslatedY(player.y);
				var playerXYard = player.x;
				var playerYYard = player.y;

				// Keep the players within the screen
				if (playerXPixel < 0) {
					player.x = field.getYardX(0);
				} else if (playerXPixel > field.width) {
					player.x = field.getYardX(field.width);
				}

				if (playerYPixel < 0) {
					player.y = player.getYardY(0);
				} else if (playerYPixel > field.height) {
					player.y = player.getYardY(field.height)
				}

				// Keep the players on the field
				if (playerXYard < 0) {
					player.x = 0;
				} else if (playerXYard > 53.33) {
					player.x = 53.33;
				}

				if (playerYYard < -10) {
					player.y = 0;
				} else if (playerYYard > field.ballYardLine) {
					player.y = field.ballYardLine;
				}

				// If a player is ineligible they must be on the line of scrimmage.
				// Otherwise if they are within a yard of the line of scrimmage they
				// should automatically snap onto the line.
				if (!player.eligible) {
					player.y = field.ballYardLine;
				} else {
					if (player.y > field.ballYardLine - 1) {
						player.y = field.ballYardLine;
					} 
				}
			}

			var quarterback = formation.quarterback;
			var center = formation.offensiveLinemen[2];
			var right_tackle = formation.offensiveLinemen[4];
			var left_tackle = formation.offensiveLinemen[0];

			// If Quarterback is close to behind center then align him with the center.
			if (quarterback.x <= center.x+2 && quarterback.x >= center.x-2) {
				quarterback.x = center.x;
			}

			// If Quarterback is inside the tackle box he can only be behind the center
			// or a few yards back.
			if (quarterback.x <= right_tackle.x && quarterback.x >= left_tackle.x) {
				if (quarterback.y > center.y-2.25) {
					quarterback.y = center.y-2.25;
				} else if (quarterback.y < center.y-7.5) {
					quarterback.y = center.y-7.5;
				}
			}

			// Limitations on where defensive players can be
			var numberOfDefensivePlayers = formation.defensivePlayers.length;
			
			for (var i = 0; i < numberOfDefensivePlayers; ++i) {
				var player = formation.defensivePlayers[i];
				var playerXPixel = field.getTranslatedX(player.x);
				var playerYPixel = field.getTranslatedY(player.y);
				var playerXYard = player.x;
				var playerYYard = player.y;

				// Keep the players within the screen
				if (playerXPixel < 0) {
					player.x = field.getYardX(0);
				} else if (playerXPixel > field.width) {
					player.x = field.getYardX(field.width);
				}

				if (playerYPixel < 0) {
					player.y = player.getYardY(0);
				} else if (playerYPixel > field.height) {
					player.y = player.getYardY(field.height)
				}

				// Keep the players on the field
				if (playerXYard < 0) {
					player.x = 0;
				} else if (playerXYard > 53.33) {
					player.x = 53.33;
				}

				if (playerYYard < field.ballYardLine+player.siz) {
					player.y = field.ballYardLine+player.siz;
				} else if (playerYYard > 110) {
					player.y = 110;
				}
			}

			// Draw opening
			drawOpening();
		};

		function drawOpening() {
			field.drawBackground(formation, height, width);

			//drawDebuggingInfo(); // uncomment this to have the canvas display some useful information

			formation.drawPlayers(field);
			defensivePlayerBar.draw(field);
			offensivePlayerBar.draw(field);
			
			fill(0, 0, 0);
			textSize(20);
			text(formation.feedbackMessage, 330, 20);
			fill(176,176,176);
		};

		//*******************************************************************//
		// p5.js Event Listeners                                             //
		//*******************************************************************//

		function mousePressed() {
			playerBeingDragged = formation.mouseInPlayer(field);

			// return false to prevent default behavior
			return false;
		};

		function mouseDragged() {
			mouseBeingDragged = true;

			var mouseYardX = field.getYardX(mouseX);
			var mouseYardY = field.getYardY(mouseY);

			if (playerBeingDragged != null) {
				playerBeingDragged.x = mouseYardX;
				playerBeingDragged.y = mouseYardY;
			}

			if(playerBeingDragged && playerBeingDragged.pos === "C") {
				var mouseYardX = field.getYardX(mouseX);
				var xDiff = mouseYardX - playerBeingDragged.x;

				for(var i = 0; i < formation.offensivePlayers.length; i++) {
					var player = formation.offensivePlayers[i];
					player.x += xDiff;
				}
			}

			// return false to prevent default behavior
			return false;
		};

		function mouseReleased() {
			if (mouseBeingDragged === true) {
				mouseBeingDragged = false;
				playerBeingDragged = null;
				return false;
			}

			// Handle clicks on players in the Formation
			var currentPlayerSelected = formation.getSelected()[0];
			var newPlayerSelected = formation.mouseInPlayer(field);
			var mouseYardX = field.getYardX(mouseX);
			var mouseYardY = field.getYardY(mouseY);

			// If no one is currently selected and no one is clicked on do 
			// nothing. Else if no one is currently selected and someone is 
			// clicked on, then select that player and return. Else if someone
			// is currently selected and empty field is clicked on then do 
			// nothing. Else if the currently selected player is the same as 
			// the newly selected player then clear all selections and return. 
			// Else two seperate players are assigned to those variables and 
			// handle accordingly.
			if (currentPlayerSelected === null && newPlayerSelected === null) {
				// No one is selected and no one is clicked on.
				// Do nothing	
			} else if (currentPlayerSelected === null) {
				newPlayerSelected.click();
				return false;
			} else if (newPlayerSelected === null) {
				formation.clearSelected();
				return false;
			} else if (newPlayerSelected === currentPlayerSelected) {
				formation.clearSelected();
				return false;
			} else if (currentPlayerSelected.unit === newPlayerSelected.unit) {
				formation.clearSelected();
				newPlayerSelected.click();
				return false;
			} else if (currentPlayerSelected.unit === "offense") {
				currentPlayerSelected.blockingAssignmentArray.push(newPlayerSelected);
				return false;
			}

			// Handle clicks on players in the PlayerBar. mouseClicked will
			// have already returned if a player on the field is clicked
			newPlayerSelected = offensivePlayerBar.mouseInPlayer(field);
			if (newPlayerSelected != null) {
				var playerToAddToFormation = new Player({
					num: newPlayerSelected.num, 
					pos: newPlayerSelected.pos, 
					x: Field.WIDTH / 2,
					y: field.ballYardLine-5,
					red: newPlayerSelected.red, 
					green: newPlayerSelected.green, 
					blue: newPlayerSelected.blue,
					eligible: newPlayerSelected.eligible
				});

				formation.offensivePlayers.push(playerToAddToFormation);

				return false;
			}

			// Handle clicks on players in the PlayerBar. mouseClicked will
			// have already returned if a player on the field is clicked
			newPlayerSelected = defensivePlayerBar.mouseInPlayer(field);
			if (newPlayerSelected != null) {
				var playerToAddToFormation = new Player({
					num: newPlayerSelected.num, 
					pos: newPlayerSelected.pos, 
					x: Field.WIDTH / 2,
					y: field.ballYardLine + field.pixelsToYards(30),
					red: newPlayerSelected.red, 
					green: newPlayerSelected.green, 
					blue: newPlayerSelected.blue,
					unit: newPlayerSelected.unit
				});

				formation.defensivePlayers.push(playerToAddToFormation);

				return false;
			}

			// return false to prevent default behavior
			return false;
		};

		function keyPressed() {
			// Get the formation-name html element if it exists. This is what
			// will be updated.
			var formation_name = document.getElementById("formation-name");

			// If the header box is selected update the formation name according
			// to the key press. Otherwise, create a block.
			if ($("#header-box").hasClass("selected") && formation_name != null) {
				// Get the currently selected sideview button so that you can
				// unselect it when the name in the main view's top bar is
				// changed.
				var selected = document.getElementById("selected");

				// If there was a previously selected button remove it's selected
				// id attribute and change it from btn-success to btn-primary.
				if (selected != null) {
					selected.removeAttribute("id");
					selected.removeAttribute("class");
					selected.setAttribute("class", "btn btn-primary sideview-button");
				}

				// Get the main view's top bar so that you can tell is the
				// string has become empty and needs to be replaced with a
				// placeholder message.
				var string_length = formation_name.textContent.length;

				if (keyCode == BACKSPACE) {
					if (formation_name != null) {
						if(string_length > 0) {
							formation_name.textContent = formation_name.textContent.slice(0, string_length-1);
						}
					}
					return false;
				} else if (keyCode == 32) {
					if (formation_name != null && string_length < 100) {
						formation_name.textContent += ' ';
					}
					return false;
				}
			} else if (formation.getSelected()[0] != null) {
				var playerSelcted = formation.getSelected()[0];
				var playerSelctedIndex = formation.getSelected()[1];
				var what_kind_of_dog_is_this = key;
				if (keyCode == BACKSPACE || keyCode == DELETE) {
					if (playerSelcted.unit == "offense") {
						formation.offensivePlayers.splice(playerSelctedIndex, 1);
					} else if (playerSelcted.unit == "defense") {
						formation.defensivePlayers.splice(playerSelctedIndex, 1);
					}
					return false;
				}

				return false;	
			}
		};

		function keyTyped() {
			if ($("#header-box").hasClass("selected")) {
				var formation_name = document.getElementById("formation-name");

				if (formation_name === null) {
					formation_name = document.createElement("p");
					formation_name.setAttribute("id", "formation-name");
				}

				document.getElementById("header-box").appendChild(formation_name);
				var string_length = formation_name.textContent.length;

				if ((keyCode >= 48 && keyCode <= 90) || (keyCode >= 97 && keyCode <= 122)) {
					removeHeaderPlaceholder();
					removeHeaderError();

					var lcDiff = key.charCodeAt(0)-"a".charCodeAt(0);
					var ucDiff = key.charCodeAt(0)-"A".charCodeAt(0);
					var numDiff = key.charCodeAt(0)-"0".charCodeAt(0);
					if (key.length === 1 && ((lcDiff >= 0 && lcDiff < 26)) || (ucDiff >= 0 && ucDiff < 26) || (numDiff >= 0 && numDiff < 10)) {
						if (string_length <= 100){
							formation_name.textContent += key;
						}
					}

					// return false to prevent default behavior
					return false;
				}
			}
		};

		//*******************************************************************//
		// jQuery Event Listener Functions                                   //
		//*******************************************************************//

		// When the main container is clicked unselect the interactive header.
		// This function will not call when the header is clicked because that
		// function stops propagation of the event.
		$(document).click(function(event) {
			if ($("#header-box").hasClass("selected")) {
				$("#header-box").removeClass("selected");
				var formation_name = document.getElementById("formation-name");

				if (formation_name === null) {
					addHeaderPlaceholder();
				}

				if (formation_name != null && formation_name.textContent.length === 0) {
					document.getElementById("header-box").removeChild(formation_name);
					addHeaderPlaceholder();
				}
			}
		});

		// When the header box is selected have it change colors and remove the
		// placeholder if it exists
		$("#header-box").click(function(event) {
			removeHeaderPlaceholder();
			removeHeaderError();
			$("#header-box").addClass("selected");
			event.stopPropagation();
		});

		$("#save-button").click(function(event) {
			// Don't save the formation with one of the players selected.
			formation.clearSelected();

			var placeholder_message = document.getElementById("placeholder-message");
			var formation_name = document.getElementById("formation-name");
			var path = "/formations/create";
			var csrf_token = "{{ csrf_token }}";

			// If there is a placeholder message remove it and add an error.
			if (placeholder_message != null) {
				removeHeaderPlaceholder();
				addHeaderError();
				return;
			}

			// I don't think this will ever happen, but I'm not sure.
			if (formation_name === null) {
				removeHeaderPlaceholder();
				addHeaderError();
				return;
			}

			// If the formation_name is 0 characters add an error.
			if (formation_name != null && formation_name.textContent.length === 0) {
				document.getElementById("header-box").removeChild(formation_name);
				addHeaderError();
				return;
			}

			// Deselect the currently selected sidebar because that formation is
			// going to dissappear from the screen.
			var selected_sideview_button = document.getElementById("selected");
			
			if (selected_sideview_button != null) {
				selected_sideview_button.removeAttribute("id");
				selected_sideview_button.removeAttribute("class");
				selected_sideview_button.setAttribute("class", "btn btn-primary sideview-button");
			}

			// var name gets the textContent of the header box.
			var name = formation_name.textContent;

			// Update the top interactive text bar to have a placeholder again.
			removeHeaderName();
			addHeaderPlaceholder();

			// If this formation name already exists the backend should replace
			// the old one and not save a new one. The frontend should also
			// update the existing version it has and return.
			for (var i = 0; i < formations.length; ++i) {
				if (name === formations[i].name) {
					formations[i] = formation.deepCopy();
					formation.save(path, csrf_token);
					formation = new Formation({});
					formation.createOffensiveLineAndQuarterback(field.ballYardLine);
					return;
				}
			}

			// If the formation name does not exist the backend will create a
			// new database entry. The frontend should push this formation to
			// its formations array and add a new button for it to the sidebar.
			formation.name = name;
			formation.team = teamID;
			formation.save(path, csrf_token);
			formations.push(formation);

			// Create a new formation to replace the one you just saved on the 
			// screen.
			formation = new Formation({});
			formation.createOffensiveLineAndQuarterback(field.ballYardLine);

			// Update the sidebar to include a new button for the formation that
			// was just saved.
			var sideview_buttons_div = document.getElementById("sideview-buttons");
			
			// Create a button for the new formation.
			var new_formation_button = document.createElement("button");
			new_formation_button.setAttribute("onclick", "changeSelectedFormation(this)");
			new_formation_button.setAttribute("name", name);
			new_formation_button.setAttribute("class", "btn btn-primary sideview-button");
			new_formation_button.textContent = name;

			// Add the new button to the sideview button div.
			sideview_buttons_div.appendChild(new_formation_button);
			return;
		});

		$("#clear-button").click(function(event) {
			// Get the currently selected sideview button.
			var selected = document.getElementById("selected");

			// If selected is not undefined then send a delete request for
			// the formation that is currently selected.
			if (selected != null) {
				// Set the path and cross-site forgery token vars.
				var path = "/formations/create";
				var csrf_token = "{{ csrf_token }}";

				// Delete the formation from the backend.
				formation.delete(path, csrf_token);

				// Remove the formation from the formation array. If this didn't
				// happen and the user deleted a formation and added one with the
				// same name without refreshing the page, the new formation would
				// get saved properly but no button would be added dynamically
				// because a formation with the same name would exist in the
				// formations array.
				for (var i = 0; i < formations.length; ++i) {
					if (formation.name === formations[i].name) {
						formations.splice(i, 1);
						break;
					}
				}

				// Delete the button from the sidebar. After this step the
				// formation should be entirely removed from the backend and the
				// frontend.
				var sideview_buttons_div = document.getElementById("sideview-buttons");
				sideview_buttons_div.removeChild(selected);
			}

			// Update the top bar to display the Placeholder message.
			removeHeaderPlaceholder();
			removeHeaderError();
			removeHeaderName();
			addHeaderPlaceholder();

			// Set formation var to equal a new Formation. This will get rid of
			// whatever is displayed on the screen.
			formation = new Formation({});
			formation.createOffensiveLineAndQuarterback(field.ballYardLine);
		});

		$("#zoom-in-button").click(function(event) {
			var heightInYards = field.heightInYards;
			var widthInYards = field.heightInYards * field.width / field.height;
			
			if(heightInYards > 25) {
				field.heightInYards -= 5;
			} else {
				field.heightInYards = 20;
			}

			resizeMainViewObjects();
		});

		$("#zoom-out-button").click(function(event) {
			var heightInYards = field.heightInYards;
			var widthInYards = field.heightInYards * field.width / field.height;
			
			if(heightInYards > 50) {
				field.heightInYards = 55;
			} else {
				field.heightInYards += 5;
			}

			resizeMainViewObjects();
		});

		$("#full-screen-button").click(function(event) {});

		function changeSelectedFormation(selected) {
			// The newly selected button is the one that is clicked on. The old
			// selected button may not exist.
			var new_selected = selected;
			var old_selected = document.getElementById("selected");
			
			// Add a placeholder message to the top bar of the main view. If we
			// are deseclecting a button then the placeholder will stay. If we
			// are selecting a button it will get replaced with the name of the
			// formation we selected.
			removeHeaderPlaceholder();
			removeHeaderError();
			removeHeaderName();
			addHeaderPlaceholder();

			// Create a new formation to replace whatever was already on screen.
			formation = new Formation({});
			formation.createOffensiveLineAndQuarterback(field.ballYardLine);

			// If there was a previously selected button remove it's selected
			// id attribute and change it from btn-success to btn-primary.
			if (old_selected != null) {
				old_selected.removeAttribute("id");
				old_selected.removeAttribute("class");
				old_selected.setAttribute("class", "btn btn-primary sideview-button");
			}

			// If the old selected button is the same as the newly selected
			// button we are done. If it isn't we need to update the newly
			// selected button and the main view area.
			if (old_selected != new_selected) {
				// Change the color of the newly selected button and set it's
				// id to 
				new_selected.removeAttribute("class");
				new_selected.setAttribute("id", "selected");
				new_selected.setAttribute("class", "btn btn-success sideview-button");

				var formation_name = new_selected.getAttribute("name");

				for (var i = 0; i < formations.length; ++i) {
					if (formation_name === formations[i].name) {
						formation = formations[i].deepCopy();
						break;
					}
				}

				var header_text_content = formation_name;
				formation_name = document.getElementById("formation-name");

				if (formation_name === null) {
					formation_name = document.createElement("p");
					formation_name.setAttribute("id", "formation-name");
				}

				removeHeaderPlaceholder();
				removeHeaderError();
				removeHeaderName();
				formation_name.textContent = header_text_content;
				document.getElementById("header-box").appendChild(formation_name);
			}
		};

		//*******************************************************************//
		// Utility Functions                                                 //
		//*******************************************************************//

		function removeHeaderPlaceholder() {
			var header_box = document.getElementById("header-box");
			var placeholder_message = document.getElementById("placeholder-message");
			$("#header-box").removeClass("placeholder");
			
			if (placeholder_message != null) {
				header_box.removeChild(placeholder_message);
			}
		};

		function removeHeaderError() {
			var header_box = document.getElementById("header-box");
			var error_message = document.getElementById("error-message");
			$("#header-box").removeClass("error");
			
			if (error_message != null) {
				header_box.removeChild(error_message);
			}
		};

		function removeHeaderName() {
			var header_box = document.getElementById("header-box");
			var formation_name = document.getElementById("formation-name");

			if (formation_name != null) {
				header_box.removeChild(formation_name);
			}
		};

		function addHeaderPlaceholder() {
			removeHeaderPlaceholder();
			removeHeaderError();
			removeHeaderName();

			var header_box = document.getElementById("header-box");
			$("#header-box").addClass("placeholder");

			var placeholder = document.createElement("p");
			placeholder.setAttribute("id", "placeholder-message");
			placeholder.textContent = "Enter Formation Name";
			header_box.appendChild(placeholder);
		};

		function addHeaderError() {
			removeHeaderPlaceholder();
			removeHeaderError();
			removeHeaderName();

			var header_box = document.getElementById("header-box");
			$("#header-box").removeClass("selected placeholder").addClass("error");

			var error_message = document.createElement("p");
			error_message.setAttribute("id", "error-message");
			error_message.textContent = "Invalid Formation Name";
			header_box.appendChild(error_message);
		};

		// resizeMainViewObjects resizes all of the buttons and bars in our
		// main view. It is called when the user resizes their browser.
		function resizeMainViewObjects() {
			offensivePlayerBar.width = field.width;
			offensivePlayerBar.x = 0;
			offensivePlayerBar.y = field.height - offensivePlayerBar.height;

			defensivePlayerBar.width = field.width;
			defensivePlayerBar.x = 0;

			offensivePlayerBar.resize();
			defensivePlayerBar.resize();
		};

		function drawDebuggingInfo() {
			textAlign(CENTER);

			var textX = field.width / 2;
			var textY = field.height * 0.40;
			var textYSpacing = 30;

			var mouseXString = "MouseX: " + mouseX.toFixed(2).toString() + " px, " + field.getYardX(mouseX).toFixed(2).toString() + " yd";
			var mouseYString = "MouseY: " + mouseY.toFixed(2).toString() + " px, " + field.getYardY(mouseY).toFixed(2).toString() + " yd";
			var widthString = "Width: " + field.width.toFixed(2).toString() + " px, " + field.pixelsToYards(field.width).toFixed(2).toString() + " yd";
			var heightString = "Height: " + field.height.toFixed(2).toString() + " px, " + field.pixelsToYards(field.height).toFixed(2).toString() + " yd";

			fill(0, 0, 0);
			textSize(20);

			text(mouseXString, textX, textY);
			
			textY += textYSpacing;
			text(mouseYString, textX, textY);
			
			textY += textYSpacing;
			text(widthString, textX, textY);
			
			textY += textYSpacing;
			text(heightString, textX, textY);

			fill(176,176,176);
		};
		
		function createOffensivePlayerOptions() {
			var players = [];
			var player;
				
			player = new Player ({
				num: "QB", pos: "QB",
				red: 212, green: 130, blue: 130,
				siz: 2, eligible: true
			});
			players.push(player);

			player = new Player ({
				num: "C", pos: "C",
				red: 143, green: 29, blue: 29,
				siz: 2
			});
			players.push(player);

			player = new Player ({
				num: "G", pos: "G",
				red: 143, green: 29, blue: 29,
				siz: 2
			});
			players.push(player);

			player = new Player ({
				num: "T", pos: "T",
				red: 143, green: 29, blue: 29,
				siz: 2
			});
			players.push(player);

			player = new Player ({
				num: "H", pos: "H",
				red: 255, green: 0, blue: 0,
				siz: 2, eligible: true
			});
			players.push(player);

			player = new Player ({
				num: "F", pos: "F",
				red: 255, green: 0, blue: 0,
				siz: 2, eligible: true
			});
			players.push(player);

			player = new Player ({
				num: "Y", pos: "Y",
				red: 255, green: 0, blue: 0,
				siz: 2, eligible: true
			});
			players.push(player);

			player = new Player ({
				num: "X", pos: "X",
				red: 255, green: 0, blue: 0,
				siz: 2, eligible: true
			});
			players.push(player);

			player = new Player ({
				num: "Z", pos: "Z",
				red: 255, green: 0, blue: 0,
				siz: 2, eligible: true
			});
			players.push(player);

			return players;
		};

		function createDefensivePlayerOptions() {
			var players = [];
			var player;
				
			player = new Player ({
				num: "E", pos: "E",
				red: 0, green: 0, blue: 0,
				unit: "defense",
				siz: 2
			});
			players.push(player);

			player = new Player ({
				num: "W", pos: "W",
				red: 0, green: 0, blue: 0,
				unit: "defense",
				siz: 2
			});
			players.push(player);
			
			player = new Player ({
				num: "T", pos: "T",
				red: 0, green: 0, blue: 0,
				unit: "defense",
				siz: 2
			});
			players.push(player);

			player = new Player ({
				num: "N", pos: "N",
				red: 0, green: 0, blue: 0,
				unit: "defense",
				siz: 2
			});
			players.push(player);

			player = new Player ({
				num: "M", pos: "M",
				red: 0, green: 0, blue: 0,
				unit: "defense",
				siz: 2
			});
			players.push(player);

			player = new Player ({
				num: "S", pos: "S",
				red: 0, green: 0, blue: 0,
				unit: "defense",
				siz: 2
			});
			players.push(player);

			player = new Player ({
				num: "SS", pos: "SS",
				red: 0, green: 0, blue: 0,
				unit: "defense",
				siz: 2
			});
			players.push(player);

			return players;
		};
	</script>
{% endblock %}
