{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Overlay Div -->
<div id="overlay" class="transparent"></div>
{% include "dashboard/theme_setting.html" %}

<div id="wrapper" class="preload">

	{% include "dashboard/sidebar.html" %}

  <script src="{% static 'dashboard/js/sidebarSetActive.js' %}"></script>


	<div id="main-container">
		{% include "dashboard/top_nav_bar.html" %}

		{% include "dashboard/grey_container.html" %}

		<div class="padding-md">
			<div class="row dash-row">

        <form action="/create_test" method="post" class="form-create-test"> {% csrf_token %}
          {% for field in form %}
					{% if field.label == "Group" %}
					<br />
					<hr>
					{% endif %}
					{% if field.label == False %}
					{% for type in types_of_tests %}
					<div class="form-group">
						<label class="label-checkbox">
							<input type="checkbox" name="type_of_test" value="{{type}}"/>
							<span class="custom-checkbox info bounceIn animation-delay6"></span>
							{{type}}
						</label>
					</div><!-- /form-group -->
					{% endfor %}
					{% else %}
					<div class="form-group">
						{% if field.label != "Deadline" %}
						{{ field.label_tag }}
						{% endif %}
						{{ field }}

					</div>
					{% endif %}

					{% endfor %}



          <input class="bounceIn animation-delay5 login-link create-quiz" type="submit" value="CREATE QUIZ">
      </form>


				<div class="loading-overlay">
					<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
				</div>
			</div><!-- /panel -->



				<div class="loading-overlay">
					<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
				</div>
			</div><!-- /panel -->



			<a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>
			{% endblock %}
