{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block content %}
	<div class="create-quiz padding-md">
		<form action="/quizzes/create" method="post" class="form-create-quiz"> 
			{% csrf_token %}
			
			<div class="form-group">
				<label for="group_name">Name:</label> 
				<input type="text" name="name" id="group-name" class="unit-form form-sm" placeholder="Quiz Name" required>
			</div>

			<div class="form-group">			
				<label for="type_form">Type:</label> 
				<select name="units" class="unit-form form-sm" id="type-form" onchange="changeGroup(this)">
					<optgroup label="Type of Quiz">
						{% for type in types_of_quizzes %}
							<option value="{{ type.id }}" id="group-id">
								&nbsp;&nbsp;&nbsp;{{ type }}
							</option>
						{% endfor %}
					</optgroup>
				</select>
			</div>
			
			<hr>

			<div class="form-group">
				<label for="group_form">Group:</label> 
				<select name="units" class="unit-form form-sm" id="group-form" onchange="changeGroup(this)">
					<optgroup label="Groups">
						{% for group in groups %}
							<option value="{{ group.id }}" id="group-id">
								&nbsp;&nbsp;&nbsp;{{ group }}
							</option>
						{% endfor %}
					</optgroup>
				</select>
			</div>			

			<div class="row group-home">
				<div class="col-lg-8" id="display-group-box">
					<div class="table-wrapper" id="group-table-wrapper">
						<table id="assign-quiz-table" class="player-list">
							<tbody id="group">
								<tr class="header">
									<th>
										<div class="checkbox-div">
										    <label class="checkbox-label">
												<input id="select-all-checkbox" type="checkbox" onclick="selectAll()" checked>
												<span class="custom-checkbox info"></span>
											</label>
										</div>
									</th>
									<th>PLAYER</th>
									<th>POSITION</th>
									<th>YEAR</th>
								</tr>
								{% if players_in_group %}
									{% for player in players_in_group %}
										<tr id="{{ player.pk }}">
											<td class="checkbox-cell">
												<div class="checkbox-div">
												    <label class="checkbox-label">
														<input type="checkbox" class="checkbox-input" name="player" value="{{ player.pk }}"  checked>
														<span class="custom-checkbox info"></span>
													</label>
												</div>
											</td>
											<td>{{ player.first_name }} {{ player.last_name }}</td>
											<td>{{ player.position }}</td>
											<td>{{ player.year }}</td>
										</tr>
									{% endfor %}
								{% endif %}
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="form-group">
				<input id="create-quiz-button" class="btn btn-success btn-lg bounceIn animation-delay2" type="submit" value="CREATE QUIZ">
			</div>		
		</form>
	</div><!--/create-quiz-->
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		var changeGroup = function(selected) {
			var groupID = selected.value;
			var groupJson = "/groups/" + groupID + "/json";

			var table_body = document.getElementById("group");
			var header_row = table_body.querySelector(".header");
			var select_all_checkbox = document.getElementById("select-all-checkbox");
			select_all_checkbox.checked = true;

			// Remove the Create Quiz button so the user doesn't
			// see it flash on the screen after the table elements are deleted.
			// Clone it so it can be added back after the table is recreated.
			var old_create_quiz_button = document.getElementById("create-quiz-button");
			var new_create_quiz_button = old_create_quiz_button.cloneNode(true);
			var create_quiz_button_div = old_create_quiz_button.parentNode;
			create_quiz_button_div.removeChild(old_create_quiz_button);

			// Get rid of the bounceIn and animation-delay2 attributes of the
			// button so it isn't animated every time you chagne the group.
			new_create_quiz_button.removeAttribute("class");
			new_create_quiz_button.setAttribute("class", "btn btn-success btn-lg");

			while (header_row.nextSibling != null) {
				table_body.removeChild(header_row.nextSibling);
			}

			$.getJSON(groupJson, function(data) {
				data.forEach(function(groupPlayerObject, jqXHR) {
					var groupPlayer = createUserFromJSON(groupPlayerObject);
					createGroupRow(groupPlayer);
				});
			}).done(function() {
				create_quiz_button_div.appendChild(new_create_quiz_button);
			});

			
		};

		var createGroupRow = function(user) {
			var table_body = document.getElementById("group");

			var	new_row = document.createElement("tr");
			new_row.setAttribute("id", user.id.toString());

			var new_checkbox_cell = document.createElement("td");
			new_checkbox_cell.setAttribute("class", "checkbox-cell");

			var new_checkbox_div = document.createElement("div");
			new_checkbox_div.setAttribute("class", "checkbox-div");

			var new_checkbox_label = document.createElement("label");
			new_checkbox_label.setAttribute("class", "checkbox-label");

			var new_checkbox = document.createElement("input");
			new_checkbox.setAttribute("type", "checkbox");
			new_checkbox.setAttribute("class", "checkbox-input");
			new_checkbox.setAttribute("name", "player");
			new_checkbox.setAttribute("value", user.id.toString());
			new_checkbox.checked = true;

			var new_checkbox_span = document.createElement("span");
			new_checkbox_span.setAttribute("class", "custom-checkbox info");

			var new_name_cell = document.createElement("td");
			new_name_cell.textContent = user.firstName + " " + user.lastName;

			var new_position_cell = document.createElement("td");
			new_position_cell.textContent = user.position;

			var new_year_cell = document.createElement("td");
			new_year_cell.textContent = user.year;

			new_checkbox_label.appendChild(new_checkbox);
			new_checkbox_label.appendChild(new_checkbox_span);
			new_checkbox_div.appendChild(new_checkbox_label);
			new_checkbox_cell.appendChild(new_checkbox_div);
			new_row.appendChild(new_checkbox_cell);
			new_row.appendChild(new_name_cell);
			new_row.appendChild(new_position_cell);
			new_row.appendChild(new_year_cell);

			table_body.appendChild(new_row);
		};

		var selectAll = function() {
			// Get the create group table, header checkbox, and list of all inputs.
			var table = document.getElementById("assign-quiz-table");
			var header_checkbox = document.getElementById("select-all-checkbox");
			var inputs = table.getElementsByTagName('input');
			
			// Get value to set all checkboxes to.
			var setTo = header_checkbox.checked;

			// Iterate through and set all checkboxes that aren't the header.
			for (var i = 0; i < inputs.length; i++) {
				if (inputs[i].type == 'checkbox' && inputs[i] != header_checkbox) {
					inputs[i].checked = setTo;
				}
			}
		};
	</script>
{% endblock %}
