{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block content %}			
	<div class="create-groups">
		<form action="create" method="post" class="create-groups">
			{% csrf_token %}

			<div class="form-group">
				<label for="group-name">Name:</label> 
				<input type="text" name="name" id="group-name" class="unit-form form-sm" placeholder="Group Name" required>
			</div>

			<div class="checkbox">
				<label class="label-checkbox">
					<input type="checkbox" name="position-group" onclick="positionGroup()">
					<span class="custom-checkbox info"></span>
					Position Group<br>
				</label>
			</div>

			<select name="position-type" class="unit-form form-sm" id="position-type" hidden="true">
				<option id="option-label" disabled="disabled" selected="selected">Position Type</option>
				<optgroup>
					{% for group in groups %}
						<option value="{{ group.1 }}" id="group-id">{{ group.1 }}</option>
					{% endfor %}
				</optgroup>
			</select>

			<div id="abbreviation-div" class="form-group" hidden="true">
				<label for="group-name">Abbreviation:</label> 
				<input type="text" name="abbreviation" id="abbreviation" class="unit-form form-sm" placeholder="e.g. QB" maxlength="3">
			</div>

			<div class="row group-home">
				<div id="display-group-box" class="col-lg-12">
					<table id="create-group-table" class="player-list">
						<tbody>
							<tr id="header-row">
								<th>
									<div class="checkbox-div">
									    <label class="checkbox-label">
											<input id="select-all-checkbox" type="checkbox" onclick="selectAll()" unchecked>
											<span class="custom-checkbox info"></span>
										</label>
									</div>
								</th>
								<th>PLAYER</th>
								<th>POSITION</th>
								<th>YEAR</th>
							</tr>
							{% for player in players %}
								<tr>
									<td class="checkbox-cell">
										<div class="checkbox-div">
										    <label class="checkbox-label">
												<input type="checkbox" class="checkbox-input" name="player" value="{{ player.pk }}" unchecked>
												<span class="custom-checkbox info"></span>
											</label>
										</div>
									</td>
									<td>{{ player.first_name }} {{ player.last_name }}</td>
									<td>{{ player.position }}</td>
									<td>{{ player.year }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div><!--/col-->
			</div><!--/row-->

			<div class="row group-home">
				<div class="col-lg-12">
					<input class="btn btn-success btn-lg" type="submit" value="Create Group">
				</div>
			</div>
		</form>
	</div><!--/create-groups-->
{% endblock %}

{% block javascript %}
	<script src="{% static 'dashboard/js/sidebarSetActive.js' %}"></script>

	<script type="text/javascript">
		var selectAll = function() {
			// Get the create group table, header checkbox, and list of all inputs.
			var table = document.getElementById("create-group-table");
			var header_checkbox = document.getElementById("select-all-checkbox");
			var inputs = table.getElementsByTagName('input');
			
			// Get value to set all checkboxes to.
			var setTo = header_checkbox.checked;

			// Iterate through and set all checkboxes that aren't the header.
			for (var i = 0; i < inputs.length; i++) {
				if (inputs[i].type == 'checkbox' && inputs[i] != header_checkbox) {
					inputs[i].checked = setTo;
				}
			}
		};

		var positionGroup = function() {
			var abbreviation_div = document.getElementById("abbreviation-div");
			var position_type = document.getElementById("position-type");
			var hidden = abbreviation_div.getAttribute("hidden");

			if (hidden == "true") {
				abbreviation_div.removeAttribute("hidden");
				position_type.removeAttribute("hidden");
			} else {
				abbreviation_div.setAttribute("hidden", "true");
				position_type.setAttribute("hidden", "true");
			}
		};
	</script>
{% endblock %}
