{% load staticfiles %}
<!-- css ================================================== -->

<!-- Bootstrap -->
<link href="{% static 'dashboard/css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">

<!-- Endless -->
<link href="{% static 'dashboard/css/endless.min.css' %}" rel="stylesheet">
<link href="{% static 'dashboard/css/endless-skin.css' %}" rel="stylesheet">
<link href="{% static 'dashboard/css/custom-dashboard.css' %}" rel="stylesheet">
<link href="{% static 'dashboard/css/jquery.datetimepicker.css' %}" rel="stylesheet">