{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block content %}
	<div id="custom-quizzes" class="custom-quizzes">
		<div id="formation-quiz" class="take-quiz-form">
			<div class="header">
				FORMATION QUIZ
			</div>

			<form action="/quizzes/custom/formation" method="get">
				

				<div class="number-of-questions">
					Number of Questions: 
					<i class="fa fa-chevron-left"></i>
					<p class="current-number"> 5 </p>
					<i class="fa fa-chevron-right"></i> 
					<input class="current_number" name="number_of_questions" value="5" hidden>
				</div>

				<div class="order-of-questions">
					Order:
					<select name="order" class="unit-form form-sm">
						<optgroup>
							<option value="random">Random</option>
						</optgroup>
					</select>
				</div>

				<div class="type-of-questions">
					Type:
					<select name="type" class="unit-form form-sm" onchange="updateForm(this)">
						<optgroup>
							<option value="identification">Identification</option>
							<option value="alignment">Alignment</option>
						</optgroup>
					</select>
				</div>

				<hr hidden="true">

				<div class="position" hidden="true">
					Position:
					<select name="position" class="unit-form form-sm position">
						<optgroup>
							{% for group in position_groups %}
							<option value="{{ group.abbreviation|safe }}">{{ group.abbreviation|safe }}</option>
							{% endfor %}
						</optgroup>
					</select>
				</div>

				<input class="btn btn-success btn-lg pull-right" type="submit" value="Take">
			</form>
		</div>

		<div id="play-quiz" class="take-quiz-form">
			<div class="header">
				PLAY QUIZ
			</div>

			<form action="/quizzes/custom/play" method="get">
				<div class="number-of-questions">
					Number of Questions:
					<i class="fa fa-chevron-left"></i>
					<p class="current-number"> 5 </p>
					<i class="fa fa-chevron-right"></i>
					<input class="current_number" name="number_of_questions" value="5" hidden>
				</div>

				<div class="order-of-questions">
					Order:
					<select name="order" class="unit-form form-sm">
						<optgroup>
							<option value="random">Random</option>
						</optgroup>
					</select>
				</div>

				<div class="type-of-questions">
					Type:
					<select name="type" class="unit-form form-sm" onchange="updateForm(this)">
						<optgroup>
							<option value="identification">Identification</option>
							<option value="assignment">Assignment</option>
						</optgroup>
					</select>
				</div>

				<hr hidden="true">

				<div class="position" hidden="true">
					Position: 
					<select name="position" class="unit-form form-sm position">
						<optgroup>
							{% for group in position_groups %}
							<option value="{{ group.abbreviation|safe }}">{{ group.abbreviation|safe }}</option>
							{% endfor %}
						</optgroup>
					</select>
				</div>

				<!--<div class="type-of-assignment" hidden="true">
					Type of Assignment:
					<select name="type-of-assignment" class="unit-form form-sm type-of-assignment">
						<optgroup>
							<option value="dropback">Dropback</option>
							<option value="progression">Progression</option>
							<option value="motion">Motion</option>
							<option value="run">Run</option>
							<option value="route">Route</option>
							<option value="blocks">Block</option>
						</optgroup>
					</select>
				</div>-->

				<input class="btn btn-success btn-lg pull-right" type="submit" value="Take">
			</form>
		</div>

		<div id="concept-quiz" class="take-quiz-form">
			<div class="header">
				CONCEPT QUIZ
			</div>

			<form action="/quizzes/custom/concept" method="get">
				<div class="number-of-questions">
					Number of Questions:
					<i class="fa fa-chevron-left"></i>
					<p class="current-number"> 5 </p>
					<i class="fa fa-chevron-right"></i>
					<input class="current_number" name="number_of_questions" value="5" hidden>
				</div>

				<div class="order-of-questions">
					Order:
					<select name="order" class="unit-form form-sm">
						<optgroup>
							<option value="random">Random</option>
						</optgroup>
					</select>
				</div>

				<div class="type-of-questions">
					Type:
					<select name="type" class="unit-form form-sm" onchange="updateForm(this)">
						<optgroup>
							<option value="identification">Identification</option>
							<option value="assignment">Assignment</option>
						</optgroup>
					</select>
				</div>

				<hr hidden="true">

				<div class="position" hidden="true">
					Position: 
					<select name="position" class="unit-form form-sm position">
						<optgroup>
							{% for group in position_groups %}
							<option value="{{ group.abbreviation|safe }}">{{ group.abbreviation|safe }}</option>
							{% endfor %}
						</optgroup>
					</select>
				</div>

				<input class="btn btn-success btn-lg pull-right" type="submit" value="Take">
			</form>
		</div>
	</div>	
{% endblock %}

{% block javascript %}
	<script src="{% static 'dashboard/js/jquery-1.10.2.min.js' %}"></script>
	<script type="text/javascript">
		$("i.fa-chevron-left").click(function(event) {
			var arrow_parent = $(this).parent()[0];
			var current_number = arrow_parent.querySelector("p.current-number");
			var current_input_number = arrow_parent.querySelector("input.current_number");

			var number_of_questions = parseInt(current_number.textContent);
			if (number_of_questions > 1) {
				number_of_questions -= 1;	
			}

			current_input_number.setAttribute("value", number_of_questions);
			current_number.textContent = number_of_questions.toString();	
		});

		$("i.fa-chevron-right").click(function(event) {
			var arrow_parent = $(this).parent()[0];
			var current_number = arrow_parent.querySelector("p.current-number");
			var current_input_number = arrow_parent.querySelector("input.current_number");

			var number_of_questions = parseInt(current_number.textContent);
			if (number_of_questions < 20) {
				number_of_questions += 1;	
			}

			current_input_number.setAttribute("value", number_of_questions);
			current_number.textContent = number_of_questions.toString();
		});

		function updateForm(selected) {
			var form = selected.parentElement.parentElement;

			var hr = form.querySelector("hr");
			var position = form.querySelector(".position");
			var type_of_assignment = form.querySelector(".type-of-assignment");

			var value = selected.value;

			if (value === "alignment" || value === "assignment") {
				hr.removeAttribute("hidden");
				position.removeAttribute("hidden");

				if (type_of_assignment != null) {
					type_of_assignment.removeAttribute("hidden");
				}
			} else if (value === "identification") {
				hr.removeAttribute("hidden");
				hr.setAttribute("hidden", "true");

				position.removeAttribute("hidden");
				position.setAttribute("hidden", "true");

				if (type_of_assignment != null) {
					type_of_assignment.removeAttribute("hidden");
					type_of_assignment.setAttribute("hidden", "true");
				}
			}
		}
	</script>
{% endblock %}
