{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Overlay Div -->
<div id="overlay" class="transparent"></div>
{% include "dashboard/theme_setting.html" %}

<div id="wrapper" class="preload">

	{% include "dashboard/sidebar.html" %}

  <script src="{% static 'dashboard/js/sidebarSetActive.js' %}"></script>


	<div id="main-container">
		{% include "dashboard/top_nav_bar.html" %}

		{% include "dashboard/grey_container.html" %}

		<div class="padding-md playbook">

			{% if request.user.myuser.is_a_player %}
				<div class="row dash-row">
					<div class="col-lg-5 dash-col">
						<div class="dash-header text-center">
							<span><h4>FORMATIONS</h4></span>
						</div>
						<div class="col-lg-6">

						</div><!-- /.col -->
						<div class="col-lg-6">

						</div><!-- /.col -->
					</div>
					<div class="col-lg-5 dash-col">
						<div class="dash-header text-center">
							<span><h4>PLAYS</h4></span>
						</div>


					</div>
				{% else %}
				<div class="panel panel-default">
						<div class="panel-heading">
							{{player.full_name}}
						</div>
						<div class="col-lg-5 dash-col display-play-box" id="display-play-box">
							<div class="dash-header text-center">
								<span><h4 id="play-image-header">Defense</h4></span>
							</div>
							<div id="display-play-box-2">

							</div>
							<div class="holds-play-buttons">
								<button id="restart-button" class="btn btn-success" name="button">{% include "quiz/refresh_button.html" %}</button>
								<button id="play-button" class="btn btn-success" name="button">{% include "quiz/play_button.html" %}</button>
								<button id="pause-button" class="btn btn-success" name="button">{% include "quiz/pause_button.html" %}</button>
								<button id="edit-button" class="btn btn-success" name="button">Edit Play</button>

							</div>

						</div>
								<div class="col-lg-2 dash-col choose-defensive-formation-box">
									<div class="dash-header text-center">
										<span><h4>Defensive Plays</h4></span>
									</div>
										{% for formation in unique_defensive_formations %}
											<input class="btn btn-success btn-sm bounceIn animation-delay5 login-link formation formation-button" id="{{formation.id}}" type="submit" value="{{formation}}">
											<br>
										{% endfor %}
										<a href="{% url 'create_defense_formation' %}"><button type="button" name="button">Create New Formation</button></a>
								</div>


						<div class="col-lg-2 dash-col change-plays-box">
							<div class="dash-header text-center">
								<span><h4 id="change-plays-header">Offensive Formation:</h4></span>
							</div>
							{# <form id="choose-play" class="" action="/tests/{{test.id}}/edit" method="post"> {% csrf_token %}#}
								<div class="panel-body show-plays">

								</div><!-- /panel -->
							{# </form>#}
						</div>


						<div id="test-id" data-test-id="{{test.id}}" style="display: none;"></div>
						<div id="play-id-array" data-play-id-array="{{play_id_array}}" style="display: none;"></div>
						<div id="selected-formation" data-formation-id="0" style="display: none;"></div>

					<div class="loading-overlay">
						<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
					</div>
				</div><!-- /panel -->
				{% endif %}

				<div class="loading-overlay">
					<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
				</div>
			</div><!-- /panel -->




			<a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>
			<script type="text/javascript">
				var playClicked;
				var formationID;
				var formationToDraw;
				var playToDraw;
				var offensivePlayToDraw;
				var duplicateDefensiveFormations;
				var removedPlaysFromFormation = [];
				var testID = $('#test-id').data('test-id');
				var playIDArray = $('#play-id-array').data('play-id-array');

        $('.formation-button').click(function(){
					 var offensiveFormationOptions = [];
					 $('.show-plays').text('');
						playToDraw = defensivePlays.filter(function(play) {
							return play.id === Number(this.id);
						}.bind(this))[0]

						duplicateDefensiveFormations = defensivePlays.filter(function(play) {
							return play.playName === this.value;
						}.bind(this))
						duplicateDefensiveFormations.forEach(function(defensiveFormation){
							offensiveFormations.forEach(function(offensiveFormation){
								if(offensiveFormation.id == defensiveFormation.offensiveFormationID){
									offensiveFormationOptions.push(offensiveFormation);
									$('.show-plays').append('<input class="btn btn-success btn-sm bounceIn login-link offensive-formation formation-button" id="'+ offensiveFormation.id + '" type="submit" value="'+ offensiveFormation.playName +'">');
								}
							})
						})
						$('#play-image-header').text("Defense: " + this.value);
        })


				$('.show-plays').on('click', '.offensive-formation', function(){
					playToDraw = duplicateDefensiveFormations.filter(function(formation) {
						return formation.offensiveFormationID === Number(this.id);
					}.bind(this))[0]
					$('#change-plays-header').text('Offensive Formation: ' + playToDraw.offensiveFormationObject.playName);
				});

					$("#play-button").click(function() {
						playScene = true;
					})
					$("#pause-button").click(function() {
						playScene = false;
					})
					$("#restart-button").click(function() {
						playScene = false;
						playToDraw.resetPlayers(defensePlay);
						playToDraw.setAllRoutes();
					})

			</script>
			<script language="javascript" type="text/javascript" src="{% static 'dashboard/js/show_defense_play.js' %}"></script>

			{% endblock %}
