{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block content %}
	<div class="create-quiz padding-md">
		<form class="form-create-quiz" method="post" action="/edit_profile"> 
			{% csrf_token %}
			
			<div class="form-group">
				<label for="group_name">First Name:</label> 
				<input type="text" name="name" id="group-name" class="unit-form form-sm" placeholder="First Name" required>
			</div>

			<div class="form-group">
				<label for="group_name">Last Name:</label> 
				<input type="text" name="name" id="group-name" class="unit-form form-sm" placeholder="Last Name" required>
			</div>

			<div class="form-group">
				<label for="group_name">Username:</label> 
				<input type="text" name="name" id="group-name" class="unit-form form-sm" placeholder="Username" required>
			</div>

			<div class="form-group">
				<label for="group_name">Email:</label> 
				<input type="text" name="name" id="group-name" class="unit-form form-sm" placeholder="Email Address" required>
			</div>

			<div class="form-group">
				<label for="group_name">Password:</label> 
				<button class="btn btn-sm btn-warning">Change Password</button>
			</div>

			<div class="text-left">
				<button class="btn btn-sm btn-success">Update</button>
				<button class="btn btn-sm btn-danger" type="reset">Reset</button>
			</div>
		</form>
	</div><!--/padding-md-->
{% endblock %}

{% block javascript %}
{% endblock %}
