{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block content %}
	<div class="padding-md">
		<div class="panel panel-default">
			<form class="form-horizontal form-border" method="post" action="/edit_profile"> 
				{% csrf_token %
				<div class="panel-footer">
					<div class="text-right">
						<button class="btn btn-sm btn-success">Update</button>
						<button class="btn btn-sm btn-success" type="reset">Reset</button>
					</div>
				</div>
			</form>
		</div><!--/panel-->
	</div><!--/padding-md-->
{% endblock %}

{% block javascript %}
{% endblock %}
