{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Overlay Div -->
<div id="overlay" class="transparent"></div>
{% include "dashboard/theme_setting.html" %}

<div id="wrapper" class="preload">

	{% include "dashboard/sidebar.html" %}

  <script src="{% static 'dashboard/js/sidebarSetActive.js' %}"></script>


	<div id="main-container">
		{% include "dashboard/top_nav_bar.html" %}

		{% include "dashboard/grey_container.html" %}

		<div class="padding-md">
      <div class="row">
        <div class="col-xs-6 col-sm-12 col-md-6 text-center">
          <a href="#">
            <img src="img/user.jpg" alt="User Avatar" class="img-thumbnail">
          </a>
          <div class="seperator"></div>
          <div class="seperator"></div>
        </div><!-- /.col -->
        <div class="col-xs-6 col-sm-12 col-md-6">
          <strong class="font-14">{{test.type_of_test}}</strong>
          <small class="block text-muted">
            {{player.user.get_full_name}}
          </small>
          <div class="seperator"></div>
          <a class="btn btn-success btn-xs m-bottom-sm">Follow</a>
          <div class="seperator"></div>
          <a href="#" class="social-connect tooltip-test facebook-hover pull-left m-right-xs" data-toggle="tooltip" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
          <a href="#" class="social-connect tooltip-test twitter-hover pull-left m-right-xs" data-toggle="tooltip" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
          <a href="#" class="social-connect tooltip-test google-plus-hover pull-left" data-toggle="tooltip" data-original-title="Google Plus"><i class="fa fa-google-plus"></i></a>
          <div class="seperator"></div>
          <div class="seperator"></div>
        </div><!-- /.col -->
      </div><!-- /.row -->
      <div class="panel panel-default">


          <div class="panel-heading">
            Basic Information
          </div>
					{# <form id="choose-formation" class="" action="/tests/{{test.id}}/edit" method="post">#}
	          <div class="panel-body">
							{% for formation in formations %}
								<div class="form-group">
									<input class="btn btn-success btn-sm bounceIn animation-delay5 login-link pull-right formation" id="{{formation.id}}" type="submit" value="{{formation}}">
								</div>
							{% endfor %}
			      </div><!-- /panel -->
					{# </form>#}
					<div class="panel-body show-plays">
						testing
					</div><!-- /panel -->


				<div class="loading-overlay">
					<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
				</div>
			</div><!-- /panel -->



			<a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>
			<script type="text/javascript">
				$('#choose-formation').on('submit', function(event){
					event.preventDefault();
					console.log("form submitted!")  // sanity check
					create_post();
				});

				$(".formation").click(function() {
					var formationName = this.value;
					var formationID = Number(this.id);
					var playArray = []
					$.getJSON('/quiz/teams/1/plays', function(data4, jqXHR){
						data4.forEach(function(play){
							if(play.fields.formation === formationID){
								playArray.push(play.fields.name);
							}
						})
						displayPlays(playArray);
					})

				});

				// AJAX for posting
				function create_post() {
				    console.log("create post is working!") // sanity check
				    console.log($('#post-text').val())
				};

				function displayPlays(playArray) {
						$('.show-plays').empty();
						playArray.forEach(function(playName){
							$('.show-plays').append("<input class='btn btn-success btn-sm bounceIn login-link play' id='4' type='submit' value='"+ playName+"'>");

						})
				};
			</script>
			{% endblock %}
