{% extends 'dashboard/getsnap_base.html' %}
{% load staticfiles %}

{% block page %}
	<div id="getsnap-wrapper">
		<div id="goto-login">
			<p>Already have an account? <a href="/login">Sign in</a></p>
		</div>

		<form action="/getsnap" method="post" class="getsnap-form"> 
			{% csrf_token %}
			<input type="text" name="fname" placeholder="First Name">
			<input type="text" name="lname" placeholder="Last Name"> <br>
			<input type="tel" name="number" placeholder="Phone Number"> <br>
			<input type="email" name="email" placeholder="Email"> <br>
			<button type="submit">Request Snap</button>
		</form>
	</div>
{% endblock %}