<div class="grey-container shortcut-wrapper">
  <a href="#" class="shortcut-link">
    <span class="shortcut-icon">
      <i class="fa fa-bar-chart-o"></i>
    </span>
    <span class="text">Statistic</span>
  </a>
  <a href="#" class="shortcut-link">
    <span class="shortcut-icon">
      <i class="fa fa-envelope-o"></i>
      <span class="shortcut-alert">
        5
      </span>
    </span>
    <span class="text">Messages</span>
  </a>
  <a href="#" class="shortcut-link">
    <span class="shortcut-icon">
      <i class="fa fa-user"></i>
    </span>
    <span class="text">New Users</span>
  </a>
  <a href="#" class="shortcut-link">
    <span class="shortcut-icon">
      <i class="fa fa-globe"></i>
      <span class="shortcut-alert">
        7
      </span>
    </span>
    <span class="text">Notification</span>
  </a>
  <a href="#" class="shortcut-link">
    <span class="shortcut-icon">
      <i class="fa fa-list"></i>
    </span>
    <span class="text">Activity</span>
  </a>
  <a href="#" class="shortcut-link">
    <span class="shortcut-icon">
      <i class="fa fa-cog"></i></span>
    <span class="text">Setting</span>
  </a>
</div><!-- /grey-container -->
