{% load staticfiles %}
<div class="grey-container shortcut-wrapper">
  <div class="wrapper">
  <span class="align-left">
    <a href="#" class="grey-container-link">
      <img class="grey-container-icon" src="{% static 'dashboard/images/dashboard-icon-dark.png' %}" alt="">
      <span class="text">&nbsp;&nbsp;DASHBOARD</span>
    </a>
  </span>
  <span class="align-right">
    <a href="#" class="grey-container-link">
      <img class="grey-container-icon" src="{% static 'dashboard/images/calendar-icon-dark.png' %}" alt="">&nbsp;&nbsp;
    </a>
    <a href="#" class="grey-container-link">
      <img class="grey-container-icon" src="{% static 'dashboard/images/settings-icon-dark.png' %}" alt="">&nbsp;
    </a>
  </div>
</div><!-- /grey-container -->
