{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block content %}
	<div class="all-groups padding-md">
		<div class="action-boxes">
			<table class="action-table">
				<tbody>
					<tr>
						<td>
							<a href="create">
								<span>
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle-thin fa-stack-2x"></i>
										<i class="fa fa-plus fa-stack-1x"></i>
									</span>
									CREATE GROUP
								</span>
							</a>
						</td>
						<td>
							<a href="manage" id="manage-groups-link">
								<span>
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle-thin fa-stack-2x"></i>
										<i class="fa fa-users fa-stack-1x"></i>
									</span>
									MANAGE GROUPS
								</span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<form>
			<select name="units" class="unit-form form-sm" id="group-form" onchange="changeGroup(this)">
				<optgroup label="Groups">
					{% for group in groups %}
						<option value="{{ group.id }}" id="group-id">
							&nbsp;&nbsp;&nbsp;{{ group }}
						</option>
					{% endfor %}
				</optgroup>
			</select>
		</form>

		<div class="row group-home">
			<div class="col-lg-8" id="display-group-box">
				<div class="table-wrapper" id="group-table-wrapper">
					<table class="player-list">
						<tbody>
							<tr>
								<th>PLAYER</th>
								<th>POSITION</th>
								<th>YEAR</th>
								<th>RESULTS</th>
							</tr>
							{% if players_in_group %}
								{% for player in players_in_group %}
									<tr>
										<td>{{ player.first_name }} {{ player.last_name }}</td>
										<td>{{ player.position }}</td>
										<td>{{ player.year }}</td>
										<td>96%</td>
									</tr>
								{% endfor %}
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-lg-3 group-analytics-col no-border">
				<div class = "table-wrapper">
					<table class = "group-analytics">
						<tbody>
							<tr>
								<td>
									<h3>CORRECT</h3>
									<canvas id="percentCorrectChart"></canvas>
								</td>
							</tr>
							<tr>
								<td>
									<h3>INCORRECT</h3>
									<canvas id="percentIncorrectChart"></canvas>
								</td>
							</tr>
							<tr>
								<td>
									<h3>SKIPPED</h3>
									<canvas id="percentSkippedChart"></canvas>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div><!--/row-->
	</div><!--/all-groups-->
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		var createUserTable = function(users) {
			var innerHTML = "<table class=\"player-list\">";
			innerHTML += "<tr>"
			innerHTML += "<th>PLAYER</th><th>POSITION</th><th>YEAR</th><th>RESULTS</th>"
			innerHTML += "</tr>"
			
			for(var i = 0; i < users.length; i++) {
				var user = users[i];
				innerHTML += "<tr>"
				innerHTML += "<td>" + user.firstName + " " + user.lastName + "</td>"
				innerHTML += "<td>" + user.position + "</td>"
				innerHTML += "<td>" + user.year + "</td>"
				innerHTML += "<td>96%</td>"
				innerHTML += "</tr>"
			}

			innerHTML += "</table>"

			return innerHTML;
		}

		var changeGroup = function(sel) {
			var groupTableWrapper = document.getElementById('group-table-wrapper');
			var manageLink = document.getElementById('manage-groups-link');
			var groupID = sel.value;

			manageLink.href = 'manage'
			
			var queryString = "/groups/" + groupID + "/json";
			var users = [];

			$.getJSON(queryString, function(data, jqXHR) {
				data.forEach(function(userObject) {
					var u = createUserFromJSON(userObject);
					users.push(u);
					groupTableWrapper.innerHTML = createUserTable(users);
				});
			});
		};

		var initGroupTable = function(){
			debugger;
			var sel = document.getElementById('group-form');
			changeGroup(sel);
		};
	</script>

	<script src="{% static 'dashboard/js/sidebarSetActive.js' %}"></script>

	<!-- Pass Django variables to JS assets -->
	<script type="text/javascript">
		var percentCorrect = {{analytics.total_correct_attempts_percentage}},
			percentIncorrect = {{analytics.total_incorrect_attempts_percentage}},
			percentSkipped = {{analytics.total_skipped_attempts_percentage}};
	</script>
	<!-- Loading Chart.js through CDN for now -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
	<!-- Build Charts -->
	<script src="{% static 'dashboard/js/analytics.js' %}"></script>
{% endblock %}
