{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% load app_filters %}

{% block content %}
	<!-- Overlay Div -->
	<div id="overlay" class="transparent"></div>
	{% include "dashboard/theme_setting.html" %}
	
	<div id="wrapper" class="preload">
		{% include "dashboard/sidebar.html" %}

		<div id="main-container">
			{% include "dashboard/navbar.html" %}
			{% include "dashboard/grey_container.html" %}

			<div class="padding-md player-home">
				<div class="col-lg-7 dash-col">
					<div class="top-row dash-row">
						<div class="text-center dash-header">
							{% if request.user.myuser.is_a_player %}
								<span><h4>TO DO</h4></span>
							{% else %}
								<span><h4>Tests I Assigned</h4></span>
							{% endif %}
						</div>
						<div class = "table-wrapper">
							<table class="table to-do-table" id="responsiveTable">
								<tbody>
									<tr>
										<th>NAME</th><th>TYPE</th><th>DUE</th><th>ASSIGNED BY</th><th>STATUS</th>
									</tr>
									{% for test in uncompleted_tests %}
										<tr id="test-{{test.id}}">
											<td>
												{{test.name}}
											</td>
											<td>
												{{test}}
											</td>
											<td>
												{% due_date_default test.deadline %}
											</td>
											<td>
												{{test.coach_who_created.first_name}} {{test.coach_who_created.last_name}}
											</td>
											<td>
												<a href="/quiz/{{test.type_of_test}}/{{test.id}}">
													<span class="start-quiz">Start Quiz</span>
												</a>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>

					<div class="dash-row">
						<div class="dash-header text-center">
							<span><h4>ANALYTICS</h4></span>
						</div>
						<div class="analytics-graph-row">
							<table class="analytics-table">
								<tbody>
									<tr>
										<td><canvas id="percentCorrectChart"></canvas><br /><span>CORRECT</span></td>
										<td><canvas id="percentIncorrectChart"></canvas><br /><span>MISSED</span></td>
										<td><canvas id="percentSkippedChart"></canvas><br /><span>SKIPPED</span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div><!--/dash-col-->

				<div class="col-lg-3 news-col">
					<div class="text-center news-header">
						<span><h4>NEWS FEED</h4></span>
					</div>

					<div class = "table-wrapper">
						<table class="table news-feed-table">
							<tbody>
								{% for test in uncompleted_tests %}
									<tr>
										<td>
											<img class="test-row-icon" src="{% static 'dashboard/images/playbook-icon-dark.png' %}" alt="">
										</td>
										<td>
											<a class="coach-link" href="#">{{test.coach_who_created.first_name}} {{test.coach_who_created.last_name}}</a>: Added a new 
											<a class="play-link" href="#">PLAY</a>
										</td>
									</tr>
									<tr>
										<td>
											<img class="test-row-icon" src="{% static 'dashboard/images/formation-icon-dark.png' %}" alt="">
										</td>
										<td>
											<a class="coach-link" href="#">{{test.coach_who_created.first_name}} {{test.coach_who_created.last_name}}</a>: Added a new 
											<a class="formation-link" href="#">FORMATION</a>
										</td>
									</tr>
									<tr>
										<td>
											<img class="test-row-icon" src="{% static 'dashboard/images/playbook-icon-dark.png' %}" alt="">
										</td>
										<td>
											<a class="coach-link" href="#">{{test.coach_who_created.first_name}} {{test.coach_who_created.last_name}}</a>: Added a new 
											<a class="play-link" href="#">PLAY</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div><!--/news-col-->
			</div><!--/padding-->

			<div class="loading-overlay">
				<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
			</div>
		</div><!--/main-container-->
	</div><!--/wrapper-->

	<a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>
	<script src="{% static 'dashboard/js/sidebarSetActive.js' %}"></script>
	<!-- Pass Django variables to JS assets -->
	<script type="text/javascript">
		var percentCorrect = {{analytics.total_correct_attempts_percentage}},
		percentIncorrect = {{analytics.total_incorrect_attempts_percentage}},
		percentSkipped = {{analytics.total_skipped_attempts_percentage}};
	</script>

	<!-- Loading Chart.js through CDN for now -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

	<!-- Build Charts -->
	<script src="{% static 'dashboard/js/analytics.js' %}"></script>
{% endblock %}
