{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Overlay Div -->
<div id="overlay" class="transparent"></div>
{% include "dashboard/theme_setting.html" %}

<div id="wrapper" class="preload">
	{% include "dashboard/sidebar.html" %}


	<div id="main-container">
		{% include "dashboard/top_nav_bar.html" %}

		{% include "dashboard/grey_container.html" %}

		<div class="padding-md">
			<div class="row dash-row">
				<div class="col-lg-7 dash-col">
					<div class="text-center dash-header">
						{% if request.user.myuser.is_a_player %}
							<span><h4>TO DO</h4></span>
						{% else %}
							<span><h4>Tests I Assigned</h4></span>
						{% endif %}
					</div>
					<div class = "table-wrapper">
						<table class="table to-do-table" id="responsiveTable">
							<tbody>
								{% for test in uncompleted_tests %}
								<tr id="test-{{test.id}}">
									<td>
										<img class="test-row-icon" src="{% static 'dashboard/images/formation-icon-dark.png' %}" alt="">
									</td>
									<td>
										{{test.name}}
									</td>
									{% if not request.user.myuser.is_a_player %}
									<td>
										{{test.player}}
									</td>
									{% endif %}
									<td>
										{{test}}
									</td>
									<td>Due: {{test.deadline}}</td>
									{% if request.user.myuser.is_a_player %}
										<td><a href="/quiz/{{test.type_of_test}}/{{test.id}}"><span class="start-quiz">Start Quiz</span></a></td>
									{% else %}
									<td><a href="{% url 'edit_test' test.id %}"><span class="label label-success">Edit Quiz</span></a></td>
									<td><a href="{% url 'test_analytics' test.id %}"><span class="label label-success">Analytics</span></a></td>

									{% endif %}
								</tr>
								{% endfor %}

							</tbody>
						</table>
					</div>
				</div>
				<div class="col-lg-4 dash-col">
					<div class="text-center dash-header">
						<span><h4>NEWS FEED</h4></span>
					</div>
					<div class = "table-wrapper">
						<table>
							<tbody>

								{% if request.user.myuser.is_a_player %}
								<tr>
									<td>Data Not Available</td>
								</tr>
								<tr>
									<td>Data Not Available</td>
								</tr>
								<tr>
									<td>Data Not Available</td>
								</tr>
								{% else %}
								<tr>
									<td><a class="btn btn-success" href="/create_test">Create Test</a></td>
								</tr>
								<tr>
									<td><a class="btn btn-success" href="/create_group">Create Group</a></td>
								</tr>


								{% endif %}
							</tbody>
						</table>
					</div>
				</div>

				<div class="loading-overlay">
					<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
				</div>
			</div><!-- /panel -->

			<div class="row dash-row">
				<div class="col-lg-7 dash-col">
					<div class="dash-header text-center">
						<span><h4>ANALYTICS</h4></span>
					</div>
					<div class="col-lg-6 progress-wheel">
						<img src="{% static 'dashboard/images/progress-wheel.png' %}" alt="">
					</div><!-- /.col -->
					<div class="col-lg-6 progress-wheel">
						<img src="{% static 'dashboard/images/progress-wheel.png' %}" alt="">
					</div><!-- /.col -->
				</div>
				<div class="col-lg-4 dash-col">
					<div class="dash-header text-center">
						<span><h4>PLAYBOOK</h4></span>
					</div>
					<div class="col-lg-6">
						<div class="panel-stat3 bg-danger">
						</div>
					</div><!-- /.col -->
					<div class="col-lg-6">
						<div class="panel-stat3 bg-info">

						</div>
					</div><!-- /.col -->
				</div>

				<div class="loading-overlay">
					<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
				</div>
			</div><!-- /panel -->




			<a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>
			{% endblock %}
