{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block content %}
	<!-- Overlay Div -->
	<div id="overlay" class="transparent"></div>
	{% include "dashboard/theme_setting.html" %}

	<div id="wrapper" class="preload">
		{% include "dashboard/sidebar.html" %}
		
		<div id="main-container" onload="initGroupTable( {{ team.id }} )">
			{% include "dashboard/navbar.html" %}
			{% include "dashboard/grey_container.html" %}

			<div class="manage-groups padding-md">
				<div class="action-boxes">
					<table class="action-table">
						<tbody>
							<tr>
								<td>
									<a href="create">
										<span>
											<img class="coach-action-icon" src="{% static 'dashboard/images/plus-icon-dark.png' %}" alt="">
											&nbsp;&nbsp;&nbsp;CREATE GROUP
										</span>
									</a>
								</td>
								<td>
									<a href="manage" id="manage-groups-link">
										<span>
											<img class="coach-action-icon" src="{% static 'dashboard/images/groups-icon-dark.png' %}" alt="">
											&nbsp;&nbsp;&nbsp;MANAGE GROUPS
										</span>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<form>
					<select name="units" class="unit-form" id="group-form" onchange="changeBothGroups(this, {{ team.id }})">
						<optgroup label="Groups">
							{% for group in groups %}
								<option value="{{ group.id }}">
									&nbsp;&nbsp;&nbsp;{{ group }}
								</option>
							{% endfor %}
						</optgroup>
					</select>
				</form>

				<div class="row dash-row group-home">
					<div class="col-lg-7" id="display-group-box">
						<div class = "table-wrapper" id="players-in-group-table-wrapper">
							<table class="player-list" id="in-group">
								<tbody>
									<tr>
										<th>REMOVE</th>
										<th>PLAYER</th>
										<th>POSITION</th>
										<th>YEAR</th>
									</tr>
									{% if players_in_group %}
										{% for player in players_in_group %}
											<tr>
												<td>
													<i class="fa fa-minus-circle fa-lg red" onclick="changeColumn(this, 'REMOVE')"></i>
												</td>
												<td>{{ player.first_name }} {{ player.last_name }}</td>
												<td>{{ player.position }}</td>
												<td>{{ player.year }}</td>
											</tr>
										{% endfor %}
									{% endif %}
								</tbody>
							</table>
						</div>
					</div>
					<div class="col-lg-5">
						<div class = "table-wrapper" id="players-not-in-group-table-wrapper">
							<table class="player-list" id="not-in-group">
								<tbody>
									<tr>
										<th>ADD</th>
										<th>PLAYER</th>
										<th>POSITION</th>
										<th>YEAR</th>
									</tr>
									{% if players_not_in_group %}
										{% for player in players_not_in_group %}
											<tr>
												<td>
													<i class="fa fa-plus-circle fa-lg green" onclick="changeColumn(this, 'ADD')"></i>
												</td>
												<td>{{ player.first_name }} {{ player.last_name }}</td>
												<td>{{ player.position }}</td>
												<td>{{ player.year }}</td>
											</tr>
										{% endfor %}
									{% endif %}
								</tbody>
							</table>
						</div>
					</div>
				</div><!-- /panel -->
			</div><!--all-groups-->
		</div><!--main-container-->

		<div class="loading-overlay">
			<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
		</div>	

		<a href="" id="scroll-to-top" class="hidden-print">
			<i class="fa fa-chevron-up"></i>
		</a>
	</div><!--/wrapper-->
{% endblock %}

{% block javascript %}
	<script type="text/javascript">

		var changeBothGroups = function(sel, teamID) {
			changeAddTable(sel.value,teamID);
			changeRemoveTable(sel.value);
		};

		var changeAddTable = function(groupID, teamID) {
			var playersNotInGroup = [];
			var notInGroupJson = "/groups/" + groupID + "/" + teamID + "/json";
			var playersNotInGroupTableWrapper = document.getElementById('players-not-in-group-table-wrapper');

			$.getJSON(notInGroupJson, function(data, jqXHR) {
				data.forEach(function(groupPlayerObject) {
					var groupPlayer = createUserFromJSON(groupPlayerObject);
					playersNotInGroup.push(groupPlayer);
					playersNotInGroupTableWrapper.innerHTML = createPlayersNotInGroupTable(playersNotInGroup);
				});
			});
		};

		var changeRemoveTable = function(groupID) {
			var playersInGroup = [];
			var groupJson = "/groups/" + groupID + "/json";
			var playersInGroupTableWrapper = document.getElementById('players-in-group-table-wrapper');

			$.getJSON(groupJson, function(data) {
				data.forEach(function(groupPlayerObject, jqXHR) {
					var groupPlayer = createUserFromJSON(groupPlayerObject);
					playersInGroup.push(groupPlayer);
					playersInGroupTableWrapper.innerHTML = createPlayersInGroupTable(playersInGroup);
				});
			});
		};

		var createPlayersNotInGroupTable = function(users) {
			var innerHTML = "<table class=\"player-list\">";
			innerHTML += "<tr>"
			innerHTML += "<th>ADD</th><th>PLAYER</th><th>POSITION</th><th>YEAR</th>"
			innerHTML += "</tr>"
			
			for(var i = 0; i < users.length; i++) {
				var user = users[i];
				innerHTML += "<tr>"
				innerHTML += "<td><i class=\"fa fa-plus-circle fa-lg green\" onclick=\"changeColumn(this, 'ADD')\"></i></td>"
				innerHTML += "<td>" + user.firstName + " " + user.lastName +  "</td>"
				innerHTML += "<td>" + user.position + "</td>"
				innerHTML += "<td>" + user.year + "</td>"
				innerHTML += "</tr>"
			}

			innerHTML += "</table>"

			return innerHTML;
		};

		var createPlayersInGroupTable = function(users) {
			var innerHTML = "<table class=\"player-list\">";
			innerHTML += "<tr>"
			innerHTML += "<th>REMOVE</th><th>PLAYER</th><th>POSITION</th><th>YEAR</th>"
			innerHTML += "</tr>"
			
			for(var i = 0; i < users.length; i++) {
				var user = users[i];
				innerHTML += "<tr>"
				innerHTML += "<td><i class=\"fa fa-minus-circle fa-lg red\" onclick=\"changeColumn(this, 'REMOVE')\"></i></td>"
				innerHTML += "<td>" + user.firstName + " " + user.lastName + "</td>"
				innerHTML += "<td>" + user.position + "</td>"
				innerHTML += "<td>" + user.year + "</td>"
				innerHTML += "</tr>"
			}

			innerHTML += "</table>"

			return innerHTML;
		};

		// When an icon is clicked call this function and update the columns.
		// After updating the columns make a POST request to update the database.
		var changeColumn = function(selected, action) {
			var selected_row = selected.parentNode.parentNode;
			var selected_table = selected_row.parentNode;

			selected_table.removeChild(selected_row);

			if (action == "ADD") {

			} else if (action == "REMOVE") {

			}
		}
	</script>

	<script src="{% static 'dashboard/js/sidebarSetActive.js' %}"></script>
{% endblock %}
