{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block content %}
			<div class="manage-groups padding-md" id="team-id" value="{{ team.id }}">
				<div class="action-boxes">
					<table class="action-table">
						<tbody>
							<tr>
								<td>
									<a href="create">
										<span>
											<img class="coach-action-icon" src="{% static 'dashboard/images/plus-icon-dark.png' %}" alt="">
											&nbsp;&nbsp;&nbsp;CREATE GROUP
										</span>
									</a>
								</td>
								<td>
									<a href="manage" id="manage-groups-link">
										<span>
											<img class="coach-action-icon" src="{% static 'dashboard/images/groups-icon-dark.png' %}" alt="">
											&nbsp;&nbsp;&nbsp;MANAGE GROUPS
										</span>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<form>
					<select name="units" class="unit-form" id="group-form" onchange="changeGroup(this, {{ team.id }})">
						<optgroup label="Groups" id="group-optgroup" firstgroup="{{ groups.0.id }}">
							{% for group in groups %}
								<option value="{{ group.id }}" id="group-id">
									&nbsp;&nbsp;&nbsp;{{ group }}
								</option>
							{% endfor %}
						</optgroup>
					</select>
				</form>

				<div class="row dash-row group-home">
					<div class="col-lg-7" id="display-group-box">
						<div class = "table-wrapper" id="players-in-group-table-wrapper">
							<table class="player-list">
								<tbody id="in-group">
									<tr class="header">
										<th>REMOVE</th>
										<th>PLAYER</th>
										<th>POSITION</th>
										<th>YEAR</th>
									</tr>
									{% if players_in_group %}
										{% for player in players_in_group %}
											<tr id="{{ player.pk }}">
												<td class="icon-cell">
													<i class="fa fa-minus-circle fa-2x red" onclick="changeColumnAndAddToForm(this, 'REMOVE')"></i>
												</td>
												<td>{{ player.first_name }} {{ player.last_name }}</td>
												<td>{{ player.position }}</td>
												<td>{{ player.year }}</td>
											</tr>
										{% endfor %}
									{% endif %}
								</tbody>
							</table>
						</div>

						<form method="post" action="/groups/manage" id="hidden-form">
							{% csrf_token %}
							<input type="hidden" id="post-group-id" name="group" value="{{ groups.0.id }}">
						</form>
					</div>
					<div class="col-lg-5">
						<div class = "table-wrapper" id="players-not-in-group-table-wrapper">
							<table class="player-list">
								<tbody id="not-in-group">
									<tr class="header">
										<th>ADD</th>
										<th>PLAYER</th>
										<th>POSITION</th>
										<th>YEAR</th>
									</tr>
									{% if players_not_in_group %}
										{% for player in players_not_in_group %}
											<tr id="{{ player.pk }}">
												<td class="icon-cell">
													<i class="fa fa-plus-circle fa-2x green" onclick="changeColumnAndAddToForm(this, 'ADD')"></i>
												</td>
												<td>{{ player.first_name }} {{ player.last_name }}</td>
												<td>{{ player.position }}</td>
												<td>{{ player.year }}</td>
											</tr>
										{% endfor %}
									{% endif %}
								</tbody>
							</table>
						</div>
					</div>
				</div><!-- /panel -->
			</div><!--all-groups-->
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		var initGroupTable = function() {
			var sel = document.getElementById("group-form");

			changeGroup(sel);
		};

		// cancel_changes() removed all items from the hidden form except
		// for the csrf token 
		var cancelChanges = function() {
			var manage_groups_div = document.getElementById("team-id");
			var teamID = Number(manage_groups_div.getAttribute("value"));
			var group_option = document.getElementById("group-form");

			changeGroup(group_option, teamID);
		};

		// Wrapper function for updating the tables on a group change.
		var changeGroup = function(sel, teamID) {
			changePlayersNotInGroupTable(sel.value, teamID);
			changePlayersInGroupTable(sel.value);

			// Remove everything from the form besides the csrf token
			var form = document.getElementById("hidden-form");
			var csrf_token = form.querySelector("input[name=csrfmiddlewaretoken]");
			while (csrf_token.nextSibling != null) {
				form.removeChild(csrf_token.nextSibling);
			}

			if (document.getElementById("post-group-id") == null) {
				var hiddenGroupField = document.createElement("input");
				hiddenGroupField.setAttribute("type", "hidden");
				hiddenGroupField.setAttribute("id", "post-group-id");
				hiddenGroupField.setAttribute("name", "group");
				hiddenGroupField.setAttribute("value", sel.value); 
				
				form.appendChild(hiddenGroupField);
			}
		};

		// Wrapper function for updating the tables and form when a player is moved.
		var changeColumnAndAddToFormNoArgs = function() {
			var selected = this;
			var this_class = this.getAttribute("class");
			var operation;

			if (this_class == "fa fa-minus-circle fa-2x red") {
				operation = "REMOVE";
			} else if (this_class == "fa fa-plus-circle fa-2x green") {
				operation = "ADD";
			}

			changeColumnAndAddToForm(selected, operation);
		};

		// Wrapper function for updating the tables and form when a player is moved.
		var changeColumnAndAddToForm = function(selected, operation) {
			changeColumn(selected, operation);

			var selected_row = selected_row = selected.parentNode.parentNode;
			var player_pk = Number(selected_row.getAttribute("id"));

			// Add save and cancel buttons if they don't exist
			var form = document.getElementById("hidden-form");

			if (document.getElementById("save") == null) {
				var save_button = document.createElement("input");
				save_button.setAttribute("class", "btn btn-success btn-lg");
				save_button.setAttribute("id", "save");
				save_button.setAttribute("type", "submit");
				save_button.setAttribute("value", "Save Changes");

				form.appendChild(save_button);
			}

			if (document.getElementById("cancel") == null) {
				var cancel_button = document.createElement("input");
				cancel_button.setAttribute("class", "btn btn-danger btn-lg");
				cancel_button.setAttribute("id", "cancel");
				cancel_button.setAttribute("type", "button");
				cancel_button.setAttribute("value", "Cancel");
				cancel_button.addEventListener("click", cancelChanges);

				form.appendChild(cancel_button);
			}

			addChangesToForm(operation, player_pk);
		};

		var changePlayersNotInGroupTable = function(groupID, teamID) {
			var notInGroupJson = "/groups/" + groupID + "/" + teamID + "/json";

			var table_body = document.getElementById("not-in-group");
			var header_row = table_body.querySelector(".header");

			while (header_row.nextSibling != null) {
				table_body.removeChild(header_row.nextSibling);
			}

			$.getJSON(notInGroupJson, function(data, jqXHR) {
				data.forEach(function(groupPlayerObject) {
					var groupPlayer = createUserFromJSON(groupPlayerObject);
					createPlayersNotInGroupRow(groupPlayer);
				});
			});
		};

		var changePlayersInGroupTable = function(groupID) {
			var groupJson = "/groups/" + groupID + "/json";

			var table_body = document.getElementById("in-group");
			var header_row = table_body.querySelector(".header");

			while (header_row.nextSibling != null) {
				table_body.removeChild(header_row.nextSibling);
			}

			$.getJSON(groupJson, function(data) {
				data.forEach(function(groupPlayerObject, jqXHR) {
					var groupPlayer = createUserFromJSON(groupPlayerObject);
					createPlayersInGroupRow(groupPlayer);
				});
			});
		};

		var createPlayersNotInGroupRow = function(user) {
			var table_body = document.getElementById("not-in-group");

			var	new_row = document.createElement("tr");
			new_row.setAttribute("id", user.id.toString());

			var new_icon_cell = document.createElement("td");
			new_icon_cell.setAttribute("class", "icon-cell");

			var new_icon = document.createElement("i");
			new_icon.setAttribute("class", "fa fa-plus-circle fa-2x green");
			new_icon.addEventListener("click", changeColumnAndAddToFormNoArgs);

			var new_name_cell = document.createElement("td");
			new_name_cell.textContent = user.firstName + " " + user.lastName;

			var new_position_cell = document.createElement("td");
			new_position_cell.textContent = user.position;

			var new_year_cell = document.createElement("td");
			new_year_cell.textContent = user.year;

			new_icon_cell.appendChild(new_icon);
			new_row.appendChild(new_icon_cell);
			new_row.appendChild(new_name_cell);
			new_row.appendChild(new_position_cell);
			new_row.appendChild(new_year_cell);

			table_body.appendChild(new_row);

		};

		var createPlayersInGroupRow = function(user) {
			var table_body = document.getElementById("in-group");

			var	new_row = document.createElement("tr");
			new_row.setAttribute("id", user.id.toString());

			var new_icon_cell = document.createElement("td");
			new_icon_cell.setAttribute("class", "icon-cell");

			var new_icon = document.createElement("i");
			new_icon.setAttribute("class", "fa fa-minus-circle fa-2x red");
			new_icon.addEventListener("click", changeColumnAndAddToFormNoArgs);

			var new_name_cell = document.createElement("td");
			new_name_cell.textContent = user.firstName + " " + user.lastName;

			var new_position_cell = document.createElement("td");
			new_position_cell.textContent = user.position;

			var new_year_cell = document.createElement("td");
			new_year_cell.textContent = user.year;

			new_icon_cell.appendChild(new_icon);
			new_row.appendChild(new_icon_cell);
			new_row.appendChild(new_name_cell);
			new_row.appendChild(new_position_cell);
			new_row.appendChild(new_year_cell);

			table_body.appendChild(new_row);
		};

		// When an icon is clicked call this function and update the columns.
		// After updating the columns make a POST request to update the database.
		var changeColumn = function(selected, operation) {
			// The table (<tbody>) and row (<tr>) of the icon that was clicked
			var selected_row = selected.parentNode.parentNode;
			var selected_table = selected_row.parentNode;
			
			// Create a new row to be inserted into the other table.
			// Initially this is a clone of the selected row, but we need
			// to change the icon in the first column. Argument 'true'
			// is to make a deep copy of the element being cloned.
			var new_row = selected_row.cloneNode(true);

			// Create a new <td></td> for the new icon, and add a new
			// <i></i> element to it. Also, set the class of the new
			// cell to .icon-cell, so it can be manipulated later on.
			var new_icon_table_data = document.createElement("td");
			new_icon_table_data.setAttribute("class", "icon-cell");
			new_icon_table_data.appendChild( document.createElement("i") );

			// This will be set equal to the able we want to insert our
			// new row into.
			var target_table;

			// Select the correct table that we want to append. Add the 
			// appropriate attributes to our new icon and then replace 
			// the old icon with the new icon. 
			if (operation == "ADD") {
				target_table = document.getElementById("in-group");
				new_icon_table_data.firstChild.setAttribute("class", "fa fa-minus-circle fa-2x red");
				new_icon_table_data.firstChild.setAttribute("onclick", "changeColumn(this, 'REMOVE')");
				new_row.replaceChild(new_icon_table_data, new_row.querySelector(".icon-cell") );
			} else if (operation == "REMOVE") {
				target_table = document.getElementById("not-in-group");
				new_icon_table_data.firstChild.setAttribute("class", "fa fa-plus-circle fa-2x green");
				new_icon_table_data.firstChild.setAttribute("onclick", "changeColumn(this, 'ADD')");
				new_row.replaceChild(new_icon_table_data, new_row.querySelector(".icon-cell") );
			}

			// Delete the row that was clicked on, and add our new row to the end
			// of the target table.
			selected_table.removeChild(selected_row);
			target_table.appendChild(new_row);
		};

		// This function submits POST requests to '/groups/manage' in
		// order to keep the database updated
		var addChangesToForm = function(operation, player_id) { 
			var form = document.getElementById("hidden-form");

			if (operation == "ADD") {
				var hiddenPlayerField = document.createElement("input");
				hiddenPlayerField.setAttribute("type", "hidden");
				hiddenPlayerField.setAttribute("name", "add_player");
				hiddenPlayerField.setAttribute("value", player_id);

				form.appendChild(hiddenPlayerField);
			} else if (operation == "REMOVE") {
				var hiddenPlayerField = document.createElement("input");
				hiddenPlayerField.setAttribute("type", "hidden");
				hiddenPlayerField.setAttribute("name", "remove_player");
				hiddenPlayerField.setAttribute("value", player_id);

				form.appendChild(hiddenPlayerField);
			}
		};
	</script>

	<script src="{% static 'dashboard/js/sidebarSetActive.js' %}"></script>
{% endblock %}
