{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block content %}
	<div id="plays-analytics" class="analytics">
		<table class="analytics-table">
			<thead>
				<tr>
					<th>PLAY</th>
					<th>SCOUT FORMATION</th>
					<th>CORRECT</th>
					<th>WRONG</th>
					<th>SKIPPED</th>
				</tr>
			</thead>
			{% for play_analytics in plays_analytics %}
				<tbody>
					<tr>
						<td>{{ play_analytics.0 }}</td>
						<td>{{ play_analytics.1 }}</td>
						<td>{{ play_analytics.2|floatformat }} %</td>
						<td>{{ play_analytics.3|floatformat }} %</td>
						<td>{{ play_analytics.4|floatformat }} %</td>
					</tr>
				</tbody>
			{% endfor %}
		</table>
	</div>
{% endblock %}

{% block javascript %}
	<script src="{% static 'dashboard/js/sidebarSetActive.js' %}"></script>
{% endblock %}
