{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% load app_filters %}

{% block content %}
	<div class="player-homepage">
		<div class="col-md-7 quizzes">
			<table>
				<thead>
					<tr>
						<th colspan="3"><div class="header">TODO</div></th>
					</tr>
					<tr>
						<th>QUIZ</th>
						<th>SUBMITTED</th>
						<th>TAKE</th>
					</tr>
				</thead>
				<tbody id="quizzes-body">
					{% for quiz in quizzes %}
						<tr>
							<td>{{ quiz.0 }}</td>
							{% if quiz.1 %}
							<td><i class="fa fa-check fa-lg"></i></td>
							<td><a href="/quizzes/take/{{ quiz.2 }}" >Retake {{ quiz.0 }}</a></td>
							{% else %}
							<td><i class="fa fa-close fa-lg"></i></td>
							<td><a href="/quizzes/take/{{ quiz.2 }}" >Take {{ quiz.0 }}</a></td>
							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<div class="col-md-5 newsfeed">
			<div class="header">NEWSFEED</div>
			<div class="newsfeed-body">
				{% if newsfeed|length %}
					<ul>
						{% for news in newsfeed %}
							<li class="{{ news.0 }}">
								A new {{ news.1 }} <a href="{{ news.5 }}">{{ news.2 }}</a> was {{ news.3 }}
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
{% endblock %}
