{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block content %}
	<div id="playbook" class="playbook">
		<div id="top-options">
			<select id="top-options-dropdown" onchange="changeSideviewAndTopOptions(this)">
				{% if unit == "offense" %}
					<option value="offensive playbook">
						Offensive Playbook
					</option>
					<option value="offensive concepts">
						Offensive Concepts
					</option>
					<option value="defensive looks">
						Defensive Looks
					</option>
				{% else %}
					<option value="defensive playbook">
						Defensive Playbook
					</option>
					<option value="defensive concepts">
						Defensive Concepts
					</option>
					<option value="offensive plays">
						Offensive Plays
					</option>
				{% endif %}
			</select>

			<div id="create-formation-button">
				<a href="/formations/create">
					<img class="coach-action-icon" src="{% static 'dashboard/images/plus-icon-dark.png' %}">
					CREATE FORMATION
				</a>
			</div>

			<div id="create-play-button">
				<a href="/plays/create">
					<img class="coach-action-icon" src="{% static 'dashboard/images/plus-icon-dark.png' %}">
					CREATE PLAY
				</a>
			</div>
		</div>
		
		<div id="display-box" class="col-md-8 bordered-div">
			<div id="header-box" class="static-header display-header">
				Playbook
			</div>

			<div id="quiz-box">
			</div>

			<div class="display-buttons">
				<table class="button-table">
					<tr>
						<td>
							<button id="play-button" name="button">
								{% include "quiz/play_button.html" %}
							</button>
						</td>
						<td>
							<button id="pause-button" name="button">
								{% include "quiz/pause_button.html" %}
							</button>
						</td>
						<td>
							<button id="restart-button" name="button">
								{% include "quiz/refresh_button.html" %}
							</button>
						</td>
						<td>
							<button id="zoom-in-button" name="button">
								{% include "quiz/zoom_in_button.html" %}
							</button>
						</td>
						<td>
							<button id="zoom-out-button" name="button">
								{% include "quiz/zoom_out_button.html" %}
							</button>
						</td>
					</tr>
				</table>
			</div>
		</div>

		<div id="sideview" class="col-md-3">
			<div id="sideview-header">
				Formations
			</div>
			<div id="sideview-buttons">
				{% for formation in formations %}
					<button class="btn btn-primary sideview-button" name="{{ formation.name }}" onclick="showPlaysInFormation(this)">
						{{ formation.name }}
					</button>
				{% endfor %}
			</div>
		</div>

	<div id="test-id" test-id="{{test.id}}" style="display: none;"></div>
	<div id="team-id" team-id="{{team.id}}" style="display: none;"></div>
	<div id="player-id" player-id="{{player.id}}" style="display: none;"></div>
{% endblock %}

{% block javascript %}
	<script src="{% static 'dashboard/js/jquery-1.10.2.min.js' %}"></script>
	<script type="text/javascript">
		var formations = [];
		var plays = [];
		var play;
		var concepts = [];
		var concept;
		var teamID = document.getElementById("team-id").getAttribute("team-id");

		//*******************************************************************//
		// p5.js Animation Functions                                         //
		//*******************************************************************//

		function setup() {
			var display_box = document.getElementById("display-box");
			var display_box_header = display_box.querySelector(".display-header");
			var display_box_footer = display_box.querySelector(".display-buttons");
			var sideview = document.getElementById("sideview");
			var height = sideview.offsetHeight - (display_box_header.offsetHeight + display_box_footer.offsetHeight);
			
			// 4px is the combined size of the borders on either side. What is a better way to do this?
			var width = display_box.offsetWidth - 4; 

			// Create canvas and add it to the main view
			var quiz_box_div = document.getElementById("quiz-box");
			var myCanvas = createCanvas(width, height);
			
			field.height = height;
			field.width = width;
			field.heightInYards = 35;
			field.ballYardLine = 65;
			background(58, 135, 70);

			myCanvas.parent("quiz-box");

			// Load formations from Json passed from databse.
			var formationJsonFromDatabase = "";

			{% for formation in formations %}
			formationJsonFromDatabase = '{{ formation.formationJson|safe }}';
			formations.push(createFormationFromJson(JSON.parse(formationJsonFromDatabase)));
			{% endfor %}
			
			// Load plays from Json passed from database.
			var playJsonFromDatabase = "";

			{% for play in plays %}
			playJsonFromDatabase = '{{ play.playJson|safe }}';
			plays.push(createPlayFromJson(JSON.parse(playJsonFromDatabase)));
			{% endfor %}

			// Load concepts from Json passed from database
			var conceptJsonFromDatabase = "";

			{% for concept in concepts %}
			conceptJsonFromDatabase = '{{ concept.conceptJson|safe }}';
			concepts.push(createConceptFromJson(JSON.parse(conceptJsonFromDatabase)));
			{% endfor %}

			// Create new Play and new Concept
			play = new Play({});
			concept = new Concept({});

			window.onresize = function() {
				var display_box = document.getElementById("display-box");
				var display_box_header = display_box.querySelector(".display-header");
				var display_box_footer = display_box.querySelector(".display-buttons");
				var sideview = document.getElementById("sideview");
				var height = sideview.offsetHeight - (display_box_header.offsetHeight + display_box_footer.offsetHeight);
				var width = display_box.offsetWidth - 4;

				resizeCanvas(width, height);
				field.height = height;
				field.width = width;
				
				resizeMainViewObjects();
			};

			drawOpening();
		};

		function draw() {
			// Limitations on where offensive players can be
			var numberOfOffensivePlayers = play.offensivePlayers.length;
			
			for (var i = 0; i < numberOfOffensivePlayers; ++i) {
				var player = play.offensivePlayers[i];
				var playerXPixel = field.getTranslatedX(player.x);
				var playerYPixel = field.getTranslatedY(player.y);
				var playerXYard = player.x;
				var playerYYard = player.y;

				// Keep the players within the screen
				if (playerXPixel < 0) {
					player.x = field.getYardX(0);
				} else if (playerXPixel > field.width) {
					player.x = field.getYardX(field.width);
				}

				if (playerYPixel < 0) {
					player.y = player.getYardY(0);
				} else if (playerYPixel > field.height) {
					player.y = player.getYardY(field.height)
				}

				// Keep the players on the field
				if (playerXYard < 0) {
					player.x = 0;
				} else if (playerXYard > 53.33) {
					player.x = 53.33;
				}

				if (playerYYard < -10) {
					player.y = 0;
				} else if (playerYYard > 110) {
					player.y = 110;
				}
			}

			// Limitations on where defensive players can be
			var numberOfDefensivePlayers = play.defensivePlayers.length;
			
			for (var i = 0; i < numberOfDefensivePlayers; ++i) {
				var player = play.defensivePlayers[i];
				var playerXPixel = field.getTranslatedX(player.x);
				var playerYPixel = field.getTranslatedY(player.y);
				var playerXYard = player.x;
				var playerYYard = player.y;

				// Keep the players within the screen
				if (playerXPixel < 0) {
					player.x = field.getYardX(0);
				} else if (playerXPixel > field.width) {
					player.x = field.getYardX(field.width);
				}

				if (playerYPixel < 0) {
					player.y = player.getYardY(0);
				} else if (playerYPixel > field.height) {
					player.y = player.getYardY(field.height)
				}

				// Keep the players on the field
				if (playerXYard < 0) {
					player.x = 0;
				} else if (playerXYard > 53.33) {
					player.x = 53.33;
				}

				if (playerYYard < -10) {
					player.y = -10;
				} else if (playerYYard > 110) {
					player.y = 110;
				}
			}

			// Draw opening
			drawOpening();
		};

		function drawOpening() {
			field.drawBackground(play, height, width);

			play.drawAssignments(field);
			play.drawPlayers(field);

			concept.drawAssignments(field);
			concept.drawPlayers(field);

			fill(176,176,176);
		};

		//*******************************************************************//
		// p5.js Event Listeners                                             //
		//*******************************************************************//
		
		function mousePressed() {};

		function mouseDragged() {};

		function mouseReleased() {};

		function keyPressed() {};

		function keyTyped() {};

		//*******************************************************************//
		// jQuery Event Listener Functions                                   //
		//*******************************************************************//

		$("#play-button").click(function(event) {});

		$("#pause-button").click(function(event) {});

		$("#restart-button").click(function(event) {});

		$("#zoom-in-button").click(function(event) {
			var heightInYards = field.heightInYards;
			var widthInYards = field.heightInYards * field.width / field.height;
			
			if(heightInYards > 25) {
				field.heightInYards -= 5;
			} else {
				field.heightInYards = 20;
			}

			resizeMainViewObjects();
		});

		$("#zoom-out-button").click(function(event) {
			var heightInYards = field.heightInYards;
			var widthInYards = field.heightInYards * field.width / field.height;
			
			if(heightInYards > 50) {
				field.heightInYards = 55;
			} else {
				field.heightInYards += 5;
			}

			resizeMainViewObjects();
		});

		// changeSideviewAndTopOptions the sideview with the appropriate content
		// from the playbook and updates the buttons on the top of the screen.
		function changeSideviewAndTopOptions(selected) {
			var sideview_content = selected.value;
			var top_options = document.getElementById("top-options");

			play = new Play({});
			concept = new Concept({});

			var mainview_header = document.getElementById("header-box");
			mainview_header.textContent = "Playbook";

			if (sideview_content === "offensive playbook") {
				showFormations();

				var create_concept_button = document.getElementById("create-concept-button");
				var create_defensive_look_button = document.getElementById("create-defensive-look-button");

				// Remove top option buttons we don't need
				if (create_concept_button != null) { top_options.removeChild(create_concept_button); } 
				if (create_defensive_look_button != null) { top_options.removeChild(create_defensive_look_button); }


				// Create and add ones we do need
				var create_formation_button_image = document.createElement("img");
				create_formation_button_image.setAttribute("class", "coach-action-icon");
				create_formation_button_image.setAttribute("src", "{% static 'dashboard/images/plus-icon-dark.png' %}");

				var create_formation_button_link = document.createElement("a");
				create_formation_button_link.setAttribute("href", "/formations/create");
				create_formation_button_link.textContent = "CREATE FORMATION";
				create_formation_button_link.insertBefore(create_formation_button_image, create_formation_button_link.firstChild);

				var create_formation_button = document.createElement("div");
				create_formation_button.setAttribute("id", "create-formation-button");
				create_formation_button.appendChild(create_formation_button_link);

				top_options.appendChild(create_formation_button);

				var create_play_button_image = document.createElement("img");
				create_play_button_image.setAttribute("class", "coach-action-icon");
				create_play_button_image.setAttribute("src", "{% static 'dashboard/images/plus-icon-dark.png' %}");

				var create_play_button_link = document.createElement("a");
				create_play_button_link.setAttribute("href", "/plays/create");
				create_play_button_link.textContent = "CREATE PLAY";
				create_play_button_link.insertBefore(create_play_button_image, create_play_button_link.firstChild);

				var create_play_button = document.createElement("div");
				create_play_button.setAttribute("id", "create-play-button");
				create_play_button.appendChild(create_play_button_link);

				top_options.appendChild(create_play_button);
			} else if (sideview_content === "offensive concepts") {
				showConcepts();

				var create_defensive_look_button = document.getElementById("create-defensive-look-button");
				var create_formation_button = document.getElementById("create-formation-button");
				var create_play_button = document.getElementById("create-play-button");

				// Remove top option buttons we don't need
				if (create_defensive_look_button != null) { top_options.removeChild(create_defensive_look_button); } 
				if (create_formation_button != null) { top_options.removeChild(create_formation_button); } 
				if (create_play_button != null) { top_options.removeChild(create_play_button); }

				// Create and add ones we do need
				var create_concept_button_image = document.createElement("img");
				create_concept_button_image.setAttribute("class", "coach-action-icon");
				create_concept_button_image.setAttribute("src", "{% static 'dashboard/images/plus-icon-dark.png' %}");

				var create_concept_button_link = document.createElement("a");
				create_concept_button_link.setAttribute("href", "/concepts/create");
				create_concept_button_link.textContent = "CREATE CONCEPT";
				create_concept_button_link.insertBefore(create_concept_button_image, create_concept_button_link.firstChild);

				var create_concept_button = document.createElement("div");
				create_concept_button.setAttribute("id", "create-concept-button");
				create_concept_button.appendChild(create_concept_button_link);

				top_options.appendChild(create_concept_button);
			} else if (sideview_content === "defensive looks") {
				showDefensiveLooks();

				var create_concept_button = document.getElementById("create-concept-button");
				var create_formation_button = document.getElementById("create-formation-button");
				var create_play_button = document.getElementById("create-play-button");

				// Remove top option buttons we don't need
				if (create_concept_button != null) { top_options.removeChild(create_concept_button); } 
				if (create_formation_button != null) { top_options.removeChild(create_formation_button); } 
				if (create_play_button != null) { top_options.removeChild(create_play_button); }

				// Create and add ones we do need
				var create_defensive_look_button_image = document.createElement("img");
				create_defensive_look_button_image.setAttribute("class", "coach-action-icon");
				create_defensive_look_button_image.setAttribute("src", "{% static 'dashboard/images/plus-icon-dark.png' %}");

				var create_defensive_look_button_link = document.createElement("a");
				create_defensive_look_button_link.setAttribute("href", "/formations/create/defensive_scout");
				create_defensive_look_button_link.textContent = "CREATE DEFENSIVE LOOKS";
				create_defensive_look_button_link.insertBefore(create_defensive_look_button_image, create_defensive_look_button_link.firstChild);

				var create_defensive_look_button = document.createElement("div");
				create_defensive_look_button.setAttribute("id", "create-concept-button");
				create_defensive_look_button.appendChild(create_defensive_look_button_link);

				top_options.appendChild(create_defensive_look_button);
			}
		};

		// showFormations loads the formation buttons back into the sideview
		// removes the back icon. It also adds all the formation buttons back.
		function showFormations() {
			var sideview_header = document.getElementById("sideview-header");
			sideview_header.textContent = "Formations";

			var mainview_header = document.getElementById("header-box");
			mainview_header.textContent = "Playbook";

			$("#sideview-buttons").empty();

			var sideview_buttons = document.getElementById("sideview-buttons")

			for(i in formations) {
				var formation_button = document.createElement("button");
				formation_button.setAttribute("class", "btn btn-primary sideview-button");
				formation_button.setAttribute("name", formations[i].name);
				formation_button.setAttribute("onclick", "showPlaysInFormation(this)");
				formation_button.textContent = formations[i].name;

				sideview_buttons.appendChild(formation_button);
			}

			play = new Play({});
		};

		// showConcepts updates the sideview to include all of the concepts in
		// the playbook.
		function showConcepts() {
			var sideview_header = document.getElementById("sideview-header");
			sideview_header.textContent = "Concepts";

			var mainview_header = document.getElementById("header-box");
			mainview_header.textContent = "Playbook";

			$("#sideview-buttons").empty();

			var sideview_buttons = document.getElementById("sideview-buttons")

			for(i in concepts) {
				var concept_button = document.createElement("button");
				concept_button.setAttribute("class", "btn btn-primary sideview-button");
				concept_button.setAttribute("name", concepts[i].name);
				concept_button.setAttribute("onclick", "changeSelectedConcept(this)");
				concept_button.textContent = concepts[i].name;

				sideview_buttons.appendChild(concept_button);
			}
		};

		// showPlaysInFormation is called when a formation sideview button
		// is pressed. It changes the sideview header text to the name of the
		// formation selected. It also removes all the formation buttons and
		// replaces them with play buttons. It adds clickable back icon to
		// sideview header div so that you can go back to formations.
		function showPlaysInFormation(selected) {
			var sideview_header = document.getElementById("sideview-header");

			var formation_selected = selected;
			var formation_name = formation_selected.getAttribute("name");

			var mainview_header = document.getElementById("header-box");
			mainview_header.textContent = formation_name;

			for (i in formations) {
				if (formation_name === formations[i].name) {
					formation_selected = formations[i].deepCopy();
					break;
				}
			}

			$("#sideview-buttons").empty();

			var back_arrow = document.createElement("i");
			back_arrow.setAttribute("id", "back-arrow");
			back_arrow.setAttribute("class", "fa fa-2x fa-angle-left");
			back_arrow.setAttribute("onclick", "showFormations()");

			sideview_header.textContent = formation_name;

			sideview_header.appendChild(back_arrow);

			play.fromFormation(formation_selected);

			var sideview_buttons = document.getElementById("sideview-buttons");
			
			for (i in plays) {
				if (plays[i].formation === formation_name) {
					var play_button = document.createElement("button");
					play_button.setAttribute("class", "btn btn-primary sideview-button");
					play_button.setAttribute("name", plays[i].name);
					play_button.setAttribute("onclick", "changeSelectedPlay(this)");
					play_button.textContent = plays[i].name;

					sideview_buttons.appendChild(play_button);
				}
			}
		};

		// showConcepts updates the sideview to include all of the concepts in
		// the playbook.
		function showDefensiveLooks() {
			var sideview_header = document.getElementById("sideview-header");
			sideview_header.textContent = "Defensive Looks";

			var mainview_header = document.getElementById("header-box");
			mainview_header.textContent = "Playbook";

			$("#sideview-buttons").empty();
		};

		function changeSelectedPlay(selected) {
			// The newly selected button is the one that is clicked on. The old
			// selected button may not exist.
			var new_selected = selected;
			var old_selected = document.getElementById("selected");

			// Create a new play to replace the one you just deselected on the 
			// screen. Use the same formation that you were already using.
			var formation = play.formation;
			play = new Play({});

			var mainview_header = document.getElementById("header-box");
			mainview_header.textContent = formation;

			for (i in formations) {
				if (formation === formations[i].name) {
					play.fromFormation(formations[i]);
					break;
				}
			}

			// If there was a previously selected button remove it's selected
			// id attribute and change it from btn-success to btn-primary.
			if (old_selected != null) {
				old_selected.removeAttribute("id");
				old_selected.removeAttribute("class");
				old_selected.setAttribute("class", "btn btn-primary sideview-button");
			}

			// If the old selected button is the same as the newly selected
			// button we are done. If it isn't we need to update the newly
			// selected button and the main view area.
			if (old_selected != new_selected) {
				// Change the color of the newly selected button and set it's
				// id to 
				new_selected.removeAttribute("class");
				new_selected.setAttribute("id", "selected");
				new_selected.setAttribute("class", "btn btn-success sideview-button");

				var play_name = new_selected.getAttribute("name");

				mainview_header.textContent = play_name;

				for (i in plays) {
					if (play.formation === plays[i].formation && play_name === plays[i].name) {
						play = plays[i].deepCopy();
						break;
					}
				}

				var header_text_content = play_name;
				play_name = document.getElementById("play-name");

				if (play_name === null) {
					play_name = document.createElement("p");
					play_name.setAttribute("id", "play-name");
				}

				play_name.textContent = header_text_content;
				document.getElementById("header-box").appendChild(play_name);
			}
		};

		function changeSelectedConcept(selected) {
			// The newly selected button is the one that is clicked on. The old
			// selected button may not exist.
			var new_selected = selected;
			var old_selected = document.getElementById("selected");

			concept = new Concept({});
			
			var mainview_header = document.getElementById("header-box");
			mainview_header.textContent = "Playbook";

			// If there was a previously selected button remove it's selected
			// id attribute and change it from btn-success to btn-primary.
			if (old_selected != null) {
				old_selected.removeAttribute("id");
				old_selected.removeAttribute("class");
				old_selected.setAttribute("class", "btn btn-primary sideview-button");
			}

			// If the old selected button is the same as the newly selected
			// button we are done. If it isn't we need to update the newly
			// selected button and the main view area.
			if (old_selected != new_selected) {
				// Change the color of the newly selected button and set it's
				// id to 
				new_selected.removeAttribute("class");
				new_selected.setAttribute("id", "selected");
				new_selected.setAttribute("class", "btn btn-success sideview-button");

				var concept_name = new_selected.getAttribute("name");

				mainview_header.textContent = concept_name;

				for (i in concepts) {
					if (concept_name === concepts[i].name) {
						concept = concepts[i].deepCopy();
						break;
					}
				}
			}
		};

		// resizeMainViewObjects resizes all of the buttons and bars in our
		// main view. It is called when the user resizes their browser.
		function resizeMainViewObjects() {};
	</script>
{% endblock %}
