{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block content %}
	<div class="player-homepage">
		<div class="col-md-7 quizzes">
			<table>
				<thead>
					<tr>
						<th colspan="3"><div class="header">TODO</div></th>
					</tr>
					<tr>
						<th>QUIZ</th>
						<th>POSITION</th>
						<th>TAKE</th>
					</tr>
				</thead>
				<tbody id="quizzes-body">
					{% for quiz in quizzes %}
						<tr>
							<td>{{ quiz.0 }}</td>
							<td><select name="position" class="unit-form form-sm" id="position-select-{{quiz.2}}">
								<optgroup>
									{% if primary_position != None %}
									<option value="{{primary_position.abbreviation}}">{{primary_position.abbreviation}}</option>
									{% endif%}
									{% for position_group in other_positions %}
										<option value="{{position_group.abbreviation}}">{{position_group.abbreviation}}</option>
									{% endfor %}
								</optgroup>
							</select></td>
							{% if quiz.1 %}
							<!--<td><i class="fa fa-check fa-lg"></i></td>-->
							<td><button onclick="takeQuiz(this)" data-quizid="{{ quiz.2 }}">Retake {{ quiz.0 }}</button></td>
							{% else %}
							<!--<td><i class="fa fa-close fa-lg"></i></td>-->
							<td><button onclick="takeQuiz(this)" data-quizid="{{ quiz.2 }}">Take {{ quiz.0 }}</button></td>
							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<div class="col-md-5 newsfeed">
			<div class="header">NEWSFEED</div>
			<div class="newsfeed-body">
				{% if newsfeed|length %}
					<ul>
						{% for news in newsfeed %}
							<li class="{{ news.0 }}">
								A new {{ news.1 }} <a href="{{ news.5 }}">{{ news.2 }}</a> was {{ news.3 }}
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		function takeQuiz(buttonClicked){
			var quizID = buttonClicked.dataset["quizid"];
			var selectID = "position-select-" + quizID;
			var positionSelect = document.getElementById(selectID)
			var path = "/quizzes/take/" + quizID + "/" + positionSelect.value;
			window.location.href = path;
		}
	</script>
{% endblock %}
