{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block content %}
	<div id="plays-analytics" class="plays-analytics">
		<table class="analytics-table">
			<thead>
				<tr>
					<th>Play</th>
					<th>Scout Formation</th>
					<th>% Correct</th>
					<th>% Wrong</th>
					<th>% Skipped</th>
				</tr>
			</thead>
			{% for play_analytics in plays_analytics %}
				<tbody>
					<tr>
						<td>{{ play_analytics.0 }}</td>
						<td>{{ play_analytics.1 }}</td>
						<td>{{ play_analytics.2 }}</td>
						<td>{{ play_analytics.3 }}</td>
						<td>{{ play_analytics.4 }}</td>
					</tr>
				</tbody>
			{% endfor %}
		</table>
	</div>
{% endblock %}

{% block javascript %}
	<script src="{% static 'dashboard/js/sidebarSetActive.js' %}"></script>
{% endblock %}
