{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block content %}
	<div class="team">
		<div class="col-md-12 mainview">
			{% if group_to_show == 'players' %}
			<div class="col-md-4">
				<form action="/roster/" method="post" class="add-player">
					{% csrf_token %}
					<input type="hidden" name="action" value="add-player">
					<input type="email" name="email" placeholder="Player's Email">
					<button type="submit" class="btn btn-success">Add Player</button>
				</form>
			</div>
			{% else %}
			<div class="col-md-4">
				<form action="/roster/" method="post" class="add-coach">
					{% csrf_token %}
					<input type="hidden" name="action" value="add-coach">
					<input type="email" name="email" placeholder="Coach's Email">
					<button type="submit" class="btn btn-success">Add Coach</button>
				</form>
			</div>
			{% endif %}
			<div class="col-md-4">
				<a href="/team/edit" class="button">Edit Team Settings</a>
			</div>
		</div>

		<div class="col-md-12">
			<table id="active-users-table">
				<tr>
					<th>Email</th>
					{% if group_to_show == 'players' %}
					<th>Primary Position</th>
					<th>Block Player</th>
					<th>Remove Player</th>
					{% else %}
					<th>Block Coach</th>
					<th>Remove Coach</th>
					{% endif %}
					<th>Security</th>
				</tr>
				{% if group_to_show == 'players' %}
				{% for player in active_players %}
					<tr>
						<td>{{ player.user.email }}</td>
						<td>
							<select data-userid="{{player.user.pk}}" name="position" class="unit-form" id="position-select-{{quiz.2}}" onchange="primaryPositionChanged(this)">
								<optgroup>
									{% if player.primary_position != None %}
									<option data-groupid="{{player.primary_position.pk}}" value="{{player.primary_position.abbreviation}}">{{player.primary_position.abbreviation}}</option>
									{% else %}
									<option data-groupid="0" value=""></option>
									{% endif%}
									{% for position_group in position_groups %}
										{% if position_group != player.primary_position %}
										<option data-groupid="{{position_group.pk}}" value="{{position_group.abbreviation}}">{{position_group.abbreviation}}</option>
										{% endif %}
									{% endfor %}
								</optgroup>
							</select>
						</td>
						<td><button value="{{player.user.pk}}" onclick="blockUser(this.value)">Block User</button></td>
						<td><button value="{{player.user.pk}}" onclick="removeUser(this.value)">Remove User</button></td>
						<td>
							{% if player.user.has_set_password %}
								<button value="{{player.user.pk}}" onclick="forcePasswordReset(this.value)">Force Password Reset</button>
							{%else%}
								<button value="{{player.user.pk}}" onclick="resendActivationEmail(this.value)">Resend Activation Email</button>
							{%endif%}
						</td>
					</tr>
				{% endfor %}
				{% else %}
				{% for coach in active_coaches %}
					<tr>
						<td>{{ coach.user.email }}</td>
						<td><button value="{{coach.user.pk}}" onclick="blockUser(this.value)">Block User</button></td>
						<td><button value="{{coach.user.pk}}" onclick="removeUser(this.value)">Remove User</button></td>
						<td>
							{% if coach.user.has_set_password %}
								<button value="{{coach.user.pk}}" onclick="forcePasswordReset(this.value)">Force Password Reset</button>
							{%else%}
								<button value="{{coach.user.pk}}" onclick="resendActivationEmail(this.value)">Resend Activation Email</button>
							{%endif%}
						</td>
					</tr>
				{% endfor %}
				{% endif %}
			</table>
		</div>
	</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">

	function blockUser(value){
		var userID = parseInt(value)
		postData(userID, "block_user")
	}

	function removeUser(value){
		var userID = parseInt(value)
		postData(userID, "remove_user")
	}

	function forcePasswordReset(value){
		var userID = parseInt(value)
		postData(userID, "force_password_reset")
	}

	function resendActivationEmail(value){
		var userID = parseInt(value)
		postData(userID, "resend_activation_email")
	}

	function primaryPositionChanged(select){
		var userID = parseInt(select.dataset.userid)
		var groupID = parseInt(select.selectedOptions[0].dataset.groupid)
		//var positionGroupID = parseInt(select.)
		postData(userID, "update_primary_position", groupID)
	}

	function postData(userID, action, groupID = -1){
		var path = "/roster/"
		var csrf_token = "{{csrf_token}}"
		var jqxhr = $.post(
				path,
				{csrfmiddlewaretoken: csrf_token, action: action, user: userID, group: groupID}
			).done(function() {
				window.location.href = path
			}).fail(function() {
				console.log("Error");
		});
	}
</script>
{% endblock %}
