{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% load app_filters %}

{% block content %}
<!-- Overlay Div -->
<div id="overlay" class="transparent"></div>
{% include "dashboard/theme_setting.html" %}

<div id="wrapper" class="preload">
	{% include "dashboard/sidebar.html" %}

	<script src="{% static 'dashboard/js/sidebarSetActive.js' %}"></script>

	<div id="main-container">
		{% include "dashboard/top_nav_bar.html" %}

		{% include "dashboard/grey_container.html" %}

		<div class="padding-md analytics-home">
			<table class="analytics-main-table">
				<tr><td>{{analytics.total_correct_percentage}}%<br />CORRECT<br />
					<table class="analytics-play-list" id="correct-plays-list">
						<tr><td>PLAY</td><td>%</td></tr>
						{% for play, count in analytics.correct_plays %}
							<tr>
								<td>{{play.name}}</td><td>{% get_percent_correct analytics play %}%</td>
							</tr>
						{% endfor %}
					</table>
				</td>
				<td>{{analytics.total_incorrect_percentage}}%<br />INCORRECT<br />
					<table class="analytics-play-list" id="incorrect-plays-list">
						<tr><td>PLAY</td><td>%</td></tr>
						{% for play, count in analytics.incorrect_plays %}
							<tr>
								<td>{{play.name}}</td><td>{% get_percent_incorrect analytics play %}%</td>
							</tr>
						{% endfor %}
					</table>
				</td>
				<td>{{analytics.total_skipped_percentage}}%<br />SKIPPED<br />
					<table class="analytics-play-list" id="skipped-plays-list">
						<tr><td>PLAY</td><td>%</td></tr>
						{% for play, count in analytics.skipped_plays %}
							<tr>
								<td>{{play.name}}</td><td>{% get_percent_skipped analytics play %}%</td>
							</tr>
						{% endfor %}
					</table>
				</td></tr>
			</table>
		</div>



			<a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>
			{% endblock %}
