{% load staticfiles %}

<aside class="fixed skin-6">
  <div class="">
    <img class="dash-header-logo" src="{% static 'dashboard/images/dashboard-logo.png' %}" alt="">
  </div>
  <div class="sidebar-inner scrollable-sidebar">
    <div class="main-menu">
      <ul>
        <li class="active">
          <a href="index">
            <span>
              <img class="menu-icon" src="{% static 'dashboard/images/dashboard-icon.png' %}" alt="">

            </span>
            <span class="menu-text">
              DASHBOARD
            </span>
            <span class="menu-hover"></span>
          </a>
        </li>
        <li class="openable open">
          <a href="index">
            <span>
              <img class="menu-icon" src="{% static 'dashboard/images/quiz-icon.png' %}" alt="">

            </span>
            <span class="menu-text">
              QUIZZES
            </span>
            <span class="menu-hover"></span>
          </a>
        </li>
        <li class="openable">
          <a href="index">
            <span>
              <img class="menu-icon" src="{% static 'dashboard/images/analytics-icon.png' %}" alt="">
            </span>
            <span class="menu-text">
              ANALYTICS
            </span>
            <span class="menu-hover"></span>
          </a>
        </li>

        <li>
          <a href="index">
            <span>
              <img class="menu-icon" src="{% static 'dashboard/images/playbook-icon.png' %}" alt="">
            </span>
            <span class="menu-text">
              PLAYBOOK
            </span>
            <span class="menu-hover"></span>
          </a>
        </li>
        <li>
          <a href="index.html">
            <span>
              <img class="menu-icon" src="{% static 'dashboard/images/to-do-icon.png' %}" alt="">
            </span>
            <span class="menu-text">
              TO DO
            </span>
            <span class="menu-hover"></span>
          </a>
        </li>
        <li>
          <a href="index">
            <span>
              <img class="menu-icon" src="{% static 'dashboard/images/calendar-icon.png' %}" alt="">
            </span>
            <span class="menu-text">
              CALENDAR
            </span>
            <span class="menu-hover"></span>
          </a>
        </li>

      </ul>

    </div><!-- /main-menu -->
  </div><!-- /sidebar-inner -->
</aside>
