{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block content %}
	<div id="take-quiz" class="take-quiz">
		<div id="question-prompt"></div>

		<div id="help-box" hidden="true">
			<strong>Help:</strong> For formation questions place the missing player by clicking on the place on the field that they belong. For plays and concepts use the buttons to choose the appropriate assignment type and draw the assignment by clicking on the field to drop landmarks. Check your answer by clicking the check mark. Skip questions with the skip button. When you are done with your quiz attempt click the submit button.
		</div>

		<div id="display-box" class="col-md-8 bordered-div">
			<div id="header-box" class="static-header display-header">
				{{ quiz.name }}
			</div>

			<div id="quiz-box">
			</div>

			<div class="mainview-buttons">
				<button id="submit-quiz-button" name="button">
					<i class="fa fa-pencil-square-o fa-2x mainview-button-icon" title="Submit Quiz"></i>
				</button>

				<button id="check-answer-button" name="button">
					<i class="fa fa-check fa-2x mainview-button-icon" title="Check answer"></i>
				</button>

				<button id="skip-question-button" name="button">
					<i class="fa fa-step-forward fa-2x mainview-button-icon" title="Skip question"></i>
				</button>

				<button id="zoom-in-button" name="button">
					<i class="fa fa-search-plus fa-2x mainview-button-icon" title="Zoom in"></i>
				</button>

				<button id="zoom-out-button" name="button">
					<i class="fa fa-search-minus fa-2x mainview-button-icon" title="Zoom out"></i>
				</button>

				<button id="help-button" name="button">
					<i class="fa fa-question-circle-o fa-2x mainview-button-icon" title="Help"></i>
				</button>
			</div>
		</div>

		<div id="sideview" class="col-md-3">
			<div id="sideview-header">Questions</div>
			<div id="sideview-buttons"></div>
		</div>

	<div id="test-id" test-id="{{test.id}}" style="display: none;"></div>
	<div id="team-id" team-id="{{team.id}}" style="display: none;"></div>
	<div id="player-id" player-id="{{player.id}}" style="display: none;"></div>
{% endblock %}

{% block javascript %}
	<script src="{% static 'dashboard/js/jquery-1.10.2.min.js' %}"></script>
	<script type="text/javascript">
		var quiz;
		var buttons = [];

		//*******************************************************************//
		// p5.js Animation Functions                                         //
		//*******************************************************************//

		function setup() {
			var display_box = document.getElementById("display-box");
			var display_box_header = display_box.querySelector(".display-header");
			var display_box_footer = display_box.querySelector(".mainview-buttons");
			var sideview = document.getElementById("sideview");
			var height = sideview.offsetHeight - (display_box_header.offsetHeight + display_box_footer.offsetHeight);

			// 4px is the combined size of the borders on either side. What is a better way to do this?
			var width = display_box.offsetWidth - 4;

			// Create canvas and add it to the main view
			var quiz_box_div = document.getElementById("quiz-box");
			var myCanvas = createCanvas(width, height);

			field.height = height;
			field.width = width;
			field.heightInYards = 35;
			field.ballYardLine = 65;
			background(58, 135, 70);

			myCanvas.parent("quiz-box");

			// Create quiz and load it's content from Json.
			quiz = new Quiz({});
			quiz.name = '{{ quiz.name }}';
			quiz.unit = '{{ quiz.unit }}';

			var position_groups = [];
			{% for group in positionGroups %}
			var player_position = ["{{ group.abbreviation|safe }}", "{{ group.position_type|safe }}"];
			if (player_position[0] !== null) {
				position_groups.push(player_position)
			}
			{% endfor %}

			var formationJsonFromDatabase = "";
			{% for formation in quizFormations %}
			formationJsonFromDatabase = '{{ formation.formationJson|safe }}';
			quiz.createFormationFromJson(JSON.parse(formationJsonFromDatabase));
			{% endfor %}

			var playJsonFromDatabase = "";
			{% for play in quizPlays %}
			playJsonFromDatabase = '{{ play.playJson|safe }}';
			quiz.createPlayFromJson(JSON.parse(playJsonFromDatabase));
			{% endfor %}

			var conceptJsonFromDatabase = "";
			{% for concept in quizConcepts %}
			conceptJsonFromDatabase = '{{ concept.conceptJson|safe }}';
			quiz.createConceptFromJson(JSON.parse(conceptJsonFromDatabase));
			{% endfor %}


			quiz.buildQuestions(position_groups);

			quiz.attempt = quiz.getSelected()[0];
			if (quiz.attempt != null) {
				quiz.attempt.motionCords = [];
				quiz.attempt.blockingAssignmentArray = [];
				quiz.attempt.route = [];
				quiz.attempt.defensiveMovement = [];
			}

			// Create buttons for selecting type of assignment
			var button = new Button ({ label: "Dropback (A)" });
			buttons.push(button);

			button = new Button ({ label: "Motion (S)" });
			buttons.push(button);

			button = new Button ({ label: "Run (D)" });
			buttons.push(button);

			button = new Button ({ label: "Route (F)" });
			buttons.push(button);

			button = new Button ({ label: "Block (G)" });
			buttons.push(button);

			updateMainviewAndSideview();
			setButtonClicked();

			window.onresize = function() {
				var display_box = document.getElementById("display-box");
				var display_box_header = display_box.querySelector(".display-header");
				var display_box_footer = display_box.querySelector(".display-buttons");
				var sideview = document.getElementById("sideview");
				var height = sideview.offsetHeight - (display_box_header.offsetHeight + display_box_footer.offsetHeight);
				var width = display_box.offsetWidth - 4;

				resizeCanvas(width, height);
				field.height = height;
				field.width = width;

				resizeMainViewObjects();
			};

			drawOpening();
		};

		function draw() {
			buttons[0].display = false;
			buttons[1].display = false;
			buttons[2].display = false;
			buttons[3].display = false;
			buttons[4].display = false;

			if(quiz.over){
				quiz.drawQuizSummary(field);
				//draw restart buttons
				return;
			}

			var this_question = quiz.getCurrentQuestion();

			if (!(quiz.getCurrentQuestion().question instanceof Formation)) {
				// Determine which buttons should be displayed based on which, if
				// any buttons should be displayed.
				var player = quiz.attempt;

				if (player != null) {
					if (player.dropback.length > 0) {
						buttons[0].display = true;
					} else if (player.run.length > 0) {
						buttons[2].display = true;
					} else if (player.route.length > 0) {
						buttons[3].display = true;
					} else if (player.blockingAssignmentArray.length > 0) {
						buttons[4].display = true;
					} else if (player.pos === "QB") {
						buttons[0].display = true;
						buttons[1].display = true;
						buttons[2].display = true;
						buttons[3].display = true;
						buttons[4].display = true;
					} else if (player.eligible === true) {
						buttons[1].display = true;
						buttons[2].display = true;
						buttons[3].display = true;
						buttons[4].display = true;
					} else if (player.eligible === false) {
						buttons[4].display = true;
					}
				} else {
					for (i in buttons) {
						buttons[i].setUnclicked();
						buttons[i].display = false;
					}
				}
			} else {
				buttons[0].display = false;
				buttons[1].display = false;
				buttons[2].display = false;
				buttons[3].display = false;
				buttons[4].display = false;
			}

			// Draw opening
			drawOpening();
		};

		function drawOpening() {
			field.drawBackground(quiz, height, width);

			var question = quiz.getCurrentQuestion();

			if (question !== null) {
				if(question.feedbackStartTime > 0 && millis() - question.feedbackStartTime > 2000){
					question.feedbackStartTime = 0;
					quiz.nextQuestion();
					updateMainviewAndSideview();
					setButtonClicked();
				}

				quiz.draw(field);
				fill(176,176,176);
			}

			var x = 10;
			var y = 10;

			for (i in buttons) {
				if (buttons[i].display === true) {
					buttons[i].x = x;
					buttons[i].y = y;

					buttons[i].draw(field);

					x += buttons[i].width*1.25;
				}
			}
		};

		//*******************************************************************//
		// p5.js Event Listeners                                             //
		//*******************************************************************//

		function mousePressed() {};

		function mouseDragged() {};

		function mouseReleased() {
			// If a button is displayed and clicked then call it's click
			// function and return.
			for (i in buttons) {
				if (buttons[i].isMouseInside(field)) {
					for (j in buttons) {
						if (j != i) {
							buttons[j].setUnclicked();
						}
					}

					buttons[i].click();
					return false;
				}
			}

			if (mouseX > 0 && mouseX < field.width && mouseY > 0 && mouseY < field.height) {
				var playerSelected = quiz.getSelected()[0];
				var playerClicked = quiz.mouseInPlayer(field);
				var mouseYardX = field.getYardX(mouseX);
				var mouseYardY = field.getYardY(mouseY);

				if (playerSelected === null) {
					quiz.attempt = quiz.getCurrentAnswer().deepCopy();
					quiz.attempt.setSelected();
					quiz.attempt.x = mouseYardX;
					quiz.attempt.y = mouseYardY;
				} else if (buttons[0].clicked === true) {
					playerSelected.dropback.push([mouseYardX, mouseYardY]);
					return false;
				} else if (buttons[1].clicked === true) {
					playerSelected.motionCoords.push([mouseYardX, mouseYardY]);
					return false;
				} else if (buttons[2].clicked === true) {
					playerSelected.run.push([mouseYardX, mouseYardY]);
					return false;
				} else if (buttons[3].clicked === true) {
					playerSelected.route.push([mouseYardX, mouseYardY]);
					return false;
				} else if (buttons[4].clicked === true) {
					var block;
					if (playerClicked != null && playerClicked.unit === "defense") {
						block = new BlockType({
							type: 1,
							player: playerClicked,
							x: mouseYardX, y: mouseYardY
						});
					} else {
						block = new BlockType({
							type: 0,
							x: mouseYardX, y: mouseYardY
						});
					}

					playerSelected.blockingAssignmentArray.push(block);
					return false;
				}
			}

			// return false to prevent default behavior
			return false;
		};

		function keyPressed() {
			if(quiz.over){
				if (key === "r" || key === "R"){
					quiz.restartQuiz(false);
					updateMainviewAndSideview();
					setButtonClicked();
				}
				return false;
			}
			if (quiz.getSelected()[0] != null) {
				var playerSelected = quiz.attempt;
				var specialBlockKeys = ["Q", "W", "E", "R", "T", "Y", "U"];
				var playerStatusKeys = ["A", "S", "D", "F", "G"];

				if (keyCode == BACKSPACE || keyCode == DELETE) {
					if (playerSelected.unit == "offense") {
						if (playerSelected.dropback.length > 0) {
							playerSelected.dropback.pop();
						} else if(playerSelected.run.length > 0) {
							playerSelected.run.pop();
						} else if(playerSelected.route.length > 0) {
							playerSelected.route.pop();
						} else if (playerSelected.blockingAssignmentArray.length > 0) {
							playerSelected.blockingAssignmentArray.pop();
						} else if (playerSelected.motionCoords.length > 0){
							playerSelected.motionCoords.pop();
						}
					} else if (playerSelected.unit == "defense") {
						if (playerSelected.defensiveMovement.length > 0) {
							playerSelected.defensiveMovement.pop();
						}
					}

					return false;
				} else if (playerSelected.dropback.length === 0 && playerSelected.route.length === 0 && playerSelected.run.length === 0 && specialBlockKeys.indexOf(key) >= 0) {
					var prevX = playerSelected.x;
					var prevY = playerSelected.y;
					var blockSize = playerSelected.blockingAssignmentArray.length;

					if (blockSize > 0) {
						prevX = playerSelected.blockingAssignmentArray[blockSize - 1].x;
						prevY = playerSelected.blockingAssignmentArray[blockSize - 1].y;
					}

					var block = new BlockType({
						type: 2 + specialBlockKeys.indexOf(key),
						player: null,
						prevX: prevX,
						prevY: prevY
					});

					playerSelected.blockingAssignmentArray.push(block);

					return false;
				} else if (playerStatusKeys.indexOf(key) >= 0) {
					if (buttons[playerStatusKeys.indexOf(key)].display === true) {
						for (i in buttons) {
							if (i != playerStatusKeys.indexOf(key)) {
								buttons[i].setUnclicked();
							} else {
								buttons[i].click();
							}
						}
					}

					return false;
				}
			}
		};

		function keyTyped() {};

		//*******************************************************************//
		// jQuery Event Listener Functions                                   //
		//*******************************************************************//

		$("#submit-quiz-button").click(function(event) {
			var csrf_token = "{{ csrf_token }}";
			quiz.submit(csrf_token);

			window.location.replace("/quizzes/todo");
		});

		$("#check-answer-button").click(function(event) {
			if(quiz === null || quiz.over){
				return false;
			}
			var path = window.location.pathname;
			var csrf_token = "{{ csrf_token }}";

			quiz.checkCurrentQuestion(path, csrf_token);

			for (i in buttons) {
				buttons[i].display = false;
				buttons[i].setUnclicked();
			}

			updateMainviewAndSideview();
			setButtonClicked();
		});

		$("#skip-question-button").click(function(event) {
			if(quiz === null || quiz.over){
				return false;
			}
			var path = window.location.pathname;
			var csrf_token = "{{ csrf_token }}";

			quiz.skipCurrentQuestion(path, csrf_token);

			for (i in buttons) {
				buttons[i].display = false;
				buttons[i].setUnclicked();
			}

			updateMainviewAndSideview();
			setButtonClicked();
		});

		$("#zoom-in-button").click(function(event) {
			var heightInYards = field.heightInYards;
			var widthInYards = field.heightInYards * field.width / field.height;

			if (heightInYards > 25) {
				field.heightInYards -= 5;
			} else {
				field.heightInYards = 20;
			}

			resizeMainViewObjects();
		});

		$("#zoom-out-button").click(function(event) {
			var heightInYards = field.heightInYards;
			var widthInYards = field.heightInYards * field.width / field.height;

			if (heightInYards > 50) {
				field.heightInYards = 55;
			} else {
				field.heightInYards += 5;
			}

			resizeMainViewObjects();
		});

		$("#help-button").click(function(event) {
			var help_box = document.getElementById("help-box");
			var hidden = help_box.getAttribute("hidden");

			if (hidden === null) {
				help_box.setAttribute("hidden", "true");
			} else {
				help_box.removeAttribute("hidden");
			}
		});

		function updateMainviewAndSideview() {
			// Update mainview header.
			var mainview_header = document.getElementById("header-box");
			mainview_header.textContent = quiz.getCurrentQuestionName();

			// Remove and update sideview buttons.
			$("#sideview-buttons").empty();
			var sideview_buttons = document.getElementById("sideview-buttons");

			for (i in quiz.questions) {
				var question_index = int(i);
				var question_number = int(i)+1;

				var sideview_question_button = document.createElement("button");
				sideview_question_button.setAttribute("class", "sideview-question-button");
				sideview_question_button.setAttribute("question-index", question_index.toString());

				if (quiz.questions[i].score === 1) {
					sideview_question_button.className += " correct";
				} else if (quiz.questions[i].score === 0) {
					sideview_question_button.className += " incorrect";
				}

				if (int(i) === quiz.getCurrentQuestionIndex()) {
					sideview_question_button.className += " selected";
				}

				sideview_question_button.textContent = question_number.toString();
				sideview_buttons.appendChild(sideview_question_button);
			}

			var question_prompt = document.getElementById("question-prompt");
			question_prompt.textContent = quiz.questions[quiz.currentQuestionIndex].prompt;
		};

		// setButtonClicked is responsible for presetting the most conveinent
		// assignment type when questions change.
		function setButtonClicked() {
			for (var i = 0; i < buttons.length; i++){
				buttons[i].setUnclicked();
				buttons[i].display = false;
			}

			if (!(quiz.getCurrentQuestion().question instanceof Formation)) {
				var player = quiz.getCurrentQuestion().answer;

				if (player.motionCoords.length > 0) {
					buttons[0].setClicked();
				} else if (player.dropback.length > 0) {
					buttons[1].setClicked();
				} else if (player.run.length > 0) {
					buttons[2].setClicked();
				} else if (player.route.length > 0) {
					buttons[3].setClicked();
				} else if (player.blockingAssignmentArray.length > 0) {
					buttons[4].setClicked();
				}
			}

		};

		// resizeMainViewObjects resizes all of the buttons and bars in our
		// main view. It is called when the user resizes their browser.
		function resizeMainViewObjects() {};
	</script>
{% endblock %}
