{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block content %}
	<div id="take-quiz" class="take-quiz">
		<div id="display-box" class="col-md-8 bordered-div">
			<div id="header-box" class="static-header display-header">
				{{ quiz.name }}
			</div>

			<div id="quiz-box">
			</div>

			<div class="mainview-buttons">
				<button id="submit-quiz-button" name="button">
					<i class="fa fa-pencil-square-o fa-2x mainview-button-icon" title="Submit Quiz"></i>
				</button>

				<button id="check-answer-button" name="button">
					<i class="fa fa-check fa-2x mainview-button-icon" title="Check answer"></i>
				</button>

				<button id="skip-question-button" name="button">
					<i class="fa fa-step-forward fa-2x mainview-button-icon" title="Skip question"></i>
				</button>
		
				<button id="zoom-in-button" name="button">
					<i class="fa fa-search-plus fa-2x mainview-button-icon" title="Zoom in"></i>
				</button>
		
				<button id="zoom-out-button" name="button">
					<i class="fa fa-search-minus fa-2x mainview-button-icon" title="Zoom out"></i>
				</button>
			</div>
		</div>

		<div id="sideview" class="col-md-3">
			<div id="sideview-header"> Questions </div>
			<div id="sideview-buttons" class="no-padding"></div>
		</div>

	<div id="test-id" test-id="{{test.id}}" style="display: none;"></div>
	<div id="team-id" team-id="{{team.id}}" style="display: none;"></div>
	<div id="player-id" player-id="{{player.id}}" style="display: none;"></div>
{% endblock %}

{% block javascript %}
	<script src="{% static 'dashboard/js/jquery-1.10.2.min.js' %}"></script>
	<script type="text/javascript">
		var quiz;
		var attempt;

		//*******************************************************************//
		// p5.js Animation Functions                                         //
		//*******************************************************************//

		function setup() {
			var display_box = document.getElementById("display-box");
			var display_box_header = display_box.querySelector(".display-header");
			var display_box_footer = display_box.querySelector(".mainview-buttons");
			var sideview = document.getElementById("sideview");
			var height = sideview.offsetHeight - (display_box_header.offsetHeight + display_box_footer.offsetHeight);
			
			// 4px is the combined size of the borders on either side. What is a better way to do this?
			var width = display_box.offsetWidth - 4; 

			// Create canvas and add it to the main view
			var quiz_box_div = document.getElementById("quiz-box");
			var myCanvas = createCanvas(width, height);

			field.height = height;
			field.width = width;
			field.heightInYards = 35;
			field.ballYardLine = 65;
			background(58, 135, 70);

			myCanvas.parent("quiz-box");

			// Create quiz and load it's content from Json.
			quiz = new Quiz({});
			quiz.name = '{{ quiz.name }}';
			quiz.unit = '{{ quiz.unit }}';

			var formationJsonFromDatabase = "";
			{% for formation in quizFormations %}
			formationJsonFromDatabase = '{{ formation.formationJson|safe }}';
			quiz.createFormationFromJson(JSON.parse(formationJsonFromDatabase));
			{% endfor %}
			
			var playJsonFromDatabase = "";
			{% for play in quizPlays %}
			playJsonFromDatabase = '{{ play.playJson|safe }}';
			quiz.createPlayFromJson(JSON.parse(playJsonFromDatabase));
			{% endfor %}
			
			var conceptJsonFromDatabase = "";
			{% for concept in quizConcepts %}
			conceptJsonFromDatabase = '{{ concept.conceptJson|safe }}';
			quiz.createConceptFromJson(JSON.parse(conceptJsonFromDatabase));
			{% endfor %}

			quiz.buildQuestions("X");

			attempt = quiz.getSelected()[0];
			if (attempt != null) {
				attempt.motionCords = [];
				attempt.blockingAssignmentArray = [];
				attempt.route = [];
				attempt.defensiveMovement = [];
			}

			updateMainviewAndSideview();

			window.onresize = function() {
				var display_box = document.getElementById("display-box");
				var display_box_header = display_box.querySelector(".display-header");
				var display_box_footer = display_box.querySelector(".display-buttons");
				var sideview = document.getElementById("sideview");
				var height = sideview.offsetHeight - (display_box_header.offsetHeight + display_box_footer.offsetHeight);
				var width = display_box.offsetWidth - 4;

				resizeCanvas(width, height);
				field.height = height;
				field.width = width;
				
				resizeMainViewObjects();
			};

			drawOpening();
		};

		function draw() {
			// Draw opening
			drawOpening();
		};

		function drawOpening() {
			field.drawBackground(quiz, height, width);
			quiz.draw(field);

			if (attempt != null) {
				attempt.drawBlocks(field);
				attempt.drawRoute(field);
				attempt.draw(field);
			}

			fill(176,176,176);
		};

		//*******************************************************************//
		// p5.js Event Listeners                                             //
		//*******************************************************************//
		
		function mousePressed() {};

		function mouseDragged() {};

		function mouseReleased() {
			if (mouseX > 0 && mouseX < field.width && mouseY > 0 && mouseY < field.height) {
				var playerSelected = quiz.getSelected()[0];
				var playerClicked = quiz.mouseInPlayer(field);
				var mouseYardX = field.getYardX(mouseX);
				var mouseYardY = field.getYardY(mouseY);
				
				if (playerSelected === null) {
					attempt = quiz.getCurrentAnswer().deepCopy();
					attempt.setSelected();
					attempt.x = mouseYardX;
					attempt.y = mouseYardY;
				} else if (playerSelected.eligible) {
					if (attempt.unit === "offense") {
						attempt.route.push([mouseYardX, mouseYardY]);
					}
				
					return false;
				} else if (playerClicked === null) {
					if (attempt.unit === "offense") {
						var blockPoint = new BlockType({
							type: 0,
							x: mouseYardX,
							y: mouseYardY
						});

						attempt.blockingAssignmentArray.push(blockPoint)
					} else if (attempt.unit === "defense") {
						attempt.defensiveMovement.push([mouseYardX, mouseYardY]);
					}

					return false;
				} else if (playerSelected.unit === "offense") {
					var blockPoint = new BlockType({
						type: 1,
						player: playerClicked,
						x: mouseYardX,
						y: mouseYardY
					});

					attempt.blockingAssignmentArray.push(blockPoint);
					return false;
				}
			}

			// return false to prevent default behavior
			return false;
		};

		function keyPressed() {
			if (quiz.getSelected()[0] != null) {
				var specialBlockKeys = ["Q", "W", "E", "R", "T", "Y", "U"];

				if (keyCode == BACKSPACE || keyCode == DELETE) {
					if (attempt.unit == "offense") {
						if (attempt.blockingAssignmentArray.length > 0) {
							attempt.blockingAssignmentArray.pop();
						} else if(attempt.route.length > 0) {
							attempt.route.pop();
						} else if(attempt.motionCoords.length > 0){
							attempt.motionCoords.pop()
						}
					} 

					return false;
				}else if(specialBlockKeys.indexOf(key) >= 0){
					var prevX = attempt.x;
					var prevY = attempt.y;
					var blockSize = attempt.blockingAssignmentArray.length;
					if (blockSize > 0) {
						prevX = attempt.blockingAssignmentArray[blockSize - 1].x;
						prevY = attempt.blockingAssignmentArray[blockSize - 1].y;
					}

					var block = new BlockType({
						type: 2 + specialBlockKeys.indexOf(key),
						player: null,
						prevX: prevX,
						prevY: prevY
					});

					attempt.blockingAssignmentArray.push(block);
				}
			}

			return false;
		};

		function keyTyped() {};

		//*******************************************************************//
		// jQuery Event Listener Functions                                   //
		//*******************************************************************//

		$("#submit-quiz-button").click(function(event) {
			quiz.submit();
		});

		$("#check-answer-button").click(function(event) {
			var question_index = quiz.getCurrentQuestionIndex();

			quiz.checkCurrentQuestion(attempt);

			attempt = quiz.getSelected()[0];
			if (attempt != null) {
				attempt.motionCords = [];
				attempt.blockingAssignmentArray = [];
				attempt.route = [];
				attempt.defensiveMovement = [];
			}

			updateMainviewAndSideview();
		});

		$("#skip-question-button").click(function(event) {
			var question_index = quiz.getCurrentQuestionIndex();

			quiz.skipCurrentQuestion();

			attempt = quiz.getSelected()[0];
			if (attempt != null) {
				attempt.motionCords = [];
				attempt.blockingAssignmentArray = [];
				attempt.route = [];
				attempt.defensiveMovement = [];
			}

			updateMainviewAndSideview();
		});

		$("#zoom-in-button").click(function(event) {
			var heightInYards = field.heightInYards;
			var widthInYards = field.heightInYards * field.width / field.height;
			
			if(heightInYards > 25) {
				field.heightInYards -= 5;
			} else {
				field.heightInYards = 20;
			}

			resizeMainViewObjects();
		});

		$("#zoom-out-button").click(function(event) {
			var heightInYards = field.heightInYards;
			var widthInYards = field.heightInYards * field.width / field.height;
			
			if(heightInYards > 50) {
				field.heightInYards = 55;
			} else {
				field.heightInYards += 5;
			}

			resizeMainViewObjects();
		});

		function updateMainviewAndSideview() {
			// Update mainview header.
			var mainview_header = document.getElementById("header-box");
			mainview_header.textContent = quiz.getCurrentQuestionName();

			// Remove and update sideview buttons.
			$("#sideview-buttons").empty();
			var sideview_buttons = document.getElementById("sideview-buttons");

			for (i in quiz.questions) {
				var question_index = int(i);
				var question_number = int(i)+1;

				var sideview_question_button = document.createElement("button");
				sideview_question_button.setAttribute("class", "sideview-question-button");
				sideview_question_button.setAttribute("question-index", question_index.toString());
				
				if (quiz.questions[i].score === 1) {
					sideview_question_button.className += " correct";
				} else if (quiz.questions[i].score === 0) {
					sideview_question_button.className += " incorrect";
				}

				if (int(i) === quiz.getCurrentQuestionIndex()) {
					sideview_question_button.className += " selected";
				}
				
				sideview_question_button.textContent = question_number.toString();
				sideview_buttons.appendChild(sideview_question_button);
			}
		};

		// resizeMainViewObjects resizes all of the buttons and bars in our
		// main view. It is called when the user resizes their browser.
		function resizeMainViewObjects() {};
	</script>
{% endblock %}
