{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block content %}
	<div class="team">
		<div class="col-md-12 mainview">		
			<div class="col-md-4">
				<form action="/team/" method="post" class="add-player"> 
					{% csrf_token %}
					<input type="hidden" name="action" value="add-player">
					<input type="email" name="email" placeholder="Player's Email">
					<button type="submit" class="btn btn-success">Add Player</button>
				</form>

				<form action="/team/" method="post" class="block-player"> 
					{% csrf_token %}
					<input type="hidden" name="action" value="block-player">
					<input type="email" name="email" placeholder="Player's Email">
					<button type="submit" class="btn btn-warning">Block Player</button>
				</form>

				<form action="/team/" method="post" class="remove-player"> 
					{% csrf_token %}
					<input type="hidden" name="action" value="remove-player">
					<input type="email" name="email" placeholder="Player's Email">
					<button type="submit" class="btn btn-danger">Remove Player</button>
				</form>
			</div>

			<div class="col-md-4">
				<form action="/team/" method="post" class="add-coach"> 
					{% csrf_token %}
					<input type="hidden" name="action" value="add-coach">
					<input type="email" name="email" placeholder="Coach's Email">
					<button type="submit" class="btn btn-success">Add Coach</button>
				</form>

				<form action="/team/" method="post" class="block-coach"> 
					{% csrf_token %}
					<input type="hidden" name="action" value="block-coach">
					<input type="email" name="email" placeholder="Coach's Email">
					<button type="submit" class="btn btn-warning">Block Coach</button>
				</form>

				<form action="/team/" method="post" class="remove-coach"> 
					{% csrf_token %}
					<input type="hidden" name="action" value="remove-coach">
					<input type="email" name="email" placeholder="Coach's Email">
					<button type="submit" class="btn btn-danger">Remove Coach</button>
				</form>
			</div>

			<div class="col-md-4">
				<a href="/team/edit" class="button">Edit Team Settings</a>
				<a href="/groups/create" class="button">Create New Group</a>
				<a href="/groups/manage" class="button">Manage Existing Group</a>
			</div>
		</div>

		<div class="col-md-12">
			<table id="blocked-users-table">
				<tr>
					<th>Name</th>
					<th>Unblock User</th>
					<th>Remove User</th>
				</tr>
				{% for user in blocked_users %}
					<tr>
						<td>{{ user.user.email }}</td>
						<td></td>
						<td></td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}

{% block javascript %}
{% endblock %}