{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Overlay Div -->
<div id="overlay" class="transparent"></div>
{% include "dashboard/theme_setting.html" %}

<div id="wrapper" class="preload">

	{% include "dashboard/sidebar.html" %}

  <script src="{% static 'dashboard/js/sidebarSetActive.js' %}"></script>


	<div id="main-container">
		{% include "dashboard/top_nav_bar.html" %}

		{% include "dashboard/grey_container.html" %}

		<div class="padding-md">
			<div class="panel panel-default table-responsive">
				<div class="panel-heading">
					Responsive Table
					<span class="label label-info pull-right">790 Items</span>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-4 col-sm-4">
							<select class="input-sm form-control inline" style="width:130px;">
								<option value="0">All</option>
								<option value="1">Men</option>
								<option value="2">Women</option>
								<option value="3">Accessary</option>
							</select>
							<a class="btn btn-default btn-sm">Apply</a>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div>
				<table class="table table-striped" id="responsiveTable">
					<thead>
						<tr>
							<th>
								<label class="label-checkbox">
									<input type="checkbox" id="chk-all">
									<span class="custom-checkbox"></span>
								</label>
							</th>
							<th>Test</th>
							<th>Due Date</th>
							<th>Date Assigned</th>
							<th>[XXX]</th>
							<th>[XXX]</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for test in uncompleted_tests %}

						<tr>
							<td>
								<label class="label-checkbox">
									<input type="checkbox" class="chk-row">
									<span class="custom-checkbox"></span>
								</label>
							</td>
							<td>{{test}}
								{% if True %}
								<span class="label label-success m-left-xs">
									New
								</span>
								{% endif %}
							</td>
							<td>{{test.deadline}}</td>
							<td>{{test.created_at}}</td>
							<td></td>
							<td></td>
							<td><span class="label label-success">Start Quiz</span></td>
						</tr>
						{% endfor %}

					</tbody>
				</table>
				<div class="panel-footer clearfix">
					<ul class="pagination pagination-xs m-top-none pull-right">
						<li class="disabled"><a href="#">Previous</a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">Next</a></li>
					</ul>
				</div>
			</div><!-- /panel -->
			<div class="row dash-row">
				<div class="col-lg-7 dash-col">
					<div class="dash-header text-center">
						<span><h4>To-Do List</h4></span>
					</div>
					<div class="col-lg-6">
						<div class="panel panel-default">
									<div class="panel-heading clearfix">
										<span class="pull-left">
											To Do List <span class="text-success m-left-xs"><i class="fa fa-check"></i></span>
										</span>
										<ul class="tool-bar">
											<li><a href="#" class="refresh-widget" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Refresh"><i class="fa fa-refresh"></i></a></li>
											<li><a href="#toDoListWidget" data-toggle="collapse"><i class="fa fa-arrows-v"></i></a></li>
										</ul>
									</div>

									<div class="panel-body no-padding collapse in" id="toDoListWidget">
										<ul class="list-group task-list no-margin collapse in">
											<li class="list-group-item selected">
												<label class="label-checkbox inline">
													 <input type="checkbox" class="task-finish" checked>
													 <span class="custom-checkbox"></span>
												</label>
												SEO Optimisation
												<span class="pull-right">
													<a href="#" class="task-del"><i class="fa fa-trash-o fa-lg text-danger"></i></a>
												</span>
											</li>

											{% for test in uncompleted_tests %}
											<li class="list-group-item">
												<label class="label-checkbox inline">
													 <input type="checkbox" class="task-finish">
													 <span class="custom-checkbox"></span>
												</label>
												{{test}}
												Due Date: {{test.deadline}}
												Date Assigned: {{test.created_at}}
												Added by coach:
												<span class="pull-right">
													<a href="#" class="task-del"><i class="fa fa-trash-o fa-lg text-danger"></i></a>
												</span>
											</li>
											{% endfor %}

										</ul><!-- /list-group -->
									</div>
									<div class="loading-overlay">
										<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
									</div>
								</div><!-- /panel -->
					</div><!-- /.col -->
					<div class="col-lg-6">


					</div><!-- /.col -->
				</div>
				<div class="col-lg-4 dash-col">
					<div class="dash-header text-center">
						<span><h4>ASSIGNMENTS COMPLETED</h4></span>
					</div>
					<div class="col-lg-6">
						<div class="panel-stat3 bg-danger">
							<h2 class="m-top-none" id="userCount">362</h2>
							<h5>Registered users</h5>
							<i class="fa fa-arrow-circle-o-up fa-lg"></i><span class="m-left-xs">5% Higher</span>
							<div class="stat-icon">
								<i class="fa fa-user fa-3x"></i>
							</div>
							<div class="refresh-button">
								<i class="fa fa-refresh"></i>
							</div>
							<div class="loading-overlay">
								<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
							</div>
						</div>
					</div><!-- /.col -->
					<div class="col-lg-6">
						<div class="panel-stat3 bg-info">
							<h2 class="m-top-none"><span id="serverloadCount">15</span>%</h2>
							<h5>Server Load</h5>
							<i class="fa fa-arrow-circle-o-up fa-lg"></i><span class="m-left-xs">1% Higher</span>
							<div class="stat-icon">
								<i class="fa fa-hdd-o fa-3x"></i>
							</div>
							<div class="refresh-button">
								<i class="fa fa-refresh"></i>
							</div>
							<div class="loading-overlay">
								<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
							</div>
						</div>
					</div><!-- /.col -->
				</div>

				<div class="loading-overlay">
					<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
				</div>
			</div><!-- /panel -->





			<a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>
			{% endblock %}
