{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Overlay Div -->
<div id="overlay" class="transparent"></div>
{% include "dashboard/theme_setting.html" %}

<div id="wrapper" class="preload">

	{% include "dashboard/sidebar.html" %}

  <script src="{% static 'dashboard/js/sidebarSetActive.js' %}"></script>


	<div id="main-container">
		{% include "dashboard/top_nav_bar.html" %}

		{% include "dashboard/grey_container.html" %}

		<div class="padding-md">
			<div class="panel panel-default table-responsive">
				<div class="panel-heading">
					Responsive Table
					<span class="label label-info pull-right">790 Items</span>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-4 col-sm-4">
							<select class="input-sm form-control inline" style="width:130px;">
								<option value="0">All</option>
								<option value="1">Men</option>
								<option value="2">Women</option>
								<option value="3">Accessary</option>
							</select>
							<a class="btn btn-default btn-sm">Apply</a>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div>
				<table class="table table-striped" id="responsiveTable">
					<thead>
						<tr>
							<th>
								<label class="label-checkbox">
									<input type="checkbox" id="chk-all">
									<span class="custom-checkbox"></span>
								</label>
							</th>
							<th>Test</th>
							<th>Due Date</th>
							<th>Date Assigned</th>
							<th>In Progress</th>
							<th>Added by:</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for test in uncompleted_tests %}
						<tr id="test-{{test.id}}">
							<td>
								<label class="label-checkbox">
									<input type="checkbox" class="chk-row">
									<span class="custom-checkbox"></span>
								</label>
							</td>
							<td>{{test}}
								{% if test.created_at < new_time_threshold %}
								<span class="label label-success m-left-xs">
									New
								</span>
								{% endif %}
							</td>
							<td>{{test.deadline}}</td>
							<td>{{test.created_at}}</td>
							<td>
								{% if test.in_progress%}
									Yes
								{% else %}
									No
								{% endif %}
							</td>
							<td>{{test.coach_who_created.get_full_name}}</td>
							<td><a href="/quiz/qb_progression"><span class="label label-success">Start Quiz</span></a></td>
						</tr>
						{% endfor %}

					</tbody>
				</table>
				<div class="panel-footer clearfix">
					<ul class="pagination pagination-xs m-top-none pull-right">
						<li class="disabled"><a href="#">Previous</a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">Next</a></li>
					</ul>
				</div>
			</div><!-- /panel -->
			<div class="row dash-row">



				<div class="loading-overlay">
					<i class="loading-icon fa fa-refresh fa-spin fa-lg"></i>
				</div>
			</div><!-- /panel -->





			<a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>
			{% endblock %}
