{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% load app_filters %}

{% block content %}
	<div id="todo" class="todo quizzes">
		<table>
			<thead>
				<tr>
					<th>QUIZ</th>
					<th>SUBMITTED</th>
					<th>CORECT</th>
					<th>INCORRECT</th>
					<th>SKIPPED</th>
					<th>TAKE</th>
				</tr>
			</thead>
			<tbody id="quizzes-body">
				{% for quiz in quizzes %}
					<tr>
						<td>{{ quiz.0 }}</td>
						<td>{{ quiz.1 }}</td>
						<td>{{ quiz.2|floatformat }} %</td>
						<td>{{ quiz.3|floatformat }} %</td>
						<td>{{ quiz.4|floatformat }} %</td>
						<td><a href="/quizzes/take/{{ quiz.5 }}" >Take {{ quiz.0 }}</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block javascript %}
	<script src="{% static 'dashboard/js/sidebarSetActive.js' %}"></script>
{% endblock %}
