{% load staticfiles %}

::-webkit-scrollbar {
	display: none;
	width: 0;
	height: 0;
}

/*************************************************************************
wrappers
*************************************************************************/

div#getsnap-wrapper {
    height: 100vh;
    width: 100vw;
    margin: auto;
    text-align: center;
}

.login-wrapper {
	height: 100%;
	background: transparent;
	background-repeat: no-repeat;
	background-size: cover;
}

/*************************************************************************
text
*************************************************************************/

p {
	font-size: large;
	color: #FFF;
}

p a {
	font-size: large;
	text-decoration: underline;
	font-weight: bold;
	color: #9ccc65;
}

a {
	font-size: large;
	font-weight: bold;
	color: #9ccc65;
}

/*************************************************************************
forms
*************************************************************************/
form {
	position: absolute;
	height: 500px; width: 400px;
	margin: auto;
	border: 2px solid #9ccc65;
	border-radius: 5px;
	padding: 20px;
	top: 0; left: 0; bottom: 0; right: 0;
	background: white;
	text-align: center;
}

input.getsnap {
	height: 40px;
	width: 100%;
	margin: 0 0 15px 0;
	border: 1px solid #909090;
	border-radius: 2px;
	padding: 5px;
	font-size: 15px;
}

button {
	height: 40px;
	width: 100%;
	background: #9ccc65;
	color: #FFF;
	margin: 0;
	border: none;
	border-radius: 2px;
	padding: 0;
	font-size: 18px;
	font-weight: 700;
}

button:hover {
	background: #33691e;
}

/*************************************************************************
login
*************************************************************************/

.login-logo {
	margin: 80px 0px 60px 0px;
	width: 55%;
	min-width: 200px;
	max-width: 400px;
}
