#display-box {
  height: 700px;
  width: 402px;
}

.choose-offensive-formation-box, #display-box {
  height: 500px;
}

.formation-button {
  width: 100%;
  margin-top:1px;
  margin-bottom:1px;
}

#header-box {
  margin-bottom: 0px;
}

#pause-image-button {
  height: 20px;
}
