.change-plays-box, .display-play-box, .choose-offensive-formation-box {
  height: 590px;
  margin-bottom: 50px;
  margin-top: 50px;
}

#display-play-box {
  width: 500px;
}

#display-play-box .dash-header {
  margin-bottom: 0px;
}

.holds-play-buttons {
  background-color: #044144;
  height: 44px;
}

#play-image-header {
  width: 500px;
}

.formation-button {
  width: 100%;
  margin-top:1px;
  margin-bottom:1px;
}

.play-remove-button {
  width: 100%;
  margin-top:1px;
  margin-bottom:1px;
}

.change-plays-box .play-add-button {
  width: 100%;
  margin-top:1px;
  margin-bottom:1px;
}

.display-plays-in-test {
  height: 700px;
}

.display-plays-in-test .dash-col{
  margin-bottom:10px;
}

.playbook .dash-col{
  height: 700px;
  margin-bottom:10px;
}

.graph-box {
  height: 100%;
  width: 100%;
}

.graph-carousel {
  height: 455px;
}

#pause-image-button, #play-image-button, #refresh-image-button {
  height: 20px;
}

#restart-button {
  margin-right: 150px;
}

#edit-button {
  float: right;
}

.donut-chart {
  margin: 20px;
}

.donut-wrapper {
  clear: both;
}
