.change-plays-box, .display-play-box, .choose-offensive-formation-box, .choose-defensive-formation-box, .quiz-sidebar {
  height: 590px;
  margin-bottom: 50px;
  margin-top: 50px;
}

#display-play-box {
  width: 500px;
}

#display-play-box .dash-header {
  margin-bottom: 0px;
}

.holds-play-buttons {
  background-color: #044144;
  height: 44px;
}

#play-image-header {
  width: 500px;
}

.formation-button {
  width: 100%;
  margin-top:1px;
  margin-bottom:1px;
}

.play-remove-button {
  width: 100%;
  margin-top:1px;
  margin-bottom:1px;
}

.change-plays-box .play-add-button {
  width: 100%;
  margin-top:1px;
  margin-bottom:1px;
}

.display-plays-in-test {
  height: 700px;
}

.display-plays-in-test .dash-col{
  margin-bottom:10px;
}

.playbook .dash-col{
  height: 600px;
  margin-bottom:10px;
}

.playerbook .dash-col{
  height: 700px;
  margin-bottom:10px;
  text-align: center;
}

.dash-col .progress-wheel img{
  height: 150px;
  margin: auto;
}

.playerbook .tile-row {
  height: 25%;
  margin-top: 5%;
  margin-bottom: 0%;
}

.tile-row .col-lg-4{
  height: 100%;
}

.tile-row .panel-stat3{
  height: 100%;
  text-align:center;
}

.tile-row .panel-stat3 span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.graph-box {
  height: 100%;
  width: 100%;
}

.graph-carousel {
  height: 455px;
  width: 90%;
  margin-left: 20px;
}

#pause-image-button, #play-image-button, #refresh-image-button {
  height: 20px;
}

#restart-button {
  margin-right: 150px;
}

#edit-button {
  float: right;
}

.donut-chart {
  margin: 20px;
}

.donut-wrapper {
  clear: both;
  width: 90%;
}

.coach-home-col {
  height: 90%;
}

.coach-action-row{
  display:table;
  height: 40%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7.5%;
  margin-bottom: 7.5%;
  text-align: center;
}

.coach-action-row a{
  margin: auto;
  font-size: 18px;
  color: #2A6205;
}

.coach-action{
  display:table-cell;
}

.coach-action-icon{
  height: 100px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7%;
}

.coach-dash-analytics{
  height: 100%;
}

.coach-progress-wheel{
  width: 100%;
  height: 90%;
}

.coach-progress-wheel tr{
  line-height: 220px;
}

.coach-progress-wheel td{
  text-align: center;
  line-height: 220px;
  width: 100%;
  vertical-align: middle;
}

.coach-progress-wheel img{
  max-height: 220px;
  vertical-align: middle;
  display: inline;
}

.content-container{
  height: 600px;
  width: 100%;
}

.playbook-col{
    height: 600px;
    margin-bottom: 10px;
}

.playbook-col .col-lg-4{
  height:50%;
  border: 2px solid;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 50px;
  margin-bottom: -50px;
}

input.create-quiz{
  background-color: #517B36;
  color: #FFFFFF;
  height: 40px;
  width: 15%;
}

.datetime{
  display: inline-block;
}
.datetime br{
  display: none;
}

.datetime input{
  margin-left: 2px;
  margin-right: 25px;
}

.form-group{
  margin-left: 5%;
  font-size: 18px;
  width: 70%;
}

.create-quiz{
  margin-left: 10%;
  font-size: 18px;
}

.form-create-test label, .datetime label{
  font-size: 18px;
  width: 30%;
  text-align: center;
}

.form-create-test input, .form-create-test select{
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
}

.form-create-test p{
  font-size: 18px;
}

.form-create-test hr{
  border: 0;
  height: 2px;
  background: #333;
}
