{% load staticfiles %}

::-webkit-scrollbar {
	display: none;
	width: 0;
	height: 0;
}

/*************************************************************************
login
*************************************************************************/

.login-wrapper {
	height: 100%;
	background: transparent;
	background-repeat: no-repeat;
	background-size: cover;
}

.login-logo {
	margin: 80px 0px 60px 0px;
	width: 55%;
	min-width: 200px;
	max-width: 400px;
}

/*************************************************************************
getsnap
*************************************************************************/