#display-box {
  height: 650px;
  width: 550px;
}

.choose-offensive-formation-box, .quiz-sidebar {
  height: 650px;
}

.quiz-sidebar{
  margin-left: -2.4%;
}

.quiz-sidebar .text-area{
  height: 100px;
  text-align: center;
}

.quiz-sidebar span h3{
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  margin-top: 20px;
  margin-bottom: 20px;
}

.quiz-sidebar-table{
  width: 100%;
  height: 90%;
  table-layout: fixed;
  vertical-align: middle;
  text-align: center middle;
}

.quiz-sidebar-table tr.top{

  height: 25%;
}

.quiz-sidebar-table tr.middle{
  height: 50%;
}

.quiz-sidebar-table tr.bottom{

  height: 25%;
}

.sidebar-footer{
  height: 20%;
  width: 100%;
  margin-top: 80%;
  position: absolute;
  text-align: center;
}

.team-logo-wrapper{
  width: 80%;
  margin-left: 10%;
  height: 150px;
  text-align: center;
  padding-top: 25px;
}

.dash-header-logo{
  height: 100px;
  display:block;
  margin:auto;
}

.top-nav-table{
  width: 100%;
  height: 50px;
  table-layout: fixed;
}

.top-nav-table .left{
  text-align: left;
}

.top-nav-table .middle{
  text-align: left;
  padding-left: 50px;
}

.top-nav-table .middle img{
  height: 50px;
  margin-right: 20px;
}

.top-nav-table .right{
  text-align: right;
}

.dash-footer-logo{
  height: 75px;
}

.formation-button, .offensive-formation-button, .group-button {
  width: 90%;
  height: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top:5%;
  margin-bottom:5%;
  background-color: #157970;
  color: #FFFFFF;
}

.two-column-table td{
  width: 50%;
  height: 100px;
}

.three-column-table td{
  width: 33.33%;
  height: 75px;
}

.formation-list, .play-list{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
}

#header-box {
  margin-bottom: 0px;
}

.holds-play-buttons button img{
    height: 20px;
}

.multiple-choice-answers{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.multiple-choice-answers td{
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  border: 1px solid black;
  background-color: #EEEEEE;
  padding: 5px;
}

.multiple-choice-answers button{
  background-color: #C5E1A5;
  width: 90%;
}

.multiple-choice-answers button:hover{
  background-color: #B7E798;
}

.multiple-choice-answers button.clicked{
  background-color: #33691E;
}

#correct-answer-index{
  display: none;
}

#skip-button{
  border-radius: 25px;
  background: #C5E1A5;
  padding: 20px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  height: 50px;
}

#skip-button span{
  margin-top: -5px;
}

#skip-button-skips{
  float: right;
  margin-top: -5px;
}

.openable .notification-label{
  margin-left: -15px;
  position: relative;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.hidden{
  display: none;
}

.main-sidebar{
  width: 12%;
  height: 100%;
  min-width: 150px;
}

.top-nav-button{
  height: 20px;
}

#quiz-sidebar{
  margin-left: 50px;
  height: 650px;
  width: 330px;
}

#quiz-scoreboard{
  margin-left: 50px;
  font-size: 20px;
  height: 650px;
  width: 330px;
}

.scoreboard-table{
  height: 90%;
  width: 100%;
  table-layout: auto;
  text-align: center;
}

.scoreboard-table td{
  height: 33%;
}

.holds-play-buttons{
  width: 100%;
  height: 50px;
}

.holds-play-buttons table{
  width: 90%;
  height: 100%;
  margin-left: 5%;
  table-layout: auto;
}

.holds-play-buttons button{
  background: none;
  border: none;
  width: 80%;
  height: 80%;
}
