#display-box {
  height: 700px;
  width: 402px;
}

.choose-offensive-formation-box, .quiz-sidebar, #display-box {
  height: 500px;
}

.quiz-sidebar{
  margin-left: -2.4%;
}

.quiz-sidebar .text-area{
  height: 100px;
  text-align: center;
}

.quiz-sidebar span h3{
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  margin-top: 20px;
  margin-bottom: 20px;
}

.formation-button {
  width: 100%;
  margin-top:1px;
  margin-bottom:1px;
}

#header-box {
  margin-bottom: 0px;
}

#pause-image-button, #play-image-button, #refresh-image-button {
  height: 20px;
}

.multiple-choice-answers{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.multiple-choice-answers td{
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  border: 1px solid black;
  background-color: #EEEEEE;
  padding: 5px;
}

.multiple-choice-answers button{
  background-color: #5AB71E;
  width: 90%;
}

.multiple-choice-answers button:hover{
  background-color: #B7E798;
}

.multiple-choice-answers button.clicked{
  background-color: #2A6205;
}

#correct-answer-index{
  display: none;
}

#skip-button{
  border-radius: 25px;
  background: #5AB71E;
  padding: 20px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  height: 50px;
}

#skip-button span{
  margin-top: -5px;
}

#skip-button #skips{
  float: right;
  margin-top: -5px;
}

.openable .notification-label{
  margin-left: -15px;
  position: relative;
}
