{% load staticfiles %}

.login-wrapper {
	height: 100%;
	background: transparent;
	background-repeat: no-repeat;
	background-size: cover;
}

.login-logo {
	margin: 80px 0px 60px 0px;
	width: 55%;
	min-width: 300px;
	max-width: 785px;
}

.panel {
	margin: 0% auto 2% auto;
	width: 35%;
	min-width: 300px;
	max-width: 500px;
}