{% load staticfiles %}

* {
	box-sizing: border-box;
}

#wrapper {
	height: 100%;
	overflow-x: hidden;
}

#main-container {
	min-height: 100vh;
	position: relative;
}

div.fullscreen {
	width: 100vw;
	height: 100vw;
	/*position: absolute;*/
	z-index: 10;
}

.no-border {
	border: none;
	border-style: hidden;
}

/*************************************************************************
interactive header
*************************************************************************/

div.interactive-header {
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #33691e;
	color: white;
	margin: none;
	font-size: large;
	text-align: center;
}

div.interactive-header.placeholder {
	color: silver;
}

div.interactive-header.selected {
	background-color: white;
	color: #33691e;
}

div.interactive-header.error {
	background-color: maroon;
	color: silver;
}

div.interactive-header p {
	height: 100%;
	margin: none;
}

/*************************************************************************
top navbar and sidebar css
*************************************************************************/
#custom-top-nav {
	min-height: 50px;
	min-width: 310px;
	background-color: #fff;
	border-bottom: 3px solid #33691e;
	margin: 7.5px 0px 7.5px 0px;
	padding: 0px 15px 0px 30px;
	white-space: nowrap;
}

#custom-top-nav ul {
	list-style-type: none;
}

#custom-top-nav .nav-notification > li > a, 
#custom-top-nav .nav-notification > li > span {
	color: #999;
	display: block;
	padding: 13px 15px;
	position: relative;
	transition: all 0.2s ease 0s;
}

.full-sidebar {
	width: 12vw;
	height: 100vh;
	overflow: scroll;
}

.full-sidebar-container,
.full-sidebar-container#main-container {
	margin-left: 12vw;
}

.full-sidebar .sidebar-header {
	height: 20vh;
	padding-top: 2vh;
	padding-bottom: 2vh;
}

.full-sidebar .dash-header-logo {
	height: 16vh;
	display: block;
	width: auto;
	margin-right: auto;
	margin-left: auto;
}

.full-sidebar .sidebar-selection-menu {
	height: 70vh;
	padding-right: auto;
	padding-left: auto;
}

.full-sidebar .sidebar-selection-menu li {
	height: 14vh;
}

.full-sidebar .sidebar-selection-menu img {
	height: 7vh;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

.full-sidebar .sidebar-footer {
	height: 10vh;
	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-right: auto;
	padding-left: auto;
}

.full-sidebar .dash-footer-logo {
	display: block;
	height: 8vh;
	width: auto;
	margin-right: auto;
	margin-left: auto;
}

.small-sidebar {
	width: 5vw;
	height: 100vh;
	overflow: scroll;
}

.small-sidebar .main-menu li {
	text-align: center;
}

.small-sidebar .menu-text {
	display: none;
}

.small-sidebar-container,
.small-sidebar-container#main-container {
	margin-left: 5vw;
}

.small-sidebar .sidebar-header {
	height: 20vh;
	padding-top: 5vh;
	padding-bottom: 5vh;
}

.small-sidebar .dash-header-logo {
	height: 10vh;
	display: block;
	width: auto;
	margin-right: auto;
	margin-left: auto;
}

.small-sidebar .sidebar-selection-menu {
	height: 65vh;
	padding-right: auto;
	padding-left: auto;
}

.small-sidebar .sidebar-selection-menu li {
	height: 14vh;
}

.small-sidebar .sidebar-selection-menu img {
	height: 6vh;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

.small-sidebar .sidebar-footer {
	height: 15vh;
	padding-top: 6vh;
	padding-bottom: 3vh;
	padding-right: auto;
	padding-left: auto;
}

.small-sidebar .dash-footer-logo {
	display: block;
	height: 6vh;
	width: auto;
	margin-right: auto;
	margin-left: auto;
}

/*************************************************************************
coach homepage
*************************************************************************/
.coach-button-container {
	display: flex;
	justify-content: space-between;
	padding: 0px 50px 0px 50px;
	margin: 10px 0px 30px 0px;
}

.coach-button-container a {
	height: 100px;
	width: 125px;
	display: table;
}

.coach-button-container a p {
	display: table-cell;
	font-size: 18px;
	color: white;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.coach-button-container a#create-formation-link {
	background-color: rgb(87, 138, 53);
	background-image: url("/static/dashboard/images/create-formation-action-box.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.coach-button-container a#create-play-link {
	background-color: rgb(22, 150, 136);
	background-image: url("/static/dashboard/images/create-play-action-box.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.coach-button-container a#create-quiz-link {
	background-color: rgb(253, 151, 39);
	background-image: url("/static/dashboard/images/create-quiz-action-box.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.coach-button-container a#groups-link {
	background-color: rgb(97, 125, 138);
	background-image: url("/static/dashboard/images/groups-action-box.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.coach-button-container a#analytics-link {
	background-color: rgb(72, 167, 242);
	background-image: url("/static/dashboard/images/analytics-action-box.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.homepage-quiz-table {
	width: 100%;
}

.homepage-quiz-table th {
	height: 30px;
	background-color: #d0d3d5;
	color: #000000;
	font-size: 16px;
	text-align: center;
}

.homepage-quiz-table tr {
	height: 30px;
	font-size: 14px;
	color: #000000;
	border: 2px solid #c5e1a5;
}

.homepage-quiz-table td {
	vertical-align: middle;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

.homepage-quiz-table .button {
	background-color: #9ccc65;
	padding: 8px;
}

/*************************************************************************
player homepage
*************************************************************************/

.homepage-todo-table {
	width: 100%;
}

.homepage-todo-table th {
	height: 30px;
	background-color: #d0d3d5;
	color: #000000;
	font-size: 16px;
	text-align: center;
}

.homepage-todo-table tr {
	height: 30px;
	font-size: 14px;
	color: #000000;
	border: 2px solid #c5e1a5;
}

.homepage-todo-table td {
	vertical-align: middle;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

.homepage-todo-table .button {
	background-color: #9ccc65;
	padding: 8px;
}

.coach-home .action-boxes, 
.playbook .action-boxes, 
.all-groups .action-boxes .create-groups {
	margin-left: 3.5%;
	width: 95%;
	height: 22%;
	margin-bottom: 2%;
	display: inline-block;
}

.playbook .action-boxes {
	margin-bottom: 5%;
}

.all-groups .action-boxes {
	margin-bottom: 0px;
}

.create-groups .action-boxes {
	margin-bottom: 0px;
}

.coach-home .main-content-area, .playbook .main-content-area {
	margin-left: 3.5%;
	width: 55%;
	height: 500px;
	margin-right: 5%;
	display: inline-block;
	float: left;
}

.coach-home .main-content-area .dash-col {
	border: none;
}

.coach-home .stacked-col {
	width: 35%;
	height: 95%;
	display: inline-block;
	float: left;
}

.coach-home .stacked-col {
	width: 35%;
	height: 95%;
	display: inline-block;
	float: left;
}

.playbook .stacked-col {
	width: 35%;
	height: 100%;
	display: inline-block;
	float: left;
}

.edit-test .main-content-area {
	margin-left: 2.5%;
	width: 45%;
	height: 630px;
	margin-right: 2.5%;
	display: inline-block;
	float: left;
}

.edit-test .stacked-col {
	width: 25%;
	height: 100%;
	display: inline-block;
	float: left;
	margin-right: 2.5%;
}

.edit-test .tertiary-content-area {
	width: 20%;
	height: 630px;
	margin-top: 50px;
	display: inline-block;
	float: left;
}

.coach-home .secondary-content-area, 
.playbook .secondary-content-area, 
.edit-test .secondary-content-area {
	width: 100%;
	min-height: 200px;
	max-height: 500px;
	border-left: 1px solid #777;
	border-right: 1px solid #777;
	border-bottom: 1px solid #777;
	padding: 0px;
}

.coach-home .top, 
.playbook .top {
	margin-bottom: 20px;
}

.create-groups .action-boxes, 
.all-groups .action-boxes, 
.manage-groups .action-boxes {
	margin-bottom: 0px;
}

.create-groups .group-home, 
.all-groups .group-home, 
.manage-groups .group-home {
	margin-bottom: 1%;
}

.create-groups select, 
.all-groups select, 
.manage-groups select {
	width: 60%;
	margin-left: 2%;
	margin-bottom: 2%;
}

.create-groups input[type="text"], 
.all-groups input[type="text"], 
.manage-groups input[type="text"],
.create-quiz input[type="text"] {
	width: 60%;
	line-height: 2em;
}

.create-groups input[type="submit"], 
.all-groups input[type="submit"], 
.manage-groups input[type="submit"],
.create-quiz input[type="submit"] {
	margin-left: 3%;
	margin-bottom: 2%;
	width: auto;
}

.create-groups input[type="button"], 
.all-groups input[type="button"], 
.manage-groups input[type="button"],
.create-quiz input[type="button"] {
	margin-left: 3%;
	margin-bottom: 2%;
	width: auto;
}

.create-groups form, 
.create-groups table, 
.all-groups form, 
.all-groups table, 
.manage-groups form, 
.manage-groups table,
.create-quiz form, 
.create-quiz table   {
	margin-left: 2%;
	margin-bottom: 2%;
	width: 90%;
}

.create-groups form, 
.all-groups form, 
.manage-groups form {
	margin-left: 2%;
	margin-bottom: 1%;
	width: 90%;
}

.change-plays-box, 
.display-play-box, 
.choose-offensive-formation-box, 
.choose-defensive-formation-box, 
.quiz-sidebar {
	/*height: 600px;*/
	margin-bottom: 50px;
	margin-top: 50px;
}

.top-nav-table {
	width: 100%;
	height: 50px;
	table-layout: fixed;
}

.top-nav-table .left {
	text-align: left;
}

.top-nav-table .middle {
	text-align: center;
	padding-right: 4%;
}

.top-nav-table .middle img{
  height: 50px;
}

.top-nav-table .right{
  text-align: right;
}

#display-play-box .dash-header {
  margin-bottom: 0px;
}

#play-image-header {
  width: 500px;
}

.formation-button, .offensive-formation-button, .group-button {
  width: 90%;
  height: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top:5%;
  margin-bottom:5%;
  background-color: #157970;
  color: #FFFFFF;
}

.defensive-play-button {
  width: 90%;
  height: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top:5%;
  margin-bottom:5%;
  background-color: #D07322;
  color: #FFFFFF;
}

.play-remove-button {
  width: 90%;
  height: 90%;
  margin-top:1px;
  margin-bottom:1px;
  background-color: #777777;
  color: #FFFFFF;
}

.play-add-button {
	width: 90%;
	height: 90%;
	margin-top:1px;
	margin-bottom:1px;
	background-color: #D07322;
	color: #FFFFFF;
}

.display-plays-in-test .dash-col {
	margin-bottom:10px;
}

.coach-home .dash-col {
	min-height: 200px;
}

.playbook .dash-col {
	height: 600px;
	margin-top: 0px;
}

.playerbook .dash-col{
	height: 600px;
	margin-bottom:10px;
	text-align: center;
}

.playerbook .recently-taken {
	display: none;
}

.dash-col .progress-wheel img {
	height: 150px;
	margin: auto;
}

.playerbook .tile-row {
	height: 25%;
	margin-top: 5%;
	margin-bottom: 0%;
}

.tile-row .col-lg-4 {
	height: 100%;
}

.tile-row .panel-stat3 {
	height: 100%;
	text-align:center;
}

.tile-row .panel-stat3 span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.graph-box {
  height: 100%;
  width: 100%;
}

.graph-carousel {
  height: 455px;
  width: 90%;
  margin-left: 20px;
}

.donut-chart {
  margin: 20px;
}

.donut-wrapper {
  clear: both;
  width: 90%;
}

.coach-home-col {
  height: 90%;
}

.coach-action-row{
  display:table;
  text-align: center;
}

.coach-action-row a{
  margin: auto;
  font-size: 18px;
  color: #33691E;
}

.coach-action{
  display:table-cell;
}

.coach-action-icon{
  height: 75px;
  width: 75px;
  margin-left: auto;
  margin-right: auto;
}

.coach-dash-analytics{
  height: 100%;
}

.coach-progress-wheel{
  width: 100%;
  height: 90%;
}

.coach-progress-wheel tr{
  line-height: 220px;
}

.coach-progress-wheel td{
  text-align: center;
  line-height: 220px;
  width: 100%;
  vertical-align: middle;
}

.coach-progress-wheel img{
  max-height: 220px;
  vertical-align: middle;
  display: inline;
}

.content-container{
  height: 600px;
  width: 100%;
}

.playbook-col{
	height: 600px;
	margin-bottom: 10px;
}

.playbook-col .col-lg-4{
  height:50%;
  border: 2px solid;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 10px;
  margin-bottom: -10px;
}

input.create-quiz{
  background-color: #7CB34A;
  color: #FFFFFF;
  height: 40px;
  width: 15%;
  margin-top: 30px;
}

.datetime{
  display: inline-block;
}
.datetime br{
  display: none;
}

.datetime input{
  margin-left: 2px;
  margin-right: 25px;
}

.form-group, .form-group p{
	margin-left: 2%;
	font-size: 18px;
	width: 70%;
	margin-bottom: 15px;
}

.form-group p input{
	width: 30%;
	text-align: left;
}

.form-group .small-text{
	font-size: 12px;
}

.form-create-test input.create-quiz{
	margin-left: 20%;
	width: 20%;
	font-size: 20px;
}

.form-create-test label, .datetime label{
	font-size: 18px;
	width: 30%;
	text-align: center;
}

.form-create-test input, .form-create-test select{
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
}

.form-create-test p{
  font-size: 18px;
}

.form-create-test hr{
  border: 0;
  height: 2px;
  background: #333;
}

.openable .notification-label {
	margin-left: -15px;
	position: relative;
}

.scrollable-table {
	overflow-y: auto;
	height: 80%;
}

.non-scrollable-table-wrapper {
	overflow-y: hidden;
	height: 80%;
}

.two-column-table td {
	width: 50%;
	height: 100px;
}

.three-column-table td {
	width: 33.33%;
	height: 75px;
}

.formation-list, .play-list {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	table-layout: fixed;
}

.action-boxes .col-lg-3 {
	text-align: center;
	height: 100%;
}

.action-boxes span {
	font-size: 17px;
	margin-top: auto;
	margin-bottom: auto;
}

.unit-form {
	width: 60%;
	font-size: 17px;
	margin-bottom: 20px;
	background-color: #FFFFFF;
	border: 3px solid #7CB34A;
	color: #555555;
}

.hidden {
	display: none;
}

.test-row-icon {
	height: 30px;
	width: 30px;
}

.to-do-table {
	width: 90vw;
}

.to-do-table tbody tr {
	height: 50px;
	font-size: 14px;
	color: #000000;
	border: 2px solid #C5E1A5;
}

.to-do-table tbody td {
	vertical-align: middle;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

.to-do-table th {
	background-color: #D0D3D5;
	font-size: 16px;
	color: #000000;
	text-align: center;
}

.to-do-table .button {
	background-color: #9CCC65;
	padding: 8px;
}

.news-feed-table tbody tr {
	border: none;
}

.news-feed-table tbody tr td {
	font-size: 15px;
	vertical-align: middle;
	text-align: left;
	color: #33691E;
	padding-top: 8px;
	border: none;
	min-width: 50px;
}

.home-analytics-table {
	table-layout: fixed;
	width: 100%;
	text-align: center;
}

.home-analytics-table img {
	height: 200px;
}

.action-table {
	width: 100%;
	table-layout: fixed;
	text-align: center;
	vertical-align: middle;
}
.coach-action-table {
	width: 85%;
	table-layout: fixed;
}

.coach-action-table td.blank {
	width: 85px;
}

.coach-action-table td {
	color: #FFF;
	height: 100px;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
}

.coach-action-table .link-wrapper {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	height: 100%;
}

.player-home .analytics-table {
	margin-top: 40px;
}

.analytics-table {
	width: 100%;
	margin: 30px 0px 15px 0px;
	text-align: center;
	table-layout: fixed;
}

.analytics-main-table th {
	text-align: center;
}

.analytics-main-table td{
  vertical-align: top;
  text-align: center;
}

.analytics-table td canvas{
  width: 100%;
  max-height: 100%;
  margin-bottom: 10px;
}

.analytics-table td img{
  margin-bottom: -20px;
  margin-right: 3px;
}

.analytics-table td span{
  font-size: 16px;

}

.coach-home .alerts-list td{
  border: none;
}

.alerts-list{
  width: 60%;
  margin-left: 20%;
  text-align: center;
  vertical-align: middle;
}

.alerts-list th {
	color: #33691E;
	text-align: center;
	width: 50%;
	height: 45px;
	font-size: 22px;
}

.alerts-list th span {
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	border-bottom: 1px solid #33691E;
}

.alerts-list td {
	text-align: center;
	width: 50%;
	height: 35px;
	font-size: 18px;
}

.analytics-table-row {
	width: 100%;
	margin-top: 40px;
}

.analytics-table-row .table-header {
	width: 100%;
	font-size: 24px;
	text-align: center;
	margin-bottom: 20px;
	line-height: 30px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 5px;
	padding-bottom: 5px;

}

.analytics-table-row .table-header span {
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border-bottom: 2px solid #777;
}

.analytics-graph {
	height: 200px;
}

.playerbook .table-wrapper {
	margin-top: 1%;
	height: 90%;
	overflow-y: hidden;
}

.playerbook-action-table {
	table-layout: fixed;
	width: 100%;
	height: 100%;
	border-collapse: separate;
	border-spacing: 20px;
}

.playerbook-action-table td {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #7CB34A;
}

.start-quiz {
	background-color: #8CD0D3;
	height: 30px;
	padding: 8px;
	width: 70%;
}

.group-select-panel {
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}

.group-select-panel .unit-form {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 1%;
	height: 30px;
	width: 30%;
}

.to-do #group-form{
	margin-bottom: 20px;
}

.group-home .table-wrapper{
  width: 100.4%;
  overflow-x: hidden;
  margin-left: -1px;
}

.player-list{
  width: 100%;
  max-height: 90%;
  table-layout: fixed;
}

.player-list .clicked span{
  border: 1 px solid #777;
  font-size: 16px;
  color: #FFF;
  padding: 5px;
  background-color: #D80027;
}

.player-list .ui-draggable-dragging td {
	width: 100px;
}

.player-list img {
	margin-top: 10px;
	margin-bottom: 10px;
	max-height: 20px;
}

.player-list button {
	background: none;
	border: none;
}

.player-list th, .player-list td {
	height: 50px;
	text-align: center;
}

.player-list th {
	border-color: #33691E;
	border-style: solid;
	border-width: 2px;
}

.player-list td {
	border-color: #777;
	border-style: solid dashed;
	border-width: 1px;
}

.group-home .news-col {
	height: 550px;
}

.player-home .news-col, 
.player-home .dash-col {
	height: 600px;
}

.player-home .dash-col {
	width: 65%;
	border: none;
}

.player-home .news-col {
	color: #33691E;
	width: 30%;
}

.player-home .dash-row, 
.player-home .top-row {
	height: 40%;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
}

.player-home .top-row {
	margin-bottom: 100px;
}

.player-home .dash-row .table-wrapper {
	border-left: 2px solid #C5E1A5;
	border-right: 2px solid #C5E1A5;
	border-bottom: 2px solid #C5E1A5;
	height: 220px;
}

.coach-link {
	color: #15797E;
}

.play-link, 
.formation-link {
	margin-left: 4px;
	color: #C5E1A5;
}

.stacked-row {
	height: 50%;
	margin: 0px;
	width: 100%;
	border-bottom: 1px solid #777;
}

.group-table {
	width: 100%;
	text-align: center;
}

.no-border {
	border: none;
}

.table-wrapper {
	height: 100%;
}

.table-with-footer {
	height: 90%;
}

.group-analytics-col {
	height: 575px;
}

.group-analytics {
	max-height: 100%;
	width: 100%;
	text-align: center;
	table-layout: fixed;
	overflow: hidden;
}

.group-analytics td{

}

.group-analytics h3{
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.table-footer{
  width: 100%;
  margin: 0px;
  height: 10%;
  border-top: 3px solid #33691E;
}

.group-footer-table{
  table-layout: fixed;
  margin-left: 10%;
  width: 80%;
  height: 100%;
  text-align: center;
}

.group-home #display-group-box .table-wrapper{
  height: 90%;
}
.main-header h4{
  line-height: 30px;
}

.top-nav-button{
  height: 20px;
}

.form-create-test .scrollable-table{
  max-height: 350px;
}

.form-create-test .players-to-test{
  table-layout: fixed;
  width: 60%;
  margin-left: 8%;
}

.form-create-test .players-to-test th{
  height: 30px;
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
  color: #000000;
  border: 2px solid #C5E1A5;
  table-layout: auto;
}

.form-create-test .players-to-test td{
  height: 50px;
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
  color: #000000;
  padding-top: 25px;
  padding-bottom: 25px;
  border: 2px solid #C5E1A5;
}

.analytics-main-table{
  width: 100%;
  table-layout: auto;
  font-size: 22px;
  text-align: center;
  vertical-align: top;
  margin-top: 25px;
}

.analytics-main-table canvas{
  margin-top: 30px;
}

.analytics-play-list{
	margin-top: 50px;
	width: 50%;
	margin-left: 25%;
	table-layout: auto;
	font-size: 18px;
	text-align: center;
	vertical-align: top;
}

.analytics-play-list th{
  text-align: center;
  color: #FFF;
}

.analytics-play-list th.first{
  background: #33691E;
}

.analytics-play-list th.second{
  background: #558B2F;
}

.analytics-play-list td, 
.analytics-play-list th {
	border: 1px solid #000;
	padding: 8px;
}

.panel {
	border: none;
}

.dash-row {
	border: none;
}

.status-complete {
	background-color: #558B2F;
	padding: 8px;
}

select#id_player {
	display: none;
}

.fa-minus-circle.red {
	color: red;
}

.fa-plus-circle.green {
  	color: green;
}

.create-quiz label {
	width: 40px;
	text-align: right;
}

div#create-formation div#choose-existing-formation {
	height: 78vh;
}

div.header {
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #33691e;
	color: white;
	font-size: large;
	text-align: center;
}

div.header.placeholder {
	color: silver;
}

div.formation-table table {
	width: 100%;
	text-align: center;
}

div.formation-table td {
	padding: 1%;
}

div.formation-table button {
	width: 95%;
	height: 95%;
	min-height: 50px;
}

.bordered-div {
	padding: 0;
	border-color: #777;
	border-style: solid;
	border-width: 2px;
	margin-left: 10px;
	margin-right: 10px;
}

.display-buttons{
	width: 100%;
	height: 50px;
}

.display-buttons table{
	width: 90%;
	height: 50px;
	margin-left: 5%;
	table-layout: auto;
}

.display-buttons button{
	background: none;
	border: none;
	width: 80%;
	height: 50px;
}

.display-buttons button img{
	height: 20px;
}

#grey-container {
	padding: 12px;
}
